/* Atelier Dune Light - Zed Industries */
pre.athl {
  background-color: #fefbecff; color: #20201dff;
}
.athl-attribute {
  color: #6684dfff;
}
.athl-boolean {
  color: #61ac39ff;
}
.athl-comment {
  color: #999580ff;
}
.athl-comment-doc {
  color: #6e6b5eff;
}
.athl-constant {
  color: #61ac39ff;
}
.athl-constructor {
  color: #6684dfff;
}
.athl-embedded {
  color: #20201dff;
}
.athl-emphasis {
  color: #6684dfff;
}
.athl-emphasis-strong {
  color: #6684dfff;
  font-weight: 700;
}
.athl-enum {
  color: #b65712ff;
}
.athl-function {
  color: #6583e1ff;
}
.athl-function-method {
  color: #6583e1ff;
}
.athl-function-special-definition {
  color: #ae9512ff;
}
.athl-hint {
  color: #b37979ff;
  font-weight: 700;
}
.athl-keyword {
  color: #b854d4ff;
}
.athl-label {
  color: #6684dfff;
}
.athl-link_text {
  color: #b65712ff;
  font-style: italic;
}
.athl-link_uri {
  color: #61ac39ff;
}
.athl-number {
  color: #b65610ff;
}
.athl-operator {
  color: #6e6b5eff;
}
.athl-predictive {
  color: #c88a8aff;
  font-style: italic;
}
.athl-preproc {
  color: #20201dff;
}
.athl-primary {
  color: #292824ff;
}
.athl-property {
  color: #d73737ff;
}
.athl-punctuation {
  color: #292824ff;
}
.athl-punctuation-bracket {
  color: #6e6b5eff;
}
.athl-punctuation-delimiter {
  color: #6e6b5eff;
}
.athl-punctuation-list_marker {
  color: #292824ff;
}
.athl-punctuation-special {
  color: #d43451ff;
}
.athl-string {
  color: #5fac38ff;
}
.athl-string-escape {
  color: #6e6b5eff;
}
.athl-string-regex {
  color: #1ead82ff;
}
.athl-string-special {
  color: #d43451ff;
}
.athl-string-special-symbol {
  color: #5fac38ff;
}
.athl-tag {
  color: #6684dfff;
}
.athl-text-literal {
  color: #b65712ff;
}
.athl-title {
  color: #20201dff;
  font-weight: 700;
}
.athl-type {
  color: #ae9512ff;
}
.athl-variable {
  color: #292824ff;
}
.athl-variable-special {
  color: #b854d4ff;
}
.athl-variant {
  color: #ae9512ff;
}
