/* Atelier Forest Light - Zed Industries */
pre.athl {
  background-color: #f0eeedff; color: #1b1918ff;
}
.athl-attribute {
  color: #407ee6ff;
}
.athl-boolean {
  color: #7a9728ff;
}
.athl-comment {
  color: #9c9491ff;
}
.athl-comment-doc {
  color: #68615eff;
}
.athl-constant {
  color: #7a9728ff;
}
.athl-constructor {
  color: #407ee6ff;
}
.athl-embedded {
  color: #1b1918ff;
}
.athl-emphasis {
  color: #407ee6ff;
}
.athl-emphasis-strong {
  color: #407ee6ff;
  font-weight: 700;
}
.athl-enum {
  color: #df5421ff;
}
.athl-function {
  color: #3f7ee7ff;
}
.athl-function-method {
  color: #3f7ee7ff;
}
.athl-function-special-definition {
  color: #c38417ff;
}
.athl-hint {
  color: #a67287ff;
  font-weight: 700;
}
.athl-keyword {
  color: #6666eaff;
}
.athl-label {
  color: #407ee6ff;
}
.athl-link_text {
  color: #df5421ff;
  font-style: italic;
}
.athl-link_uri {
  color: #7a9728ff;
}
.athl-number {
  color: #df521fff;
}
.athl-operator {
  color: #68615eff;
}
.athl-predictive {
  color: #be899eff;
  font-style: italic;
}
.athl-preproc {
  color: #1b1918ff;
}
.athl-primary {
  color: #2c2421ff;
}
.athl-property {
  color: #f22c40ff;
}
.athl-punctuation {
  color: #2c2421ff;
}
.athl-punctuation-bracket {
  color: #68615eff;
}
.athl-punctuation-delimiter {
  color: #68615eff;
}
.athl-punctuation-list_marker {
  color: #2c2421ff;
}
.athl-punctuation-special {
  color: #c33ff3ff;
}
.athl-string {
  color: #7a9725ff;
}
.athl-string-escape {
  color: #68615eff;
}
.athl-string-regex {
  color: #3c96b8ff;
}
.athl-string-special {
  color: #c33ff3ff;
}
.athl-string-special-symbol {
  color: #7a9725ff;
}
.athl-tag {
  color: #407ee6ff;
}
.athl-text-literal {
  color: #df5421ff;
}
.athl-title {
  color: #1b1918ff;
  font-weight: 700;
}
.athl-type {
  color: #c38417ff;
}
.athl-variable {
  color: #2c2421ff;
}
.athl-variable-special {
  color: #6666eaff;
}
.athl-variant {
  color: #c38417ff;
}
