/* Atelier Savanna Light - Zed Industries */
pre.athl {
  background-color: #ecf4eeff; color: #171c19ff;
}
.athl-attribute {
  color: #488b90ff;
}
.athl-boolean {
  color: #499963ff;
}
.athl-comment {
  color: #77877cff;
}
.athl-comment-doc {
  color: #526057ff;
}
.athl-constant {
  color: #499963ff;
}
.athl-constructor {
  color: #488b90ff;
}
.athl-embedded {
  color: #171c19ff;
}
.athl-emphasis {
  color: #488b90ff;
}
.athl-emphasis-strong {
  color: #488b90ff;
  font-weight: 700;
}
.athl-enum {
  color: #9f713cff;
}
.athl-function {
  color: #468b8fff;
}
.athl-function-method {
  color: #468b8fff;
}
.athl-function-special-definition {
  color: #a07d3aff;
}
.athl-hint {
  color: #66847cff;
  font-weight: 700;
}
.athl-keyword {
  color: #55859bff;
}
.athl-label {
  color: #488b90ff;
}
.athl-link_text {
  color: #9f713cff;
  font-style: italic;
}
.athl-link_uri {
  color: #499963ff;
}
.athl-number {
  color: #9f703bff;
}
.athl-operator {
  color: #526057ff;
}
.athl-predictive {
  color: #75958bff;
  font-style: italic;
}
.athl-preproc {
  color: #171c19ff;
}
.athl-primary {
  color: #232a25ff;
}
.athl-property {
  color: #b16038ff;
}
.athl-punctuation {
  color: #232a25ff;
}
.athl-punctuation-bracket {
  color: #526057ff;
}
.athl-punctuation-delimiter {
  color: #526057ff;
}
.athl-punctuation-list_marker {
  color: #232a25ff;
}
.athl-punctuation-special {
  color: #857368ff;
}
.athl-string {
  color: #479962ff;
}
.athl-string-escape {
  color: #526057ff;
}
.athl-string-regex {
  color: #1b9aa0ff;
}
.athl-string-special {
  color: #857368ff;
}
.athl-string-special-symbol {
  color: #479962ff;
}
.athl-tag {
  color: #488b90ff;
}
.athl-text-literal {
  color: #9f713cff;
}
.athl-title {
  color: #171c19ff;
  font-weight: 700;
}
.athl-type {
  color: #a07d3aff;
}
.athl-variable {
  color: #232a25ff;
}
.athl-variable-special {
  color: #55859bff;
}
.athl-variant {
  color: #a07d3aff;
}
