/* autumn_night */
pre.autumn-hl { background-color: #090909; color: #F3F2CC; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-variable.ahl-other.ahl-member { color: #cfba8b; }
.ahl-diagnostic.ahl-warning { color: #ffff9f; }
.ahl-keyword { color: #F05E48; }
.ahl-type { font-style: italic; color: #F3F2CC; }
.ahl-string { color: #99be70; }
.ahl-markup.ahl-link.ahl-url { color: #72a59e; }
.ahl-comment { color: #626C66; }
.ahl-namespace { color: #F3F2CC; }
.ahl-function { color: #FAD566; }
.ahl-markup.ahl-heading { color: #FAD566; }
.ahl-variable { color: #F3F2CC; }
.ahl-diff.ahl-plus { color: #99be70; }
.ahl-diagnostic.ahl-error { color: #F05E48; }
.ahl-warning { color: #ffff9f; }
.ahl-diagnostic.ahl-info { text-decoration: underline; }
.ahl-debug { color: #ffff9f; }
.ahl-info { color: #ffff9f; }
.ahl-diagnostic { text-decoration: underline;color: #626C66; background-color: #111111; }
.ahl-label { color: #F05E48; }
.ahl-constant.ahl-character.ahl-escape { color: #86c1b9; }
.ahl-error { color: #F05E48; }
.ahl-constant.ahl-numeric { color: #86c1b9; }
.ahl-special { color: #FAD566; }
.ahl-constructor { color: #FAD566; }
.ahl-markup.ahl-quote { color: #cfba8b; }
.ahl-hint { color: #aaaaaa; }
.ahl-diff.ahl-delta { color: #626C66; }
.ahl-diff.ahl-minus { color: #F05E48; }
.ahl-markup.ahl-link.ahl-text { color: #F3F2CC; }
.ahl-markup.ahl-list { color: #F3F2CC; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #99be70; }
.ahl-constant { color: #F3F2CC; }
.ahl-attribute { color: #86c1b9; }
.ahl-operator { color: #F3F2CC; }
.ahl-diagnostic.ahl-hint { text-decoration: underline;color: #626C66; background-color: #111111; }
