/* ayu_evolve */
pre.autumn-hl { background-color: #020202; color: #bfbdb6; }
.ahl-info { color: white; }
.ahl-label { color: #ff8f40; }
.ahl-markup.ahl-bold { font-weight: bold; color: #ff8f40; }
.ahl-namespace { color: #59c2ff; }
.ahl-markup.ahl-raw.ahl-inline { background-color: #0D0D0D; }
.ahl-markup.ahl-heading { color: #ff8f40; }
.ahl-type { color: #59c2ff; }
.ahl-diagnostic.ahl-warning { color: #FF8732; }
.ahl-hint { color: #CFCA0D; }
.ahl-string.ahl-special { color: #e6b450; }
.ahl-constant { color: #d2a6ff; }
.ahl-warning { color: #FF8732; }
.ahl-string.ahl-regexp { color: #ff8f40; }
.ahl-keyword.ahl-storage { color: #e6b450; }
.ahl-variable { color: #dedede; }
.ahl-constructor { color: #d2a6ff; }
.ahl-type.ahl-builtin { font-style: italic; color: #59c2ff; }
.ahl-keyword.ahl-storage.ahl-modifier { color: #d2a6ff; }
.ahl-diagnostic.ahl-error { color: #DD3E25; }
.ahl-diff.ahl-minus { color: #DD3E25; }
.ahl-tag { color: #59c2ff; }
.ahl-comment { font-style: italic; color: #5c6773; }
.ahl-markup.ahl-link.ahl-text { color: #e6b450; }
.ahl-punctuation { color: #bfbdb6; }
.ahl-markup.ahl-italic { font-style: italic; color: #ff8f40; }
.ahl-special { color: #ff8f40; }
.ahl-diff.ahl-plus { color: #aad94c; }
.ahl-operator { color: #ff8f40; }
.ahl-keyword.ahl-directive { color: #e6b450; }
.ahl-diagnostic.ahl-info { color: white; }
.ahl-keyword.ahl-control { color: #ff8f40; }
.ahl-markup.ahl-link.ahl-url { color: #59c2ff; }
.ahl-markup.ahl-raw.ahl-block { background-color: #0D0D0D; }
.ahl-string { color: #aad94c; }
.ahl-diff.ahl-delta { color: #e6b450; }
.ahl-keyword { color: #ff8f40; }
.ahl-markup.ahl-quote { color: #e6b450; }
.ahl-markup.ahl-link.ahl-label { color: #aad94c; }
.ahl-markup.ahl-list { color: #e6b450; }
.ahl-diagnostic.ahl-hint { color: #CFCA0D; }
.ahl-function { color: #e6b450; }
.ahl-error { color: #DD3E25; }
