/* Ayu Light - Zed Industries */
pre.athl {
  background-color: #fcfcfcff; color: #5c6166ff;
}
.athl-attribute {
  color: #3b9ee5ff;
}
.athl-boolean {
  color: #a37accff;
}
.athl-comment {
  color: #787b8099;
}
.athl-comment-doc {
  color: #898d90ff;
}
.athl-constant {
  color: #a37accff;
}
.athl-constructor {
  color: #3b9ee5ff;
}
.athl-embedded {
  color: #5c6166ff;
}
.athl-emphasis {
  color: #3b9ee5ff;
}
.athl-emphasis-strong {
  color: #3b9ee5ff;
  font-weight: 700;
}
.athl-enum {
  color: #f98d3fff;
}
.athl-function {
  color: #f2ad48ff;
}
.athl-hint {
  color: #8ca7c2ff;
  font-weight: 700;
}
.athl-keyword {
  color: #fa8d3eff;
}
.athl-label {
  color: #3b9ee5ff;
}
.athl-link_text {
  color: #f98d3fff;
  font-style: italic;
}
.athl-link_uri {
  color: #85b304ff;
}
.athl-number {
  color: #a37accff;
}
.athl-operator {
  color: #ed9365ff;
}
.athl-predictive {
  color: #9eb9d3ff;
  font-style: italic;
}
.athl-preproc {
  color: #5c6166ff;
}
.athl-primary {
  color: #5c6166ff;
}
.athl-property {
  color: #3b9ee5ff;
}
.athl-punctuation {
  color: #73777bff;
}
.athl-punctuation-bracket {
  color: #73777bff;
}
.athl-punctuation-delimiter {
  color: #73777bff;
}
.athl-punctuation-list_marker {
  color: #73777bff;
}
.athl-punctuation-special {
  color: #a37accff;
}
.athl-string {
  color: #86b300ff;
}
.athl-string-escape {
  color: #898d90ff;
}
.athl-string-regex {
  color: #4bbf98ff;
}
.athl-string-special {
  color: #e6ba7eff;
}
.athl-string-special-symbol {
  color: #f98d3fff;
}
.athl-tag {
  color: #3b9ee5ff;
}
.athl-text-literal {
  color: #f98d3fff;
}
.athl-title {
  color: #5c6166ff;
  font-weight: 700;
}
.athl-type {
  color: #389ee6ff;
}
.athl-variable {
  color: #5c6166ff;
}
.athl-variant {
  color: #3b9ee5ff;
}
