/* Base16 Apprentice - romainl */
pre.athl {
  background-color: #262626; color: #5f5f87;
}
.athl-attribute {
  color: #8787af;
}
.athl-boolean {
  color: #ff8700;
}
.athl-comment {
  color: #87875f;
  font-style: italic;
}
.athl-comment-doc {
  color: #87875f;
  font-style: italic;
}
.athl-constant {
  color: #ff8700;
}
.athl-constructor {
  color: #444444;
}
.athl-emphasis {
  color: #444444;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #444444;
  font-weight: 700;
}
.athl-function {
  color: #8787af;
}
.athl-keyword {
  color: #5fafaf;
}
.athl-label {
  color: #87af87;
}
.athl-link_text {
  color: #444444;
}
.athl-link_uri {
  color: #444444;
}
.athl-number {
  color: #ff8700;
}
.athl-punctuation {
  color: #5f5f87;
}
.athl-punctuation-bracket {
  color: #5f5f87;
}
.athl-punctuation-delimiter {
  color: #5f5f87;
}
.athl-punctuation-list_marker {
  color: #5f5f87;
}
.athl-punctuation-special {
  color: #5f5f87;
}
.athl-string {
  color: #ffffaf;
}
.athl-string-escape {
  color: #ff8700;
}
.athl-string-regex {
  color: #ffffaf;
}
.athl-string-special {
  color: #ffffaf;
}
.athl-string-special-symbol {
  color: #ffffaf;
}
.athl-tag {
  color: #444444;
}
.athl-text-literal {
  color: #ffffaf;
}
.athl-title {
  color: #87af87;
}
.athl-type {
  color: #87af87;
}
.athl-variable {
  color: #444444;
}
.athl-variable-special {
  color: #444444;
  font-style: italic;
}
