/* Base16 DanQing Light - Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com) */
pre.athl {
  background-color: #fcfefd; color: #5a605d;
}
.athl-attribute {
  color: #b0a4e3;
}
.athl-boolean {
  color: #b38a61;
}
.athl-comment {
  color: #cad8d2;
  font-style: italic;
}
.athl-comment-doc {
  color: #cad8d2;
  font-style: italic;
}
.athl-constant {
  color: #b38a61;
}
.athl-constructor {
  color: #f9906f;
}
.athl-emphasis {
  color: #f9906f;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #f9906f;
  font-weight: 700;
}
.athl-function {
  color: #b0a4e3;
}
.athl-keyword {
  color: #cca4e3;
}
.athl-label {
  color: #f0c239;
}
.athl-link_text {
  color: #f9906f;
}
.athl-link_uri {
  color: #f9906f;
}
.athl-number {
  color: #b38a61;
}
.athl-punctuation {
  color: #5a605d;
}
.athl-punctuation-bracket {
  color: #5a605d;
}
.athl-punctuation-delimiter {
  color: #5a605d;
}
.athl-punctuation-list_marker {
  color: #5a605d;
}
.athl-punctuation-special {
  color: #5a605d;
}
.athl-string {
  color: #8ab361;
}
.athl-string-escape {
  color: #b38a61;
}
.athl-string-regex {
  color: #8ab361;
}
.athl-string-special {
  color: #8ab361;
}
.athl-string-special-symbol {
  color: #8ab361;
}
.athl-tag {
  color: #f9906f;
}
.athl-text-literal {
  color: #8ab361;
}
.athl-title {
  color: #f0c239;
}
.athl-type {
  color: #f0c239;
}
.athl-variable {
  color: #f9906f;
}
.athl-variable-special {
  color: #f9906f;
  font-style: italic;
}
