/* Base16 lime - limelier */
pre.athl {
  background-color: #1a1a2f; color: #818175;
}
.athl-attribute {
  color: #2b926f;
}
.athl-boolean {
  color: #ff773a;
}
.athl-comment {
  color: #313140;
  font-style: italic;
}
.athl-comment-doc {
  color: #313140;
  font-style: italic;
}
.athl-constant {
  color: #ff773a;
}
.athl-constructor {
  color: #ff662a;
}
.athl-emphasis {
  color: #ff662a;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #ff662a;
  font-weight: 700;
}
.athl-function {
  color: #2b926f;
}
.athl-keyword {
  color: #1b825f;
}
.athl-label {
  color: #ffd15e;
}
.athl-link_text {
  color: #ff662a;
}
.athl-link_uri {
  color: #ff662a;
}
.athl-number {
  color: #ff773a;
}
.athl-punctuation {
  color: #818175;
}
.athl-punctuation-bracket {
  color: #818175;
}
.athl-punctuation-delimiter {
  color: #818175;
}
.athl-punctuation-list_marker {
  color: #818175;
}
.athl-punctuation-special {
  color: #818175;
}
.athl-string {
  color: #8cd97c;
}
.athl-string-escape {
  color: #ff773a;
}
.athl-string-regex {
  color: #8cd97c;
}
.athl-string-special {
  color: #8cd97c;
}
.athl-string-special-symbol {
  color: #8cd97c;
}
.athl-tag {
  color: #ff662a;
}
.athl-text-literal {
  color: #8cd97c;
}
.athl-title {
  color: #ffd15e;
}
.athl-type {
  color: #ffd15e;
}
.athl-variable {
  color: #ff662a;
}
.athl-variable-special {
  color: #ff662a;
  font-style: italic;
}
