/* Base16 Framer - Framer (Maintained by Jesse Hoyos) */
pre.athl {
  background-color: #181818; color: #d0d0d0;
}
.athl-attribute {
  color: #20bcfc;
}
.athl-boolean {
  color: #fc4769;
}
.athl-comment {
  color: #747474;
  font-style: italic;
}
.athl-comment-doc {
  color: #747474;
  font-style: italic;
}
.athl-constant {
  color: #fc4769;
}
.athl-constructor {
  color: #fd886b;
}
.athl-emphasis {
  color: #fd886b;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #fd886b;
  font-weight: 700;
}
.athl-function {
  color: #20bcfc;
}
.athl-keyword {
  color: #ba8cfc;
}
.athl-label {
  color: #fecb6e;
}
.athl-link_text {
  color: #fd886b;
}
.athl-link_uri {
  color: #fd886b;
}
.athl-number {
  color: #fc4769;
}
.athl-punctuation {
  color: #d0d0d0;
}
.athl-punctuation-bracket {
  color: #d0d0d0;
}
.athl-punctuation-delimiter {
  color: #d0d0d0;
}
.athl-punctuation-list_marker {
  color: #d0d0d0;
}
.athl-punctuation-special {
  color: #d0d0d0;
}
.athl-string {
  color: #32ccdc;
}
.athl-string-escape {
  color: #fc4769;
}
.athl-string-regex {
  color: #32ccdc;
}
.athl-string-special {
  color: #32ccdc;
}
.athl-string-special-symbol {
  color: #32ccdc;
}
.athl-tag {
  color: #fd886b;
}
.athl-text-literal {
  color: #32ccdc;
}
.athl-title {
  color: #fecb6e;
}
.athl-type {
  color: #fecb6e;
}
.athl-variable {
  color: #fd886b;
}
.athl-variable-special {
  color: #fd886b;
  font-style: italic;
}
