/* Base16 Atelier Cave Light - Bram de Haan (http://atelierbramdehaan.nl) */
pre.athl {
  background-color: #efecf4; color: #585260;
}
.athl-attribute {
  color: #576ddb;
}
.athl-boolean {
  color: #aa573c;
}
.athl-comment {
  color: #7e7887;
  font-style: italic;
}
.athl-comment-doc {
  color: #7e7887;
  font-style: italic;
}
.athl-constant {
  color: #aa573c;
}
.athl-constructor {
  color: #be4678;
}
.athl-emphasis {
  color: #be4678;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #be4678;
  font-weight: 700;
}
.athl-function {
  color: #576ddb;
}
.athl-keyword {
  color: #955ae7;
}
.athl-label {
  color: #a06e3b;
}
.athl-link_text {
  color: #be4678;
}
.athl-link_uri {
  color: #be4678;
}
.athl-number {
  color: #aa573c;
}
.athl-punctuation {
  color: #585260;
}
.athl-punctuation-bracket {
  color: #585260;
}
.athl-punctuation-delimiter {
  color: #585260;
}
.athl-punctuation-list_marker {
  color: #585260;
}
.athl-punctuation-special {
  color: #585260;
}
.athl-string {
  color: #2a9292;
}
.athl-string-escape {
  color: #aa573c;
}
.athl-string-regex {
  color: #2a9292;
}
.athl-string-special {
  color: #2a9292;
}
.athl-string-special-symbol {
  color: #2a9292;
}
.athl-tag {
  color: #be4678;
}
.athl-text-literal {
  color: #2a9292;
}
.athl-title {
  color: #a06e3b;
}
.athl-type {
  color: #a06e3b;
}
.athl-variable {
  color: #be4678;
}
.athl-variable-special {
  color: #be4678;
  font-style: italic;
}
