/* Base16 London Tube - Jan T. Sott */
pre.athl {
  background-color: #231f20; color: #d9d8d8;
}
.athl-attribute {
  color: #009ddc;
}
.athl-boolean {
  color: #f386a1;
}
.athl-comment {
  color: #737171;
  font-style: italic;
}
.athl-comment-doc {
  color: #737171;
  font-style: italic;
}
.athl-constant {
  color: #f386a1;
}
.athl-constructor {
  color: #ee2e24;
}
.athl-emphasis {
  color: #ee2e24;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #ee2e24;
  font-weight: 700;
}
.athl-function {
  color: #009ddc;
}
.athl-keyword {
  color: #98005d;
}
.athl-label {
  color: #ffd204;
}
.athl-link_text {
  color: #ee2e24;
}
.athl-link_uri {
  color: #ee2e24;
}
.athl-number {
  color: #f386a1;
}
.athl-punctuation {
  color: #d9d8d8;
}
.athl-punctuation-bracket {
  color: #d9d8d8;
}
.athl-punctuation-delimiter {
  color: #d9d8d8;
}
.athl-punctuation-list_marker {
  color: #d9d8d8;
}
.athl-punctuation-special {
  color: #d9d8d8;
}
.athl-string {
  color: #00853e;
}
.athl-string-escape {
  color: #f386a1;
}
.athl-string-regex {
  color: #00853e;
}
.athl-string-special {
  color: #00853e;
}
.athl-string-special-symbol {
  color: #00853e;
}
.athl-tag {
  color: #ee2e24;
}
.athl-text-literal {
  color: #00853e;
}
.athl-title {
  color: #ffd204;
}
.athl-type {
  color: #ffd204;
}
.athl-variable {
  color: #ee2e24;
}
.athl-variable-special {
  color: #ee2e24;
  font-style: italic;
}
