/* Base16 Bespin - Jan T. Sott */
pre.athl {
  background-color: #28211c; color: #8a8986;
}
.athl-attribute {
  color: #5ea6ea;
}
.athl-boolean {
  color: #cf7d34;
}
.athl-comment {
  color: #666666;
  font-style: italic;
}
.athl-comment-doc {
  color: #666666;
  font-style: italic;
}
.athl-constant {
  color: #cf7d34;
}
.athl-constructor {
  color: #cf6a4c;
}
.athl-emphasis {
  color: #cf6a4c;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #cf6a4c;
  font-weight: 700;
}
.athl-function {
  color: #5ea6ea;
}
.athl-keyword {
  color: #9b859d;
}
.athl-label {
  color: #f9ee98;
}
.athl-link_text {
  color: #cf6a4c;
}
.athl-link_uri {
  color: #cf6a4c;
}
.athl-number {
  color: #cf7d34;
}
.athl-punctuation {
  color: #8a8986;
}
.athl-punctuation-bracket {
  color: #8a8986;
}
.athl-punctuation-delimiter {
  color: #8a8986;
}
.athl-punctuation-list_marker {
  color: #8a8986;
}
.athl-punctuation-special {
  color: #8a8986;
}
.athl-string {
  color: #54be0d;
}
.athl-string-escape {
  color: #cf7d34;
}
.athl-string-regex {
  color: #54be0d;
}
.athl-string-special {
  color: #54be0d;
}
.athl-string-special-symbol {
  color: #54be0d;
}
.athl-tag {
  color: #cf6a4c;
}
.athl-text-literal {
  color: #54be0d;
}
.athl-title {
  color: #f9ee98;
}
.athl-type {
  color: #f9ee98;
}
.athl-variable {
  color: #cf6a4c;
}
.athl-variable-special {
  color: #cf6a4c;
  font-style: italic;
}
