/* Base16 Tomorrow - Chris Kempson (http://chriskempson.com) */
pre.athl {
  background-color: #ffffff; color: #4d4d4c;
}
.athl-attribute {
  color: #4271ae;
}
.athl-boolean {
  color: #f5871f;
}
.athl-comment {
  color: #8e908c;
  font-style: italic;
}
.athl-comment-doc {
  color: #8e908c;
  font-style: italic;
}
.athl-constant {
  color: #f5871f;
}
.athl-constructor {
  color: #c82829;
}
.athl-emphasis {
  color: #c82829;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #c82829;
  font-weight: 700;
}
.athl-function {
  color: #4271ae;
}
.athl-keyword {
  color: #8959a8;
}
.athl-label {
  color: #eab700;
}
.athl-link_text {
  color: #c82829;
}
.athl-link_uri {
  color: #c82829;
}
.athl-number {
  color: #f5871f;
}
.athl-punctuation {
  color: #4d4d4c;
}
.athl-punctuation-bracket {
  color: #4d4d4c;
}
.athl-punctuation-delimiter {
  color: #4d4d4c;
}
.athl-punctuation-list_marker {
  color: #4d4d4c;
}
.athl-punctuation-special {
  color: #4d4d4c;
}
.athl-string {
  color: #718c00;
}
.athl-string-escape {
  color: #f5871f;
}
.athl-string-regex {
  color: #718c00;
}
.athl-string-special {
  color: #718c00;
}
.athl-string-special-symbol {
  color: #718c00;
}
.athl-tag {
  color: #c82829;
}
.athl-text-literal {
  color: #718c00;
}
.athl-title {
  color: #eab700;
}
.athl-type {
  color: #eab700;
}
.athl-variable {
  color: #c82829;
}
.athl-variable-special {
  color: #c82829;
  font-style: italic;
}
