/* Base16 Atelier Savanna - Bram de Haan (http://atelierbramdehaan.nl) */
pre.athl {
  background-color: #171c19; color: #87928a;
}
.athl-attribute {
  color: #478c90;
}
.athl-boolean {
  color: #9f713c;
}
.athl-comment {
  color: #5f6d64;
  font-style: italic;
}
.athl-comment-doc {
  color: #5f6d64;
  font-style: italic;
}
.athl-constant {
  color: #9f713c;
}
.athl-constructor {
  color: #b16139;
}
.athl-emphasis {
  color: #b16139;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #b16139;
  font-weight: 700;
}
.athl-function {
  color: #478c90;
}
.athl-keyword {
  color: #55859b;
}
.athl-label {
  color: #a07e3b;
}
.athl-link_text {
  color: #b16139;
}
.athl-link_uri {
  color: #b16139;
}
.athl-number {
  color: #9f713c;
}
.athl-punctuation {
  color: #87928a;
}
.athl-punctuation-bracket {
  color: #87928a;
}
.athl-punctuation-delimiter {
  color: #87928a;
}
.athl-punctuation-list_marker {
  color: #87928a;
}
.athl-punctuation-special {
  color: #87928a;
}
.athl-string {
  color: #489963;
}
.athl-string-escape {
  color: #9f713c;
}
.athl-string-regex {
  color: #489963;
}
.athl-string-special {
  color: #489963;
}
.athl-string-special-symbol {
  color: #489963;
}
.athl-tag {
  color: #b16139;
}
.athl-text-literal {
  color: #489963;
}
.athl-title {
  color: #a07e3b;
}
.athl-type {
  color: #a07e3b;
}
.athl-variable {
  color: #b16139;
}
.athl-variable-special {
  color: #b16139;
  font-style: italic;
}
