/* base16_tomorrow_night */
pre.autumn-hl { background-color: #1d1f21; color: #c5c8c6; }
.ahl-attributes { color: #de935f; }
.ahl-comment { font-style: italic; color: #969896; }
.ahl-constant { color: #de935f; }
.ahl-constant.ahl-character.ahl-escape { color: #8abeb7; }
.ahl-constant.ahl-numeric { color: #de935f; }
.ahl-constructor { color: #81a2be; }
.ahl-debug { color: #969896; }
.ahl-diff.ahl-delta { color: #de935f; }
.ahl-diff.ahl-minus { color: #cc6666; }
.ahl-diff.ahl-plus { color: #b5bd68; }
.ahl-error { color: #cc6666; }
.ahl-function { color: #81a2be; }
.ahl-hint { color: #969896; }
.ahl-info { color: #81a2be; }
.ahl-keyword { color: #b294bb; }
.ahl-label { color: #b294bb; }
.ahl-markup.ahl-bold { font-weight: bold; color: #f0c674; }
.ahl-markup.ahl-heading { color: #81a2be; }
.ahl-markup.ahl-italic { font-style: italic; color: #b294bb; }
.ahl-markup.ahl-link.ahl-text { color: #cc6666; }
.ahl-markup.ahl-link.ahl-url {  color: #de935f; }
.ahl-markup.ahl-list { color: #cc6666; }
.ahl-markup.ahl-quote { color: #8abeb7; }
.ahl-markup.ahl-raw { color: #b5bd68; }
.ahl-namespace { color: #b294bb; }
.ahl-operator { color: #c5c8c6; }
.ahl-special { color: #81a2be; }
.ahl-string { color: #b5bd68; }
.ahl-type { color: #f0c674; }
.ahl-variable { color: #cc6666; }
.ahl-variable.ahl-other.ahl-member { color: #b5bd68; }
.ahl-warning { color: #de935f; }
