/* Base16 Eva - kjakapat (https://github.com/kjakapat) */
pre.athl {
  background-color: #2a3b4d; color: #9fa2a6;
}
.athl-attribute {
  color: #15f4ee;
}
.athl-boolean {
  color: #ff9966;
}
.athl-comment {
  color: #55799c;
  font-style: italic;
}
.athl-comment-doc {
  color: #55799c;
  font-style: italic;
}
.athl-constant {
  color: #ff9966;
}
.athl-constructor {
  color: #c4676c;
}
.athl-emphasis {
  color: #c4676c;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #c4676c;
  font-weight: 700;
}
.athl-function {
  color: #15f4ee;
}
.athl-keyword {
  color: #9c6cd3;
}
.athl-label {
  color: #ffff66;
}
.athl-link_text {
  color: #c4676c;
}
.athl-link_uri {
  color: #c4676c;
}
.athl-number {
  color: #ff9966;
}
.athl-punctuation {
  color: #9fa2a6;
}
.athl-punctuation-bracket {
  color: #9fa2a6;
}
.athl-punctuation-delimiter {
  color: #9fa2a6;
}
.athl-punctuation-list_marker {
  color: #9fa2a6;
}
.athl-punctuation-special {
  color: #9fa2a6;
}
.athl-string {
  color: #66ff66;
}
.athl-string-escape {
  color: #ff9966;
}
.athl-string-regex {
  color: #66ff66;
}
.athl-string-special {
  color: #66ff66;
}
.athl-string-special-symbol {
  color: #66ff66;
}
.athl-tag {
  color: #c4676c;
}
.athl-text-literal {
  color: #66ff66;
}
.athl-title {
  color: #ffff66;
}
.athl-type {
  color: #ffff66;
}
.athl-variable {
  color: #c4676c;
}
.athl-variable-special {
  color: #c4676c;
  font-style: italic;
}
