/* Base16 Cupertino - Defman21 */
pre.athl {
  background-color: #ffffff; color: #404040;
}
.athl-attribute {
  color: #0000ff;
}
.athl-boolean {
  color: #eb8500;
}
.athl-comment {
  color: #808080;
  font-style: italic;
}
.athl-comment-doc {
  color: #808080;
  font-style: italic;
}
.athl-constant {
  color: #eb8500;
}
.athl-constructor {
  color: #c41a15;
}
.athl-emphasis {
  color: #c41a15;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #c41a15;
  font-weight: 700;
}
.athl-function {
  color: #0000ff;
}
.athl-keyword {
  color: #a90d91;
}
.athl-label {
  color: #826b28;
}
.athl-link_text {
  color: #c41a15;
}
.athl-link_uri {
  color: #c41a15;
}
.athl-number {
  color: #eb8500;
}
.athl-punctuation {
  color: #404040;
}
.athl-punctuation-bracket {
  color: #404040;
}
.athl-punctuation-delimiter {
  color: #404040;
}
.athl-punctuation-list_marker {
  color: #404040;
}
.athl-punctuation-special {
  color: #404040;
}
.athl-string {
  color: #007400;
}
.athl-string-escape {
  color: #eb8500;
}
.athl-string-regex {
  color: #007400;
}
.athl-string-special {
  color: #007400;
}
.athl-string-special-symbol {
  color: #007400;
}
.athl-tag {
  color: #c41a15;
}
.athl-text-literal {
  color: #007400;
}
.athl-title {
  color: #826b28;
}
.athl-type {
  color: #826b28;
}
.athl-variable {
  color: #c41a15;
}
.athl-variable-special {
  color: #c41a15;
  font-style: italic;
}
