/* Base16 One Light - Daniel Pfeifer (http://github.com/purpleKarrot) */
pre.athl {
  background-color: #fafafa; color: #383a42;
}
.athl-attribute {
  color: #4078f2;
}
.athl-boolean {
  color: #d75f00;
}
.athl-comment {
  color: #a0a1a7;
  font-style: italic;
}
.athl-comment-doc {
  color: #a0a1a7;
  font-style: italic;
}
.athl-constant {
  color: #d75f00;
}
.athl-constructor {
  color: #ca1243;
}
.athl-emphasis {
  color: #ca1243;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #ca1243;
  font-weight: 700;
}
.athl-function {
  color: #4078f2;
}
.athl-keyword {
  color: #a626a4;
}
.athl-label {
  color: #c18401;
}
.athl-link_text {
  color: #ca1243;
}
.athl-link_uri {
  color: #ca1243;
}
.athl-number {
  color: #d75f00;
}
.athl-punctuation {
  color: #383a42;
}
.athl-punctuation-bracket {
  color: #383a42;
}
.athl-punctuation-delimiter {
  color: #383a42;
}
.athl-punctuation-list_marker {
  color: #383a42;
}
.athl-punctuation-special {
  color: #383a42;
}
.athl-string {
  color: #50a14f;
}
.athl-string-escape {
  color: #d75f00;
}
.athl-string-regex {
  color: #50a14f;
}
.athl-string-special {
  color: #50a14f;
}
.athl-string-special-symbol {
  color: #50a14f;
}
.athl-tag {
  color: #ca1243;
}
.athl-text-literal {
  color: #50a14f;
}
.athl-title {
  color: #c18401;
}
.athl-type {
  color: #c18401;
}
.athl-variable {
  color: #ca1243;
}
.athl-variable-special {
  color: #ca1243;
  font-style: italic;
}
