/* Base16 Summerfruit Dark - Christopher Corley (http://christop.club/) */
pre.athl {
  background-color: #151515; color: #d0d0d0;
}
.athl-attribute {
  color: #3777e6;
}
.athl-boolean {
  color: #fd8900;
}
.athl-comment {
  color: #505050;
  font-style: italic;
}
.athl-comment-doc {
  color: #505050;
  font-style: italic;
}
.athl-constant {
  color: #fd8900;
}
.athl-constructor {
  color: #ff0086;
}
.athl-emphasis {
  color: #ff0086;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #ff0086;
  font-weight: 700;
}
.athl-function {
  color: #3777e6;
}
.athl-keyword {
  color: #ad00a1;
}
.athl-label {
  color: #aba800;
}
.athl-link_text {
  color: #ff0086;
}
.athl-link_uri {
  color: #ff0086;
}
.athl-number {
  color: #fd8900;
}
.athl-punctuation {
  color: #d0d0d0;
}
.athl-punctuation-bracket {
  color: #d0d0d0;
}
.athl-punctuation-delimiter {
  color: #d0d0d0;
}
.athl-punctuation-list_marker {
  color: #d0d0d0;
}
.athl-punctuation-special {
  color: #d0d0d0;
}
.athl-string {
  color: #00c918;
}
.athl-string-escape {
  color: #fd8900;
}
.athl-string-regex {
  color: #00c918;
}
.athl-string-special {
  color: #00c918;
}
.athl-string-special-symbol {
  color: #00c918;
}
.athl-tag {
  color: #ff0086;
}
.athl-text-literal {
  color: #00c918;
}
.athl-title {
  color: #aba800;
}
.athl-type {
  color: #aba800;
}
.athl-variable {
  color: #ff0086;
}
.athl-variable-special {
  color: #ff0086;
  font-style: italic;
}
