/* Base16 Atelier Forest - Bram de Haan (http://atelierbramdehaan.nl) */
pre.athl {
  background-color: #1b1918; color: #a8a19f;
}
.athl-attribute {
  color: #407ee7;
}
.athl-boolean {
  color: #df5320;
}
.athl-comment {
  color: #766e6b;
  font-style: italic;
}
.athl-comment-doc {
  color: #766e6b;
  font-style: italic;
}
.athl-constant {
  color: #df5320;
}
.athl-constructor {
  color: #f22c40;
}
.athl-emphasis {
  color: #f22c40;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #f22c40;
  font-weight: 700;
}
.athl-function {
  color: #407ee7;
}
.athl-keyword {
  color: #6666ea;
}
.athl-label {
  color: #c38418;
}
.athl-link_text {
  color: #f22c40;
}
.athl-link_uri {
  color: #f22c40;
}
.athl-number {
  color: #df5320;
}
.athl-punctuation {
  color: #a8a19f;
}
.athl-punctuation-bracket {
  color: #a8a19f;
}
.athl-punctuation-delimiter {
  color: #a8a19f;
}
.athl-punctuation-list_marker {
  color: #a8a19f;
}
.athl-punctuation-special {
  color: #a8a19f;
}
.athl-string {
  color: #7b9726;
}
.athl-string-escape {
  color: #df5320;
}
.athl-string-regex {
  color: #7b9726;
}
.athl-string-special {
  color: #7b9726;
}
.athl-string-special-symbol {
  color: #7b9726;
}
.athl-tag {
  color: #f22c40;
}
.athl-text-literal {
  color: #7b9726;
}
.athl-title {
  color: #c38418;
}
.athl-type {
  color: #c38418;
}
.athl-variable {
  color: #f22c40;
}
.athl-variable-special {
  color: #f22c40;
  font-style: italic;
}
