/* Base16 Tomorrow Night - Chris Kempson (http://chriskempson.com) */
pre.athl {
  background-color: #1d1f21; color: #c5c8c6;
}
.athl-attribute {
  color: #81a2be;
}
.athl-boolean {
  color: #de935f;
}
.athl-comment {
  color: #969896;
  font-style: italic;
}
.athl-comment-doc {
  color: #969896;
  font-style: italic;
}
.athl-constant {
  color: #de935f;
}
.athl-constructor {
  color: #cc6666;
}
.athl-emphasis {
  color: #cc6666;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #cc6666;
  font-weight: 700;
}
.athl-function {
  color: #81a2be;
}
.athl-keyword {
  color: #b294bb;
}
.athl-label {
  color: #f0c674;
}
.athl-link_text {
  color: #cc6666;
}
.athl-link_uri {
  color: #cc6666;
}
.athl-number {
  color: #de935f;
}
.athl-punctuation {
  color: #c5c8c6;
}
.athl-punctuation-bracket {
  color: #c5c8c6;
}
.athl-punctuation-delimiter {
  color: #c5c8c6;
}
.athl-punctuation-list_marker {
  color: #c5c8c6;
}
.athl-punctuation-special {
  color: #c5c8c6;
}
.athl-string {
  color: #b5bd68;
}
.athl-string-escape {
  color: #de935f;
}
.athl-string-regex {
  color: #b5bd68;
}
.athl-string-special {
  color: #b5bd68;
}
.athl-string-special-symbol {
  color: #b5bd68;
}
.athl-tag {
  color: #cc6666;
}
.athl-text-literal {
  color: #b5bd68;
}
.athl-title {
  color: #f0c674;
}
.athl-type {
  color: #f0c674;
}
.athl-variable {
  color: #cc6666;
}
.athl-variable-special {
  color: #cc6666;
  font-style: italic;
}
