/* Base16 Google Dark - Seth Wright (http://sethawright.com) */
pre.athl {
  background-color: #1d1f21; color: #c5c8c6;
}
.athl-attribute {
  color: #3971ed;
}
.athl-boolean {
  color: #f96a38;
}
.athl-comment {
  color: #969896;
  font-style: italic;
}
.athl-comment-doc {
  color: #969896;
  font-style: italic;
}
.athl-constant {
  color: #f96a38;
}
.athl-constructor {
  color: #cc342b;
}
.athl-emphasis {
  color: #cc342b;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #cc342b;
  font-weight: 700;
}
.athl-function {
  color: #3971ed;
}
.athl-keyword {
  color: #a36ac7;
}
.athl-label {
  color: #fba922;
}
.athl-link_text {
  color: #cc342b;
}
.athl-link_uri {
  color: #cc342b;
}
.athl-number {
  color: #f96a38;
}
.athl-punctuation {
  color: #c5c8c6;
}
.athl-punctuation-bracket {
  color: #c5c8c6;
}
.athl-punctuation-delimiter {
  color: #c5c8c6;
}
.athl-punctuation-list_marker {
  color: #c5c8c6;
}
.athl-punctuation-special {
  color: #c5c8c6;
}
.athl-string {
  color: #198844;
}
.athl-string-escape {
  color: #f96a38;
}
.athl-string-regex {
  color: #198844;
}
.athl-string-special {
  color: #198844;
}
.athl-string-special-symbol {
  color: #198844;
}
.athl-tag {
  color: #cc342b;
}
.athl-text-literal {
  color: #198844;
}
.athl-title {
  color: #fba922;
}
.athl-type {
  color: #fba922;
}
.athl-variable {
  color: #cc342b;
}
.athl-variable-special {
  color: #cc342b;
  font-style: italic;
}
