/* Base16 Brewer - Timothée Poisot (http://github.com/tpoisot) */
pre.athl {
  background-color: #0c0d0e; color: #b7b8b9;
}
.athl-attribute {
  color: #3182bd;
}
.athl-boolean {
  color: #e6550d;
}
.athl-comment {
  color: #737475;
  font-style: italic;
}
.athl-comment-doc {
  color: #737475;
  font-style: italic;
}
.athl-constant {
  color: #e6550d;
}
.athl-constructor {
  color: #e31a1c;
}
.athl-emphasis {
  color: #e31a1c;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #e31a1c;
  font-weight: 700;
}
.athl-function {
  color: #3182bd;
}
.athl-keyword {
  color: #756bb1;
}
.athl-label {
  color: #dca060;
}
.athl-link_text {
  color: #e31a1c;
}
.athl-link_uri {
  color: #e31a1c;
}
.athl-number {
  color: #e6550d;
}
.athl-punctuation {
  color: #b7b8b9;
}
.athl-punctuation-bracket {
  color: #b7b8b9;
}
.athl-punctuation-delimiter {
  color: #b7b8b9;
}
.athl-punctuation-list_marker {
  color: #b7b8b9;
}
.athl-punctuation-special {
  color: #b7b8b9;
}
.athl-string {
  color: #31a354;
}
.athl-string-escape {
  color: #e6550d;
}
.athl-string-regex {
  color: #31a354;
}
.athl-string-special {
  color: #31a354;
}
.athl-string-special-symbol {
  color: #31a354;
}
.athl-tag {
  color: #e31a1c;
}
.athl-text-literal {
  color: #31a354;
}
.athl-title {
  color: #dca060;
}
.athl-type {
  color: #dca060;
}
.athl-variable {
  color: #e31a1c;
}
.athl-variable-special {
  color: #e31a1c;
  font-style: italic;
}
