/* Base16 Railscasts - Ryan Bates (http://railscasts.com) */
pre.athl {
  background-color: #2b2b2b; color: #e6e1dc;
}
.athl-attribute {
  color: #6d9cbe;
}
.athl-boolean {
  color: #cc7833;
}
.athl-comment {
  color: #5a647e;
  font-style: italic;
}
.athl-comment-doc {
  color: #5a647e;
  font-style: italic;
}
.athl-constant {
  color: #cc7833;
}
.athl-constructor {
  color: #da4939;
}
.athl-emphasis {
  color: #da4939;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #da4939;
  font-weight: 700;
}
.athl-function {
  color: #6d9cbe;
}
.athl-keyword {
  color: #b6b3eb;
}
.athl-label {
  color: #ffc66d;
}
.athl-link_text {
  color: #da4939;
}
.athl-link_uri {
  color: #da4939;
}
.athl-number {
  color: #cc7833;
}
.athl-punctuation {
  color: #e6e1dc;
}
.athl-punctuation-bracket {
  color: #e6e1dc;
}
.athl-punctuation-delimiter {
  color: #e6e1dc;
}
.athl-punctuation-list_marker {
  color: #e6e1dc;
}
.athl-punctuation-special {
  color: #e6e1dc;
}
.athl-string {
  color: #a5c261;
}
.athl-string-escape {
  color: #cc7833;
}
.athl-string-regex {
  color: #a5c261;
}
.athl-string-special {
  color: #a5c261;
}
.athl-string-special-symbol {
  color: #a5c261;
}
.athl-tag {
  color: #da4939;
}
.athl-text-literal {
  color: #a5c261;
}
.athl-title {
  color: #ffc66d;
}
.athl-type {
  color: #ffc66d;
}
.athl-variable {
  color: #da4939;
}
.athl-variable-special {
  color: #da4939;
  font-style: italic;
}
