/* Base16 Atelier Lakeside - Bram de Haan (http://atelierbramdehaan.nl) */
pre.athl {
  background-color: #161b1d; color: #7ea2b4;
}
.athl-attribute {
  color: #257fad;
}
.athl-boolean {
  color: #935c25;
}
.athl-comment {
  color: #5a7b8c;
  font-style: italic;
}
.athl-comment-doc {
  color: #5a7b8c;
  font-style: italic;
}
.athl-constant {
  color: #935c25;
}
.athl-constructor {
  color: #d22d72;
}
.athl-emphasis {
  color: #d22d72;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #d22d72;
  font-weight: 700;
}
.athl-function {
  color: #257fad;
}
.athl-keyword {
  color: #6b6bb8;
}
.athl-label {
  color: #8a8a0f;
}
.athl-link_text {
  color: #d22d72;
}
.athl-link_uri {
  color: #d22d72;
}
.athl-number {
  color: #935c25;
}
.athl-punctuation {
  color: #7ea2b4;
}
.athl-punctuation-bracket {
  color: #7ea2b4;
}
.athl-punctuation-delimiter {
  color: #7ea2b4;
}
.athl-punctuation-list_marker {
  color: #7ea2b4;
}
.athl-punctuation-special {
  color: #7ea2b4;
}
.athl-string {
  color: #568c3b;
}
.athl-string-escape {
  color: #935c25;
}
.athl-string-regex {
  color: #568c3b;
}
.athl-string-special {
  color: #568c3b;
}
.athl-string-special-symbol {
  color: #568c3b;
}
.athl-tag {
  color: #d22d72;
}
.athl-text-literal {
  color: #568c3b;
}
.athl-title {
  color: #8a8a0f;
}
.athl-type {
  color: #8a8a0f;
}
.athl-variable {
  color: #d22d72;
}
.athl-variable-special {
  color: #d22d72;
  font-style: italic;
}
