/* Base16 Twilight - David Hart (https://github.com/hartbit) */
pre.athl {
  background-color: #1e1e1e; color: #a7a7a7;
}
.athl-attribute {
  color: #7587a6;
}
.athl-boolean {
  color: #cda869;
}
.athl-comment {
  color: #5f5a60;
  font-style: italic;
}
.athl-comment-doc {
  color: #5f5a60;
  font-style: italic;
}
.athl-constant {
  color: #cda869;
}
.athl-constructor {
  color: #cf6a4c;
}
.athl-emphasis {
  color: #cf6a4c;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #cf6a4c;
  font-weight: 700;
}
.athl-function {
  color: #7587a6;
}
.athl-keyword {
  color: #9b859d;
}
.athl-label {
  color: #f9ee98;
}
.athl-link_text {
  color: #cf6a4c;
}
.athl-link_uri {
  color: #cf6a4c;
}
.athl-number {
  color: #cda869;
}
.athl-punctuation {
  color: #a7a7a7;
}
.athl-punctuation-bracket {
  color: #a7a7a7;
}
.athl-punctuation-delimiter {
  color: #a7a7a7;
}
.athl-punctuation-list_marker {
  color: #a7a7a7;
}
.athl-punctuation-special {
  color: #a7a7a7;
}
.athl-string {
  color: #8f9d6a;
}
.athl-string-escape {
  color: #cda869;
}
.athl-string-regex {
  color: #8f9d6a;
}
.athl-string-special {
  color: #8f9d6a;
}
.athl-string-special-symbol {
  color: #8f9d6a;
}
.athl-tag {
  color: #cf6a4c;
}
.athl-text-literal {
  color: #8f9d6a;
}
.athl-title {
  color: #f9ee98;
}
.athl-type {
  color: #f9ee98;
}
.athl-variable {
  color: #cf6a4c;
}
.athl-variable-special {
  color: #cf6a4c;
  font-style: italic;
}
