/* Base16 selenized-white - Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali */
pre.athl {
  background-color: #ffffff; color: #474747;
}
.athl-attribute {
  color: #0054cf;
}
.athl-boolean {
  color: #ba3700;
}
.athl-comment {
  color: #878787;
  font-style: italic;
}
.athl-comment-doc {
  color: #878787;
  font-style: italic;
}
.athl-constant {
  color: #ba3700;
}
.athl-constructor {
  color: #bf0000;
}
.athl-emphasis {
  color: #bf0000;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #bf0000;
  font-weight: 700;
}
.athl-function {
  color: #0054cf;
}
.athl-keyword {
  color: #6b40c3;
}
.athl-label {
  color: #af8500;
}
.athl-link_text {
  color: #bf0000;
}
.athl-link_uri {
  color: #bf0000;
}
.athl-number {
  color: #ba3700;
}
.athl-punctuation {
  color: #474747;
}
.athl-punctuation-bracket {
  color: #474747;
}
.athl-punctuation-delimiter {
  color: #474747;
}
.athl-punctuation-list_marker {
  color: #474747;
}
.athl-punctuation-special {
  color: #474747;
}
.athl-string {
  color: #008400;
}
.athl-string-escape {
  color: #ba3700;
}
.athl-string-regex {
  color: #008400;
}
.athl-string-special {
  color: #008400;
}
.athl-string-special-symbol {
  color: #008400;
}
.athl-tag {
  color: #bf0000;
}
.athl-text-literal {
  color: #008400;
}
.athl-title {
  color: #af8500;
}
.athl-type {
  color: #af8500;
}
.athl-variable {
  color: #bf0000;
}
.athl-variable-special {
  color: #bf0000;
  font-style: italic;
}
