/* Base16 Primer Light - Jimmy Lin */
pre.athl {
  background-color: #fafbfc; color: #2f363d;
}
.athl-attribute {
  color: #0366d6;
}
.athl-boolean {
  color: #f66a0a;
}
.athl-comment {
  color: #959da5;
  font-style: italic;
}
.athl-comment-doc {
  color: #959da5;
  font-style: italic;
}
.athl-constant {
  color: #f66a0a;
}
.athl-constructor {
  color: #d73a49;
}
.athl-emphasis {
  color: #d73a49;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #d73a49;
  font-weight: 700;
}
.athl-function {
  color: #0366d6;
}
.athl-keyword {
  color: #ea4aaa;
}
.athl-label {
  color: #ffd33d;
}
.athl-link_text {
  color: #d73a49;
}
.athl-link_uri {
  color: #d73a49;
}
.athl-number {
  color: #f66a0a;
}
.athl-punctuation {
  color: #2f363d;
}
.athl-punctuation-bracket {
  color: #2f363d;
}
.athl-punctuation-delimiter {
  color: #2f363d;
}
.athl-punctuation-list_marker {
  color: #2f363d;
}
.athl-punctuation-special {
  color: #2f363d;
}
.athl-string {
  color: #28a745;
}
.athl-string-escape {
  color: #f66a0a;
}
.athl-string-regex {
  color: #28a745;
}
.athl-string-special {
  color: #28a745;
}
.athl-string-special-symbol {
  color: #28a745;
}
.athl-tag {
  color: #d73a49;
}
.athl-text-literal {
  color: #28a745;
}
.athl-title {
  color: #ffd33d;
}
.athl-type {
  color: #ffd33d;
}
.athl-variable {
  color: #d73a49;
}
.athl-variable-special {
  color: #d73a49;
  font-style: italic;
}
