/* Base16 Sakura - Misterio77 (http://github.com/Misterio77) */
pre.athl {
  background-color: #feedf3; color: #564448;
}
.athl-attribute {
  color: #006e93;
}
.athl-boolean {
  color: #f6661e;
}
.athl-comment {
  color: #755f64;
  font-style: italic;
}
.athl-comment-doc {
  color: #755f64;
  font-style: italic;
}
.athl-constant {
  color: #f6661e;
}
.athl-constructor {
  color: #df2d52;
}
.athl-emphasis {
  color: #df2d52;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #df2d52;
  font-weight: 700;
}
.athl-function {
  color: #006e93;
}
.athl-keyword {
  color: #5e2180;
}
.athl-label {
  color: #c29461;
}
.athl-link_text {
  color: #df2d52;
}
.athl-link_uri {
  color: #df2d52;
}
.athl-number {
  color: #f6661e;
}
.athl-punctuation {
  color: #564448;
}
.athl-punctuation-bracket {
  color: #564448;
}
.athl-punctuation-delimiter {
  color: #564448;
}
.athl-punctuation-list_marker {
  color: #564448;
}
.athl-punctuation-special {
  color: #564448;
}
.athl-string {
  color: #2e916d;
}
.athl-string-escape {
  color: #f6661e;
}
.athl-string-regex {
  color: #2e916d;
}
.athl-string-special {
  color: #2e916d;
}
.athl-string-special-symbol {
  color: #2e916d;
}
.athl-tag {
  color: #df2d52;
}
.athl-text-literal {
  color: #2e916d;
}
.athl-title {
  color: #c29461;
}
.athl-type {
  color: #c29461;
}
.athl-variable {
  color: #df2d52;
}
.athl-variable-special {
  color: #df2d52;
  font-style: italic;
}
