/* Base16 Atelier Sulphurpool - Bram de Haan (http://atelierbramdehaan.nl) */
pre.athl {
  background-color: #202746; color: #979db4;
}
.athl-attribute {
  color: #3d8fd1;
}
.athl-boolean {
  color: #c76b29;
}
.athl-comment {
  color: #6b7394;
  font-style: italic;
}
.athl-comment-doc {
  color: #6b7394;
  font-style: italic;
}
.athl-constant {
  color: #c76b29;
}
.athl-constructor {
  color: #c94922;
}
.athl-emphasis {
  color: #c94922;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #c94922;
  font-weight: 700;
}
.athl-function {
  color: #3d8fd1;
}
.athl-keyword {
  color: #6679cc;
}
.athl-label {
  color: #c08b30;
}
.athl-link_text {
  color: #c94922;
}
.athl-link_uri {
  color: #c94922;
}
.athl-number {
  color: #c76b29;
}
.athl-punctuation {
  color: #979db4;
}
.athl-punctuation-bracket {
  color: #979db4;
}
.athl-punctuation-delimiter {
  color: #979db4;
}
.athl-punctuation-list_marker {
  color: #979db4;
}
.athl-punctuation-special {
  color: #979db4;
}
.athl-string {
  color: #ac9739;
}
.athl-string-escape {
  color: #c76b29;
}
.athl-string-regex {
  color: #ac9739;
}
.athl-string-special {
  color: #ac9739;
}
.athl-string-special-symbol {
  color: #ac9739;
}
.athl-tag {
  color: #c94922;
}
.athl-text-literal {
  color: #ac9739;
}
.athl-title {
  color: #c08b30;
}
.athl-type {
  color: #c08b30;
}
.athl-variable {
  color: #c94922;
}
.athl-variable-special {
  color: #c94922;
  font-style: italic;
}
