/* Base16 Atelier Dune Light - Bram de Haan (http://atelierbramdehaan.nl) */
pre.athl {
  background-color: #fefbec; color: #6e6b5e;
}
.athl-attribute {
  color: #6684e1;
}
.athl-boolean {
  color: #b65611;
}
.athl-comment {
  color: #999580;
  font-style: italic;
}
.athl-comment-doc {
  color: #999580;
  font-style: italic;
}
.athl-constant {
  color: #b65611;
}
.athl-constructor {
  color: #d73737;
}
.athl-emphasis {
  color: #d73737;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #d73737;
  font-weight: 700;
}
.athl-function {
  color: #6684e1;
}
.athl-keyword {
  color: #b854d4;
}
.athl-label {
  color: #ae9513;
}
.athl-link_text {
  color: #d73737;
}
.athl-link_uri {
  color: #d73737;
}
.athl-number {
  color: #b65611;
}
.athl-punctuation {
  color: #6e6b5e;
}
.athl-punctuation-bracket {
  color: #6e6b5e;
}
.athl-punctuation-delimiter {
  color: #6e6b5e;
}
.athl-punctuation-list_marker {
  color: #6e6b5e;
}
.athl-punctuation-special {
  color: #6e6b5e;
}
.athl-string {
  color: #60ac39;
}
.athl-string-escape {
  color: #b65611;
}
.athl-string-regex {
  color: #60ac39;
}
.athl-string-special {
  color: #60ac39;
}
.athl-string-special-symbol {
  color: #60ac39;
}
.athl-tag {
  color: #d73737;
}
.athl-text-literal {
  color: #60ac39;
}
.athl-title {
  color: #ae9513;
}
.athl-type {
  color: #ae9513;
}
.athl-variable {
  color: #d73737;
}
.athl-variable-special {
  color: #d73737;
  font-style: italic;
}
