/* Base16 Codeschool - blockloop */
pre.athl {
  background-color: #232c31; color: #9ea7a6;
}
.athl-attribute {
  color: #484d79;
}
.athl-boolean {
  color: #43820d;
}
.athl-comment {
  color: #3f4944;
  font-style: italic;
}
.athl-comment-doc {
  color: #3f4944;
  font-style: italic;
}
.athl-constant {
  color: #43820d;
}
.athl-constructor {
  color: #2a5491;
}
.athl-emphasis {
  color: #2a5491;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #2a5491;
  font-weight: 700;
}
.athl-function {
  color: #484d79;
}
.athl-keyword {
  color: #c59820;
}
.athl-label {
  color: #a03b1e;
}
.athl-link_text {
  color: #2a5491;
}
.athl-link_uri {
  color: #2a5491;
}
.athl-number {
  color: #43820d;
}
.athl-punctuation {
  color: #9ea7a6;
}
.athl-punctuation-bracket {
  color: #9ea7a6;
}
.athl-punctuation-delimiter {
  color: #9ea7a6;
}
.athl-punctuation-list_marker {
  color: #9ea7a6;
}
.athl-punctuation-special {
  color: #9ea7a6;
}
.athl-string {
  color: #237986;
}
.athl-string-escape {
  color: #43820d;
}
.athl-string-regex {
  color: #237986;
}
.athl-string-special {
  color: #237986;
}
.athl-string-special-symbol {
  color: #237986;
}
.athl-tag {
  color: #2a5491;
}
.athl-text-literal {
  color: #237986;
}
.athl-title {
  color: #a03b1e;
}
.athl-type {
  color: #a03b1e;
}
.athl-variable {
  color: #2a5491;
}
.athl-variable-special {
  color: #2a5491;
  font-style: italic;
}
