/* Base16 Heetch Light - Geoffrey Teale (tealeg@gmail.com) */
pre.athl {
  background-color: #feffff; color: #5a496e;
}
.athl-attribute {
  color: #47f9f5;
}
.athl-boolean {
  color: #bdb6c5;
}
.athl-comment {
  color: #9c92a8;
  font-style: italic;
}
.athl-comment-doc {
  color: #9c92a8;
  font-style: italic;
}
.athl-constant {
  color: #bdb6c5;
}
.athl-constructor {
  color: #27d9d5;
}
.athl-emphasis {
  color: #27d9d5;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #27d9d5;
  font-weight: 700;
}
.athl-function {
  color: #47f9f5;
}
.athl-keyword {
  color: #bd0152;
}
.athl-label {
  color: #5ba2b6;
}
.athl-link_text {
  color: #27d9d5;
}
.athl-link_uri {
  color: #27d9d5;
}
.athl-number {
  color: #bdb6c5;
}
.athl-punctuation {
  color: #5a496e;
}
.athl-punctuation-bracket {
  color: #5a496e;
}
.athl-punctuation-delimiter {
  color: #5a496e;
}
.athl-punctuation-list_marker {
  color: #5a496e;
}
.athl-punctuation-special {
  color: #5a496e;
}
.athl-string {
  color: #f80059;
}
.athl-string-escape {
  color: #bdb6c5;
}
.athl-string-regex {
  color: #f80059;
}
.athl-string-special {
  color: #f80059;
}
.athl-string-special-symbol {
  color: #f80059;
}
.athl-tag {
  color: #27d9d5;
}
.athl-text-literal {
  color: #f80059;
}
.athl-title {
  color: #5ba2b6;
}
.athl-type {
  color: #5ba2b6;
}
.athl-variable {
  color: #27d9d5;
}
.athl-variable-special {
  color: #27d9d5;
  font-style: italic;
}
