/* Base16 Atelier Heath Light - Bram de Haan (http://atelierbramdehaan.nl) */
pre.athl {
  background-color: #f7f3f7; color: #695d69;
}
.athl-attribute {
  color: #516aec;
}
.athl-boolean {
  color: #a65926;
}
.athl-comment {
  color: #9e8f9e;
  font-style: italic;
}
.athl-comment-doc {
  color: #9e8f9e;
  font-style: italic;
}
.athl-constant {
  color: #a65926;
}
.athl-constructor {
  color: #ca402b;
}
.athl-emphasis {
  color: #ca402b;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #ca402b;
  font-weight: 700;
}
.athl-function {
  color: #516aec;
}
.athl-keyword {
  color: #7b59c0;
}
.athl-label {
  color: #bb8a35;
}
.athl-link_text {
  color: #ca402b;
}
.athl-link_uri {
  color: #ca402b;
}
.athl-number {
  color: #a65926;
}
.athl-punctuation {
  color: #695d69;
}
.athl-punctuation-bracket {
  color: #695d69;
}
.athl-punctuation-delimiter {
  color: #695d69;
}
.athl-punctuation-list_marker {
  color: #695d69;
}
.athl-punctuation-special {
  color: #695d69;
}
.athl-string {
  color: #918b3b;
}
.athl-string-escape {
  color: #a65926;
}
.athl-string-regex {
  color: #918b3b;
}
.athl-string-special {
  color: #918b3b;
}
.athl-string-special-symbol {
  color: #918b3b;
}
.athl-tag {
  color: #ca402b;
}
.athl-text-literal {
  color: #918b3b;
}
.athl-title {
  color: #bb8a35;
}
.athl-type {
  color: #bb8a35;
}
.athl-variable {
  color: #ca402b;
}
.athl-variable-special {
  color: #ca402b;
  font-style: italic;
}
