/* base16_terminal */
pre.autumn-hl { background-color: black; color: #000000; }
.ahl-attribute { color: yellow; }
.ahl-comment { font-style: italic; color: light-gray; }
.ahl-constant { color: yellow; }
.ahl-constant.ahl-character.ahl-escape { color: light-cyan; }
.ahl-constant.ahl-numeric { color: yellow; }
.ahl-constructor { color: light-blue; }
.ahl-debug { color: gray; }
.ahl-diff.ahl-delta { color: yellow; }
.ahl-diff.ahl-minus { color: light-red; }
.ahl-diff.ahl-plus { color: light-green; }
.ahl-error { color: light-red; }
.ahl-function { color: light-blue; }
.ahl-hint { color: gray; }
.ahl-info { color: light-blue; }
.ahl-keyword { color: light-magenta; }
.ahl-label { color: light-magenta; }
.ahl-markup.ahl-bold { font-weight: bold; color: light-yellow; }
.ahl-markup.ahl-heading { color: light-blue; }
.ahl-markup.ahl-italic { font-style: italic; color: light-magenta; }
.ahl-markup.ahl-link.ahl-text { color: light-red; }
.ahl-markup.ahl-link.ahl-url {  color: yellow; }
.ahl-markup.ahl-list { color: light-red; }
.ahl-markup.ahl-quote { color: light-cyan; }
.ahl-markup.ahl-raw { color: light-green; }
.ahl-namespace { color: light-magenta; }
.ahl-special { color: light-blue; }
.ahl-string { color: light-green; }
.ahl-type { color: light-yellow; }
.ahl-variable { color: light-red; }
.ahl-variable.ahl-other.ahl-member { color: light-green; }
.ahl-warning { color: yellow; }
