/* Base16 Classic Light - Jason Heeris (http://heeris.id.au) */
pre.athl {
  background-color: #f5f5f5; color: #303030;
}
.athl-attribute {
  color: #6a9fb5;
}
.athl-boolean {
  color: #d28445;
}
.athl-comment {
  color: #b0b0b0;
  font-style: italic;
}
.athl-comment-doc {
  color: #b0b0b0;
  font-style: italic;
}
.athl-constant {
  color: #d28445;
}
.athl-constructor {
  color: #ac4142;
}
.athl-emphasis {
  color: #ac4142;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #ac4142;
  font-weight: 700;
}
.athl-function {
  color: #6a9fb5;
}
.athl-keyword {
  color: #aa759f;
}
.athl-label {
  color: #f4bf75;
}
.athl-link_text {
  color: #ac4142;
}
.athl-link_uri {
  color: #ac4142;
}
.athl-number {
  color: #d28445;
}
.athl-punctuation {
  color: #303030;
}
.athl-punctuation-bracket {
  color: #303030;
}
.athl-punctuation-delimiter {
  color: #303030;
}
.athl-punctuation-list_marker {
  color: #303030;
}
.athl-punctuation-special {
  color: #303030;
}
.athl-string {
  color: #90a959;
}
.athl-string-escape {
  color: #d28445;
}
.athl-string-regex {
  color: #90a959;
}
.athl-string-special {
  color: #90a959;
}
.athl-string-special-symbol {
  color: #90a959;
}
.athl-tag {
  color: #ac4142;
}
.athl-text-literal {
  color: #90a959;
}
.athl-title {
  color: #f4bf75;
}
.athl-type {
  color: #f4bf75;
}
.athl-variable {
  color: #ac4142;
}
.athl-variable-special {
  color: #ac4142;
  font-style: italic;
}
