/* Base16 Shapeshifter - Tyler Benziger (http://tybenz.com) */
pre.athl {
  background-color: #f9f9f9; color: #102015;
}
.athl-attribute {
  color: #3b48e3;
}
.athl-boolean {
  color: #e09448;
}
.athl-comment {
  color: #555555;
  font-style: italic;
}
.athl-comment-doc {
  color: #555555;
  font-style: italic;
}
.athl-constant {
  color: #e09448;
}
.athl-constructor {
  color: #e92f2f;
}
.athl-emphasis {
  color: #e92f2f;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #e92f2f;
  font-weight: 700;
}
.athl-function {
  color: #3b48e3;
}
.athl-keyword {
  color: #f996e2;
}
.athl-label {
  color: #dddd13;
}
.athl-link_text {
  color: #e92f2f;
}
.athl-link_uri {
  color: #e92f2f;
}
.athl-number {
  color: #e09448;
}
.athl-punctuation {
  color: #102015;
}
.athl-punctuation-bracket {
  color: #102015;
}
.athl-punctuation-delimiter {
  color: #102015;
}
.athl-punctuation-list_marker {
  color: #102015;
}
.athl-punctuation-special {
  color: #102015;
}
.athl-string {
  color: #0ed839;
}
.athl-string-escape {
  color: #e09448;
}
.athl-string-regex {
  color: #0ed839;
}
.athl-string-special {
  color: #0ed839;
}
.athl-string-special-symbol {
  color: #0ed839;
}
.athl-tag {
  color: #e92f2f;
}
.athl-text-literal {
  color: #0ed839;
}
.athl-title {
  color: #dddd13;
}
.athl-type {
  color: #dddd13;
}
.athl-variable {
  color: #e92f2f;
}
.athl-variable-special {
  color: #e92f2f;
  font-style: italic;
}
