/* Base16 Flat - Chris Kempson (http://chriskempson.com) */
pre.athl {
  background-color: #2c3e50; color: #e0e0e0;
}
.athl-attribute {
  color: #3498db;
}
.athl-boolean {
  color: #e67e22;
}
.athl-comment {
  color: #95a5a6;
  font-style: italic;
}
.athl-comment-doc {
  color: #95a5a6;
  font-style: italic;
}
.athl-constant {
  color: #e67e22;
}
.athl-constructor {
  color: #e74c3c;
}
.athl-emphasis {
  color: #e74c3c;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #e74c3c;
  font-weight: 700;
}
.athl-function {
  color: #3498db;
}
.athl-keyword {
  color: #9b59b6;
}
.athl-label {
  color: #f1c40f;
}
.athl-link_text {
  color: #e74c3c;
}
.athl-link_uri {
  color: #e74c3c;
}
.athl-number {
  color: #e67e22;
}
.athl-punctuation {
  color: #e0e0e0;
}
.athl-punctuation-bracket {
  color: #e0e0e0;
}
.athl-punctuation-delimiter {
  color: #e0e0e0;
}
.athl-punctuation-list_marker {
  color: #e0e0e0;
}
.athl-punctuation-special {
  color: #e0e0e0;
}
.athl-string {
  color: #2ecc71;
}
.athl-string-escape {
  color: #e67e22;
}
.athl-string-regex {
  color: #2ecc71;
}
.athl-string-special {
  color: #2ecc71;
}
.athl-string-special-symbol {
  color: #2ecc71;
}
.athl-tag {
  color: #e74c3c;
}
.athl-text-literal {
  color: #2ecc71;
}
.athl-title {
  color: #f1c40f;
}
.athl-type {
  color: #f1c40f;
}
.athl-variable {
  color: #e74c3c;
}
.athl-variable-special {
  color: #e74c3c;
  font-style: italic;
}
