/* Base16 Unikitty Light - Josh W Lewis (@joshwlewis) */
pre.athl {
  background-color: #ffffff; color: #6c696e;
}
.athl-attribute {
  color: #775dff;
}
.athl-boolean {
  color: #d65407;
}
.athl-comment {
  color: #a7a5a8;
  font-style: italic;
}
.athl-comment-doc {
  color: #a7a5a8;
  font-style: italic;
}
.athl-constant {
  color: #d65407;
}
.athl-constructor {
  color: #d8137f;
}
.athl-emphasis {
  color: #d8137f;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #d8137f;
  font-weight: 700;
}
.athl-function {
  color: #775dff;
}
.athl-keyword {
  color: #aa17e6;
}
.athl-label {
  color: #dc8a0e;
}
.athl-link_text {
  color: #d8137f;
}
.athl-link_uri {
  color: #d8137f;
}
.athl-number {
  color: #d65407;
}
.athl-punctuation {
  color: #6c696e;
}
.athl-punctuation-bracket {
  color: #6c696e;
}
.athl-punctuation-delimiter {
  color: #6c696e;
}
.athl-punctuation-list_marker {
  color: #6c696e;
}
.athl-punctuation-special {
  color: #6c696e;
}
.athl-string {
  color: #17ad98;
}
.athl-string-escape {
  color: #d65407;
}
.athl-string-regex {
  color: #17ad98;
}
.athl-string-special {
  color: #17ad98;
}
.athl-string-special-symbol {
  color: #17ad98;
}
.athl-tag {
  color: #d8137f;
}
.athl-text-literal {
  color: #17ad98;
}
.athl-title {
  color: #dc8a0e;
}
.athl-type {
  color: #dc8a0e;
}
.athl-variable {
  color: #d8137f;
}
.athl-variable-special {
  color: #d8137f;
  font-style: italic;
}
