/* Base16 Atelier Estuary - Bram de Haan (http://atelierbramdehaan.nl) */
pre.athl {
  background-color: #22221b; color: #929181;
}
.athl-attribute {
  color: #36a166;
}
.athl-boolean {
  color: #ae7313;
}
.athl-comment {
  color: #6c6b5a;
  font-style: italic;
}
.athl-comment-doc {
  color: #6c6b5a;
  font-style: italic;
}
.athl-constant {
  color: #ae7313;
}
.athl-constructor {
  color: #ba6236;
}
.athl-emphasis {
  color: #ba6236;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #ba6236;
  font-weight: 700;
}
.athl-function {
  color: #36a166;
}
.athl-keyword {
  color: #5f9182;
}
.athl-label {
  color: #a5980d;
}
.athl-link_text {
  color: #ba6236;
}
.athl-link_uri {
  color: #ba6236;
}
.athl-number {
  color: #ae7313;
}
.athl-punctuation {
  color: #929181;
}
.athl-punctuation-bracket {
  color: #929181;
}
.athl-punctuation-delimiter {
  color: #929181;
}
.athl-punctuation-list_marker {
  color: #929181;
}
.athl-punctuation-special {
  color: #929181;
}
.athl-string {
  color: #7d9726;
}
.athl-string-escape {
  color: #ae7313;
}
.athl-string-regex {
  color: #7d9726;
}
.athl-string-special {
  color: #7d9726;
}
.athl-string-special-symbol {
  color: #7d9726;
}
.athl-tag {
  color: #ba6236;
}
.athl-text-literal {
  color: #7d9726;
}
.athl-title {
  color: #a5980d;
}
.athl-type {
  color: #a5980d;
}
.athl-variable {
  color: #ba6236;
}
.athl-variable-special {
  color: #ba6236;
  font-style: italic;
}
