/* Base16 Green Screen - Chris Kempson (http://chriskempson.com) */
pre.athl {
  background-color: #001100; color: #00bb00;
}
.athl-attribute {
  color: #009900;
}
.athl-boolean {
  color: #009900;
}
.athl-comment {
  color: #007700;
  font-style: italic;
}
.athl-comment-doc {
  color: #007700;
  font-style: italic;
}
.athl-constant {
  color: #009900;
}
.athl-constructor {
  color: #007700;
}
.athl-emphasis {
  color: #007700;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #007700;
  font-weight: 700;
}
.athl-function {
  color: #009900;
}
.athl-keyword {
  color: #00bb00;
}
.athl-label {
  color: #007700;
}
.athl-link_text {
  color: #007700;
}
.athl-link_uri {
  color: #007700;
}
.athl-number {
  color: #009900;
}
.athl-punctuation {
  color: #00bb00;
}
.athl-punctuation-bracket {
  color: #00bb00;
}
.athl-punctuation-delimiter {
  color: #00bb00;
}
.athl-punctuation-list_marker {
  color: #00bb00;
}
.athl-punctuation-special {
  color: #00bb00;
}
.athl-string {
  color: #00bb00;
}
.athl-string-escape {
  color: #009900;
}
.athl-string-regex {
  color: #00bb00;
}
.athl-string-special {
  color: #00bb00;
}
.athl-string-special-symbol {
  color: #00bb00;
}
.athl-tag {
  color: #007700;
}
.athl-text-literal {
  color: #00bb00;
}
.athl-title {
  color: #007700;
}
.athl-type {
  color: #007700;
}
.athl-variable {
  color: #007700;
}
.athl-variable-special {
  color: #007700;
  font-style: italic;
}
