/* Base16 Atelier Plateau - Bram de Haan (http://atelierbramdehaan.nl) */
pre.athl {
  background-color: #1b1818; color: #8a8585;
}
.athl-attribute {
  color: #7272ca;
}
.athl-boolean {
  color: #b45a3c;
}
.athl-comment {
  color: #655d5d;
  font-style: italic;
}
.athl-comment-doc {
  color: #655d5d;
  font-style: italic;
}
.athl-constant {
  color: #b45a3c;
}
.athl-constructor {
  color: #ca4949;
}
.athl-emphasis {
  color: #ca4949;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #ca4949;
  font-weight: 700;
}
.athl-function {
  color: #7272ca;
}
.athl-keyword {
  color: #8464c4;
}
.athl-label {
  color: #a06e3b;
}
.athl-link_text {
  color: #ca4949;
}
.athl-link_uri {
  color: #ca4949;
}
.athl-number {
  color: #b45a3c;
}
.athl-punctuation {
  color: #8a8585;
}
.athl-punctuation-bracket {
  color: #8a8585;
}
.athl-punctuation-delimiter {
  color: #8a8585;
}
.athl-punctuation-list_marker {
  color: #8a8585;
}
.athl-punctuation-special {
  color: #8a8585;
}
.athl-string {
  color: #4b8b8b;
}
.athl-string-escape {
  color: #b45a3c;
}
.athl-string-regex {
  color: #4b8b8b;
}
.athl-string-special {
  color: #4b8b8b;
}
.athl-string-special-symbol {
  color: #4b8b8b;
}
.athl-tag {
  color: #ca4949;
}
.athl-text-literal {
  color: #4b8b8b;
}
.athl-title {
  color: #a06e3b;
}
.athl-type {
  color: #a06e3b;
}
.athl-variable {
  color: #ca4949;
}
.athl-variable-special {
  color: #ca4949;
  font-style: italic;
}
