/* bogster_light */
pre.autumn-hl { background-color: #f6fbd6; color: #161c23; }
.ahl-markup.ahl-bold { font-weight: bold; color: #a58023; }
.ahl-function.ahl-macro { font-weight: bold; color: #dc7759; }
.ahl-variable.ahl-builtin { color: #232d38; }
.ahl-variable.ahl-other.ahl-member { color: #232d38; }
.ahl-diagnostic.ahl-warning { color: #dc7759; }
.ahl-keyword { font-weight: bold; color: #a58023; }
.ahl-module { color: #d32c5d; }
.ahl-type { color: #dc597f; }
.ahl-string { color: #23a580; }
.ahl-markup.ahl-link.ahl-url {  color: #a58023; }
.ahl-comment { color: #627d9d; }
.ahl-namespace { color: #d32c5d; }
.ahl-variable.ahl-parameter { color: #232d38; }
.ahl-function { color: #289cbc; }
.ahl-markup.ahl-heading { color: #59c0dc; }
.ahl-variable { color: #232d38; }
.ahl-diff.ahl-plus { color: #23a580; }
.ahl-diagnostic.ahl-error { color: #dc597f; }
.ahl-warning { color: #dc7759; }
.ahl-type.ahl-builtin { font-weight: bold; color: #d32c5d; }
.ahl-diagnostic.ahl-info { color: #23a580; }
.ahl-keyword.ahl-directive { color: #a58023; }
.ahl-punctuation.ahl-delimiter { color: #dc7759; }
.ahl-info { color: #23a580; }
.ahl-label { color: #59c0dc; }
.ahl-constant.ahl-character.ahl-escape { font-weight: bold; color: #7fdc59; }
.ahl-error { color: #dc597f; }
.ahl-constant.ahl-numeric { color: #59c0dc; }
.ahl-special { color: #7fdc59; }
.ahl-constructor { color: #dc597f; }
.ahl-markup.ahl-quote { color: #289cbc; }
.ahl-hint { color: #59c0dc; }
.ahl-constant.ahl-builtin { color: #23a580; }
.ahl-function.ahl-builtin { font-weight: bold; color: #289cbc; }
.ahl-diff.ahl-delta { color: #dc7759; }
.ahl-diff.ahl-minus { color: #dc597f; }
.ahl-punctuation { color: #dc7759; }
.ahl-markup.ahl-link.ahl-text { color: #d32c5d; }
.ahl-markup.ahl-list { color: #d32c5d; }
.ahl-markup.ahl-italic { font-style: italic; color: magenta; }
.ahl-markup.ahl-raw { color: #23a580; }
.ahl-constant { color: #23a580; }
.ahl-attribute { color: #dc7759; }
.ahl-operator { font-weight: bold; color: #dc7759; }
.ahl-diagnostic.ahl-hint { color: #59c0dc; }
