/* boo_berry */
pre.autumn-hl { background-color: #3A2A4D; color: #C7B8E0; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #D678B5; }
.ahl-variable.ahl-builtin { color: #C78DFC; }
.ahl-diagnostic.ahl-warning { color: #D678B5; }
.ahl-keyword { color: #D678B5; }
.ahl-module { color: #C7B8E0; }
.ahl-type { color: #C78DFC; }
.ahl-string { color: #E3C0A8; }
.ahl-markup.ahl-link.ahl-url {  color: #C78DFC; }
.ahl-comment { color: #886C9C; }
.ahl-namespace { color: #C7B8E0; }
.ahl-function { color: #7FC9AB; }
.ahl-markup.ahl-heading { font-weight: bold; color: #E3C0A8; }
.ahl-variable { color: #C7B8E0; }
.ahl-diff.ahl-plus { color: #7FC9AB; }
.ahl-diagnostic.ahl-error { color: #E3C0A8; }
.ahl-warning { color: #E3C0A8; }
.ahl-diagnostic.ahl-info { color: #C7B8E0; }
.ahl-info { color: #C7B8E0; }
.ahl-label { color: #E3C0A8; }
.ahl-error { color: #D678B5; }
.ahl-markup.ahl-quote { color: #886C9C; }
.ahl-hint { color: #C7B8E0; }
.ahl-diff.ahl-delta { color: #E3C0A8; }
.ahl-diff.ahl-minus { color: #D678B5; }
.ahl-punctuation { color: #C7B8E0; }
.ahl-markup.ahl-heading.ahl-marker { color: #886C9C; }
.ahl-markup.ahl-link.ahl-text { color: #C78DFC; }
.ahl-tag { color: #E3C0A8; }
.ahl-markup.ahl-list { color: #D678B5; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #7FC9AB; }
.ahl-constant { color: #E3C0A8; }
.ahl-attribute { color: #C7B8E0; }
.ahl-operator { color: #D678B5; }
.ahl-diagnostic.ahl-hint { color: #C7B8E0; }
