/* catppuccin_latte
 * revision: 0cf15babf716ed56593da425a236245f709dcbfb
 */

pre.athl {
  color: #4c4f69;
  background-color: #eff1f5;
}
.attribute {
  color: #fe640b;
}
.attribute-builtin {
  color: #ea76cb;
}
.boolean {
  color: #fe640b;
}
.character {
  color: #179299;
}
.character-special {
  color: #ea76cb;
}
.comment {
  color: #7c7f93;
  font-style: italic;
}
.comment-documentation {
  color: #7c7f93;
  font-style: italic;
}
.comment-error {
  color: #eff1f5;
  background-color: #d20f39;
}
.comment-note {
  color: #eff1f5;
  background-color: #1e66f5;
}
.comment-todo {
  color: #eff1f5;
  background-color: #dd7878;
}
.comment-warning {
  color: #eff1f5;
  background-color: #df8e1d;
}
.constant {
  color: #fe640b;
}
.constant-builtin {
  color: #fe640b;
}
.constant-macro {
  color: #8839ef;
}
.constructor {
  color: #209fb5;
}
.diff-delta {
  color: #1e66f5;
}
.diff-minus {
  color: #d20f39;
}
.diff-plus {
  color: #40a02b;
}
.error {
  color: #d20f39;
}
.function {
  color: #1e66f5;
}
.function-builtin {
  color: #fe640b;
}
.function-call {
  color: #1e66f5;
}
.function-macro {
  color: #179299;
}
.function-method {
  color: #1e66f5;
}
.function-method-call {
  color: #1e66f5;
}
.highlighted {
  background-color: #e9ebf1;
}
.keyword {
  color: #8839ef;
}
.keyword-conditional {
  color: #8839ef;
  font-style: italic;
}
.keyword-conditional-ternary {
  color: #04a5e5;
}
.keyword-coroutine {
  color: #8839ef;
}
.keyword-debug {
  color: #8839ef;
}
.keyword-directive {
  color: #ea76cb;
}
.keyword-directive-define {
  color: #ea76cb;
}
.keyword-exception {
  color: #8839ef;
}
.keyword-function {
  color: #8839ef;
}
.keyword-import {
  color: #8839ef;
}
.keyword-modifier {
  color: #8839ef;
}
.keyword-operator {
  color: #04a5e5;
}
.keyword-repeat {
  color: #8839ef;
}
.keyword-return {
  color: #8839ef;
}
.keyword-type {
  color: #8839ef;
}
.label {
  color: #209fb5;
}
.markup-heading {
  color: #1e66f5;
  font-weight: bold;
}
.markup-heading-1 {
  color: #1e66f5;
  font-weight: bold;
}
.markup-heading-2 {
  color: #1e66f5;
  font-weight: bold;
}
.markup-heading-3 {
  color: #1e66f5;
  font-weight: bold;
}
.markup-heading-4 {
  color: #1e66f5;
  font-weight: bold;
}
.markup-heading-5 {
  color: #1e66f5;
  font-weight: bold;
}
.markup-heading-6 {
  color: #1e66f5;
  font-weight: bold;
}
.markup-italic {
  color: #e64553;
  font-style: italic;
}
.markup-link {
  color: #7287fd;
  font-weight: bold;
}
.markup-link-label {
  color: #209fb5;
}
.markup-link-url {
  color: #dc8a78;
  font-style: italic;
  text-decoration: underline;
}
.markup-list {
  color: #ea76cb;
}
.markup-list-checked {
  color: #40a02b;
}
.markup-list-unchecked {
  color: #8c8fa1;
}
.markup-math {
  color: #1e66f5;
}
.markup-quote {
  color: #e64553;
  font-weight: bold;
}
.markup-raw {
  color: #179299;
}
.markup-raw-block {
  color: #179299;
}
.markup-strikethrough {
  color: #4c4f69;
  text-decoration: line-through;
}
.markup-strong {
  color: #e64553;
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #7287fd;
  font-style: italic;
}
.module-builtin {
  color: #ea76cb;
}
.namespace {
  color: #7287fd;
  font-style: italic;
}
.normal {
  color: #4c4f69;
  background-color: #eff1f5;
}
.number {
  color: #fe640b;
}
.number-float {
  color: #fe640b;
}
.operator {
  color: #04a5e5;
}
.property {
  color: #7287fd;
}
.punctuation-bracket {
  color: #7c7f93;
}
.punctuation-delimiter {
  color: #7c7f93;
}
.punctuation-special {
  color: #ea76cb;
}
.string {
  color: #40a02b;
}
.string-documentation {
  color: #179299;
}
.string-escape {
  color: #ea76cb;
}
.string-regexp {
  color: #fe640b;
}
.string-special {
  color: #ea76cb;
}
.string-special-path {
  color: #ea76cb;
}
.string-special-symbol {
  color: #dd7878;
}
.string-special-url {
  color: #dc8a78;
  font-style: italic;
  text-decoration: underline;
}
.tag {
  color: #8839ef;
}
.tag-attribute {
  color: #179299;
  font-style: italic;
}
.tag-builtin {
  color: #ea76cb;
}
.tag-delimiter {
  color: #04a5e5;
}
.type {
  color: #df8e1d;
}
.type-builtin {
  color: #df8e1d;
}
.type-definition {
  color: #df8e1d;
}
.variable {
  color: #4c4f69;
}
.variable-builtin {
  color: #d20f39;
}
.variable-member {
  color: #7287fd;
}
.variable-parameter {
  color: #e64553;
}
.variable-parameter-builtin {
  color: #ea76cb;
}
