/* catppuccin_latte */
pre.autumn-hl { background-color: #eff1f5; color: #4c4f69; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #8839ef; }
.ahl-variable.ahl-builtin { color: #d20f39; }
.ahl-string.ahl-special.ahl-symbol { color: #d20f39; }
.ahl-keyword.ahl-control.ahl-conditional { font-style: italic; color: #8839ef; }
.ahl-variable.ahl-other.ahl-member { color: #179299; }
.ahl-diagnostic.ahl-warning { color: #df8e1d; }
.ahl-keyword { color: #8839ef; }
.ahl-constant.ahl-character { color: #179299; }
.ahl-type { color: #df8e1d; }
.ahl-string { color: #40a02b; }
.ahl-markup.ahl-link.ahl-url { font-style: italic; color: #1e66f5; }
.ahl-comment { font-style: italic; color: #7c7f93; }
.ahl-namespace { font-style: italic; color: #df8e1d; }
.ahl-variable.ahl-parameter { font-style: italic; color: #e64553; }
.ahl-function { color: #1e66f5; }
.ahl-string.ahl-special { color: #1e66f5; }
.ahl-markup.ahl-heading.ahl-2 { color: #8839ef; }
.ahl-variable { color: #4c4f69; }
.ahl-markup.ahl-heading.ahl-6 { color: #179299; }
.ahl-diff.ahl-plus { color: #40a02b; }
.ahl-diagnostic.ahl-error { color: #d20f39; }
.ahl-warning { color: #df8e1d; }
.ahl-diagnostic.ahl-info { color: #04a5e5; }
.ahl-type.ahl-enum.ahl-variant { color: #179299; }
.ahl-info { color: #04a5e5; }
.ahl-markup.ahl-heading.ahl-5 { color: #ea76cb; }
.ahl-label { color: #209fb5; }
.ahl-constant.ahl-character.ahl-escape { color: #ea76cb; }
.ahl-error { color: #d20f39; }
.ahl-special { color: #1e66f5; }
.ahl-constructor { color: #209fb5; }
.ahl-punctuation.ahl-special { color: #04a5e5; }
.ahl-hint { color: #179299; }
.ahl-string.ahl-regexp { color: #ea76cb; }
.ahl-diff.ahl-delta { color: #1e66f5; }
.ahl-diff.ahl-minus { color: #d20f39; }
.ahl-punctuation { color: #7c7f93; }
.ahl-markup.ahl-heading.ahl-marker { font-weight: bold; color: #fe640b; }
.ahl-markup.ahl-link.ahl-text { color: #1e66f5; }
.ahl-tag { color: #1e66f5; }
.ahl-markup.ahl-heading.ahl-4 { color: #df8e1d; }
.ahl-markup.ahl-list { color: #8839ef; }
.ahl-markup.ahl-heading.ahl-1 { color: #7287fd; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #dd7878; }
.ahl-constant { color: #fe640b; }
.ahl-attribute { color: #df8e1d; }
.ahl-markup.ahl-heading.ahl-3 { color: #40a02b; }
.ahl-operator { color: #04a5e5; }
.ahl-diagnostic.ahl-hint { color: #179299; }
