/* curzon */
pre.autumn-hl { background-color: #000000; color: #bfdbfe; }
.ahl-info { color: #6366f1; }
.ahl-label { color: #efba5d; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-namespace { color: #bee0ec; }
.ahl-markup.ahl-heading { color: #bee0ec; }
.ahl-constant.ahl-builtin { color: #ffffff; }
.ahl-type { color: #ffffff; }
.ahl-diagnostic.ahl-warning { color: #ffcd1c; }
.ahl-attribute_color { color: #dbbfef; }
.ahl-hint { color: #38bdf8; }
.ahl-constant { color: #ffffff; }
.ahl-warning { color: #ffcd1c; }
.ahl-variable { color: #c7d2fe; }
.ahl-constructor { color: #bee0ec; }
.ahl-type.ahl-builtin { color: #ffffff; }
.ahl-diagnostic.ahl-error { color: #f43f5e; }
.ahl-diff.ahl-minus { color: #f22c86; }
.ahl-markup.ahl-raw { color: #eccdba; }
.ahl-tag { color: #eccdba; }
.ahl-comment { font-style: italic; color: #697C81; }
.ahl-markup.ahl-link.ahl-text { color: #eccdba; }
.ahl-punctuation { color: #a4a0e8; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-function.ahl-macro { color: #bee0ec; }
.ahl-special { color: #efba5d; }
.ahl-diff.ahl-plus { color: #35bf86; }
.ahl-operator { color: #bee0ec; }
.ahl-keyword.ahl-directive { color: #bee0ec; }
.ahl-diagnostic.ahl-info { color: #6366f1; }
.ahl-constant.ahl-character.ahl-escape { color: #efba5d; }
.ahl-markup.ahl-link.ahl-url {  color: #b8b8b8; }
.ahl-variable.ahl-builtin { font-style: italic;font-weight: bold; color: #10b981; }
.ahl-punctuation.ahl-delimiter { color: #a4a0e8; }
.ahl-variable.ahl-parameter { color: #c7d2fe; }
.ahl-string { font-style: italic; color: #6ee7b7; }
.ahl-diff.ahl-delta { color: #6366f1; }
.ahl-keyword { color: #eccdba; }
.ahl-function.ahl-builtin { color: #ffffff; }
.ahl-diagnostic.ahl-hint { color: #38bdf8; }
.ahl-variable.ahl-other.ahl-member { color: #ffffff; }
.ahl-function { color: #ffffff; }
.ahl-constant.ahl-numeric { color: #E8DCA0; }
.ahl-error { color: #f43f5e; }
