/* dracula_soft
 * revision: ae752c13e95fb7c5f58da4b5123cb804ea7568ee
 */

pre.athl {
  color: #f6f6f5;
  background-color: #292a35;
}
.attribute {
  color: #a7dfef;
}
.attribute-builtin {
  color: #87e58e;
  font-style: italic;
}
.boolean {
  color: #baa0e8;
}
.character {
  color: #87e58e;
}
.character-special {
  color: #87e58e;
  font-style: italic;
}
.comment {
  color: #70747f;
}
.comment-documentation {
  color: #70747f;
}
.comment-error {
  color: #dd6e6b;
}
.comment-hint {
  color: #70747f;
}
.comment-note {
  color: #a7dfef;
}
.comment-todo {
  color: #baa0e8;
  font-weight: bold;
  font-style: italic;
}
.comment-warning {
  color: #e8eda2;
}
.constant {
  color: #baa0e8;
}
.constant-builtin {
  color: #baa0e8;
}
.constant-macro {
  color: #a7dfef;
}
.constructor {
  color: #a7dfef;
}
.diff-delta {
  color: #8cf8f7;
}
.diff-minus {
  color: #ffc0b9;
}
.diff-plus {
  color: #b3f6c0;
}
.error {
  color: #e1837f;
}
.function {
  color: #87e58e;
}
.function-builtin {
  color: #a7dfef;
}
.function-call {
  color: #87e58e;
}
.function-macro {
  color: #87e58e;
}
.function-method {
  color: #87e58e;
}
.function-method-call {
  color: #87e58e;
}
.highlighted {
  background-color: #7c7f8a;
}
.keyword {
  color: #e48cc1;
}
.keyword-conditional {
  color: #e48cc1;
}
.keyword-conditional-ternary {
  color: #e48cc1;
}
.keyword-coroutine {
  color: #e48cc1;
}
.keyword-debug {
  color: #e48cc1;
}
.keyword-directive {
  color: #e48cc1;
}
.keyword-directive-define {
  color: #e48cc1;
}
.keyword-exception {
  color: #baa0e8;
}
.keyword-export {
  color: #e48cc1;
}
.keyword-function {
  color: #a7dfef;
}
.keyword-function-ruby {
  color: #e48cc1;
}
.keyword-import {
  color: #e48cc1;
}
.keyword-modifier {
  color: #e48cc1;
}
.keyword-operator {
  color: #e48cc1;
}
.keyword-repeat {
  color: #e48cc1;
}
.keyword-return {
  color: #e48cc1;
}
.keyword-type {
  color: #e48cc1;
}
.label {
  color: #a7dfef;
}
.markup {
  color: #fdc38e;
}
.markup-environment {
  color: #fdc38e;
}
.markup-environment-name {
  color: #fdc38e;
}
.markup-heading {
  color: #e48cc1;
  font-weight: bold;
}
.markup-heading-1 {
  color: #e48cc1;
  font-weight: bold;
}
.markup-heading-1-markdown {
  color: #f6f6f5;
}
.markup-heading-2 {
  color: #e48cc1;
  font-weight: bold;
}
.markup-heading-2-markdown {
  color: #e48cc1;
}
.markup-heading-3 {
  color: #e48cc1;
  font-weight: bold;
}
.markup-heading-3-markdown {
  color: #a7dfef;
}
.markup-heading-4 {
  color: #e48cc1;
  font-weight: bold;
}
.markup-heading-4-markdown {
  color: #87e58e;
}
.markup-heading-5 {
  color: #e48cc1;
  font-weight: bold;
}
.markup-heading-5-markdown {
  color: #baa0e8;
}
.markup-heading-6 {
  color: #e48cc1;
  font-weight: bold;
}
.markup-heading-6-markdown {
  color: #fdc38e;
}
.markup-italic {
  font-style: italic;
}
.markup-link {
  color: #fdc38e;
  font-weight: bold;
}
.markup-link-label {
  color: #fdc38e;
  font-weight: bold;
}
.markup-link-url {
  color: #e8eda2;
  font-style: italic;
}
.markup-list {
  color: #a7dfef;
}
.markup-list-checked {
  color: #a7dfef;
}
.markup-list-unchecked {
  color: #a7dfef;
}
.markup-math {
  color: #fdc38e;
}
.markup-quote {
  color: #fdc38e;
}
.markup-raw {
  color: #e8eda2;
}
.markup-raw-block {
  color: #e8eda2;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  color: #fdc38e;
  font-weight: bold;
}
.markup-underline {
  color: #fdc38e;
}
.module {
  color: #fdc38e;
}
.module-builtin {
  color: #87e58e;
  font-style: italic;
}
.normal {
  color: #f6f6f5;
  background-color: #292a35;
}
.number {
  color: #baa0e8;
}
.number-float {
  color: #87e58e;
}
.operator {
  color: #e48cc1;
}
.property {
  color: #baa0e8;
}
.punctuation-bracket {
  color: #f6f6f5;
}
.punctuation-delimiter {
  color: #f6f6f5;
}
.punctuation-special {
  color: #87e58e;
  font-style: italic;
}
.string {
  color: #e8eda2;
}
.string-documentation {
  color: #e8eda2;
}
.string-escape {
  color: #a7dfef;
}
.string-regexp {
  color: #dd6e6b;
}
.string-special {
  color: #87e58e;
  font-style: italic;
}
.string-special-path {
  color: #87e58e;
  font-style: italic;
}
.string-special-symbol {
  color: #baa0e8;
}
.string-special-url {
  color: #a7dfef;
  text-decoration: underline;
}
.tag {
  color: #a7dfef;
}
.tag-attribute {
  color: #87e58e;
}
.tag-builtin {
  color: #87e58e;
  font-style: italic;
}
.tag-delimiter {
  color: #a7dfef;
}
.type {
  color: #bcf4f5;
}
.type-builtin {
  color: #a7dfef;
  font-style: italic;
}
.type-definition {
  color: #bcf4f5;
}
.variable {
  color: #f6f6f5;
}
.variable-builtin {
  color: #baa0e8;
}
.variable-member {
  color: #fdc38e;
}
.variable-parameter {
  color: #fdc38e;
}
.variable-parameter-builtin {
  color: #87e58e;
  font-style: italic;
}
