/* dracula */
pre.athl {
  color: #f8f8f2; background-color: #282a36;
}
.athl-operator {
  color: #ff79c6;
}
.athl-attribute {
  color: #8be9fd;
}
.athl-constant-macro {
  color: #8be9fd;
}
.athl-constant {
  color: #bd93f9;
}
.athl-keyword-coroutine {
  color: #ff79c6;
}
.athl-comment-documentation {
  color: #6272a4;
}
.athl-comment-warning {
  color: #f1fa8c;
}
.athl-markup-italic {
  font-style: italic;
}
.athl-module-builtin {
  font-style: italic; color: #50fa7b;
}
.athl-keyword-type {
  color: #ff79c6;
}
.athl-keyword-debug {
  color: #ff79c6;
}
.athl-string-regexp {
  color: #ff5555;
}
.athl-function-builtin {
  color: #8be9fd;
}
.athl-function-method-call {
  color: #50fa7b;
}
.athl-constant-builtin {
  color: #bd93f9;
}
.athl-cursorline {
  background-color: #44475a;
}
.athl-punctuation-special {
  font-style: italic; color: #50fa7b;
}
.athl-keyword-modifier {
  color: #ff79c6;
}
.athl-constructor {
  color: #8be9fd;
}
.athl-cursorlinenr {
  color: #f8f8f2; font-weight: bold;
}
.athl-keyword-return {
  color: #ff79c6;
}
.athl-variable-member {
  color: #ffb86c;
}
.athl-label {
  color: #8be9fd;
}
.athl-attribute-builtin {
  font-style: italic; color: #50fa7b;
}
.athl-punctuation-bracket {
  color: #f8f8f2;
}
.athl-keyword-function {
  color: #8be9fd;
}
.athl-keyword-repeat {
  color: #ff79c6;
}
.athl-number {
  color: #bd93f9;
}
.athl-type-definition {
  color: #a4ffff;
}
.athl-keyword-import {
  color: #ff79c6;
}
.athl-punctuation-delimiter {
  color: #f8f8f2;
}
.athl-keyword-directive {
  color: #ff79c6;
}
.athl-keyword-operator {
  color: #ff79c6;
}
.athl-type-builtin {
  font-style: italic; color: #8be9fd;
}
.athl-normal {
  color: #f8f8f2; background-color: #282a36;
}
.athl-comment-note {
  color: #8be9fd;
}
.athl-string-special-path {
  font-style: italic; color: #50fa7b;
}
.athl-function-method {
  color: #50fa7b;
}
.athl-keyword-directive-define {
  color: #ff79c6;
}
.athl-function-call {
  color: #50fa7b;
}
.athl-variable {
  color: #f8f8f2;
}
.athl-number-float {
  color: #50fa7b;
}
.athl-string-special {
  font-style: italic; color: #50fa7b;
}
.athl-function {
  color: #50fa7b;
}
.athl-comment-todo {
  font-style: italic; color: #bd93f9; font-weight: bold;
}
.athl-string-special-url {
  text-decoration: underline; color: #8be9fd;
}
.athl-variable-parameter {
  color: #ffb86c;
}
.athl-property {
  color: #bd93f9;
}
.athl-comment {
  color: #6272a4;
}
.athl-linenr {
  color: #6272a4;
}
.athl-keyword-conditional {
  color: #ff79c6;
}
.athl-string {
  color: #f1fa8c;
}
.athl-keyword-conditional-ternary {
  color: #ff79c6;
}
.athl-type {
  color: #a4ffff;
}
.athl-string-documentation {
  color: #f1fa8c;
}
.athl-comment-error {
  color: #ff5555;
}
.athl-module {
  color: #ffb86c;
}
.athl-keyword {
  color: #ff79c6;
}
.athl-keyword-exception {
  color: #bd93f9;
}
.athl-string-escape {
  color: #8be9fd;
}
.athl-boolean {
  color: #bd93f9;
}
.athl-character-special {
  font-style: italic; color: #50fa7b;
}
.athl-variable-parameter-builtin {
  font-style: italic; color: #50fa7b;
}
.athl-markup-strong {
  color: #ffb86c; font-weight: bold;
}
.athl-string-special-symbol {
  color: #bd93f9;
}
.athl-character {
  color: #50fa7b;
}
.athl-variable-builtin {
  color: #bd93f9;
}
.athl-function-macro {
  color: #50fa7b;
}
