/* dracula
 * revision: 96c9d19ce81b26053055ad6f688277d655b3f7d2
 */

pre.athl {
  color: #f8f8f2;
  background-color: #282a36;
}
.attribute {
  color: #8be9fd;
}
.attribute-builtin {
  color: #50fa7b;
  font-style: italic;
}
.boolean {
  color: #bd93f9;
}
.character {
  color: #50fa7b;
}
.character-special {
  color: #50fa7b;
  font-style: italic;
}
.comment {
  color: #6272a4;
}
.comment-documentation {
  color: #6272a4;
}
.comment-error {
  color: #ff5555;
}
.comment-note {
  color: #8be9fd;
}
.comment-todo {
  color: #bd93f9;
  font-weight: bold;
  font-style: italic;
}
.comment-warning {
  color: #f1fa8c;
}
.constant {
  color: #bd93f9;
}
.constant-builtin {
  color: #bd93f9;
}
.constant-macro {
  color: #8be9fd;
}
.constructor {
  color: #8be9fd;
}
.diff-delta {
  color: #8cf8f7;
}
.diff-minus {
  color: #ffc0b9;
}
.diff-plus {
  color: #b3f6c0;
}
.error {
  color: #ff6e6e;
}
.function {
  color: #50fa7b;
}
.function-builtin {
  color: #8be9fd;
}
.function-call {
  color: #50fa7b;
}
.function-macro {
  color: #50fa7b;
}
.function-method {
  color: #50fa7b;
}
.function-method-call {
  color: #50fa7b;
}
.highlighted {
  background-color: #44475a;
}
.keyword {
  color: #ff79c6;
}
.keyword-conditional {
  color: #ff79c6;
}
.keyword-conditional-ternary {
  color: #ff79c6;
}
.keyword-coroutine {
  color: #ff79c6;
}
.keyword-debug {
  color: #ff79c6;
}
.keyword-directive {
  color: #ff79c6;
}
.keyword-directive-define {
  color: #ff79c6;
}
.keyword-exception {
  color: #bd93f9;
}
.keyword-function {
  color: #8be9fd;
}
.keyword-import {
  color: #ff79c6;
}
.keyword-modifier {
  color: #ff79c6;
}
.keyword-operator {
  color: #ff79c6;
}
.keyword-repeat {
  color: #ff79c6;
}
.keyword-return {
  color: #ff79c6;
}
.keyword-type {
  color: #ff79c6;
}
.label {
  color: #8be9fd;
}
.markup-heading {
  color: #ff79c6;
  font-weight: bold;
}
.markup-heading-1 {
  color: #ff79c6;
  font-weight: bold;
}
.markup-heading-2 {
  color: #ff79c6;
  font-weight: bold;
}
.markup-heading-3 {
  color: #ff79c6;
  font-weight: bold;
}
.markup-heading-4 {
  color: #ff79c6;
  font-weight: bold;
}
.markup-heading-5 {
  color: #ff79c6;
  font-weight: bold;
}
.markup-heading-6 {
  color: #ff79c6;
  font-weight: bold;
}
.markup-italic {
  font-style: italic;
}
.markup-link {
  color: #ffb86c;
  font-weight: bold;
}
.markup-link-label {
  color: #ffb86c;
  font-weight: bold;
}
.markup-link-url {
  color: #f1fa8c;
  font-style: italic;
}
.markup-list {
  color: #8be9fd;
}
.markup-list-checked {
  color: #8be9fd;
}
.markup-list-unchecked {
  color: #8be9fd;
}
.markup-math {
  color: #ffb86c;
}
.markup-quote {
  color: #ffb86c;
}
.markup-raw {
  color: #f1fa8c;
}
.markup-raw-block {
  color: #f1fa8c;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  color: #ffb86c;
  font-weight: bold;
}
.markup-underline {
  color: #ffb86c;
}
.module {
  color: #ffb86c;
}
.module-builtin {
  color: #50fa7b;
  font-style: italic;
}
.normal {
  color: #f8f8f2;
  background-color: #282a36;
}
.number {
  color: #bd93f9;
}
.number-float {
  color: #50fa7b;
}
.operator {
  color: #ff79c6;
}
.property {
  color: #bd93f9;
}
.punctuation-bracket {
  color: #f8f8f2;
}
.punctuation-delimiter {
  color: #f8f8f2;
}
.punctuation-special {
  color: #50fa7b;
  font-style: italic;
}
.string {
  color: #f1fa8c;
}
.string-documentation {
  color: #f1fa8c;
}
.string-escape {
  color: #8be9fd;
}
.string-regexp {
  color: #ff5555;
}
.string-special {
  color: #50fa7b;
  font-style: italic;
}
.string-special-path {
  color: #50fa7b;
  font-style: italic;
}
.string-special-symbol {
  color: #bd93f9;
}
.string-special-url {
  color: #8be9fd;
  text-decoration: underline;
}
.tag {
  color: #8be9fd;
}
.tag-attribute {
  color: #50fa7b;
}
.tag-builtin {
  color: #50fa7b;
  font-style: italic;
}
.tag-delimiter {
  color: #8be9fd;
}
.type {
  color: #a4ffff;
}
.type-builtin {
  color: #8be9fd;
  font-style: italic;
}
.type-definition {
  color: #a4ffff;
}
.variable {
  color: #f8f8f2;
}
.variable-builtin {
  color: #bd93f9;
}
.variable-member {
  color: #ffb86c;
}
.variable-parameter {
  color: #ffb86c;
}
.variable-parameter-builtin {
  color: #50fa7b;
  font-style: italic;
}
