/* emacs */
pre.autumn-hl { background-color: #ffffff; color: #000000; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #483d8b; }
.ahl-variable.ahl-builtin { color: #483d8b; }
.ahl-diagnostic.ahl-warning { color: #ff8c00; }
.ahl-keyword { color: #a020f0; }
.ahl-module { color: #008b8b; }
.ahl-type { color: #228b22; }
.ahl-string { color: #8b2252; }
.ahl-markup.ahl-link.ahl-url {  color: #3a5fcd; }
.ahl-comment { color: #b22222; }
.ahl-namespace { color: #008b8b; }
.ahl-variable.ahl-parameter { color: #a0522d; }
.ahl-function { color: #0000ff; }
.ahl-string.ahl-special { font-weight: bold; color: #8b2252; }
.ahl-markup.ahl-heading { font-weight: bold; color: #ffd700; }
.ahl-markup.ahl-heading.ahl-2 { color: #a0522d; }
.ahl-variable { color: #a0522d; }
.ahl-markup.ahl-heading.ahl-6 { color: #008b8b; }
.ahl-function.ahl-call { color: #0000ff; }
.ahl-diff.ahl-plus { color: #00cd00; }
.ahl-diagnostic.ahl-error { color: #ff0000; }
.ahl-warning { color: #ff8c00; }
.ahl-type.ahl-builtin { color: #483d8b; }
.ahl-diagnostic.ahl-info { color: #228b22; }
.ahl-info { color: #228b22; }
.ahl-markup.ahl-heading.ahl-5 { color: #228b22; }
.ahl-label { color: #483d8b; }
.ahl-error { color: #ff0000; }
.ahl-special { color: #0000ff; }
.ahl-constructor { color: #228b22; }
.ahl-markup.ahl-quote { color: #999999; }
.ahl-markup.ahl-raw.ahl-inline { color: #008b8b; }
.ahl-hint { color: #008b8b; }
.ahl-constant.ahl-builtin { color: #483d8b; }
.ahl-function.ahl-builtin { color: #483d8b; }
.ahl-diff.ahl-delta { color: #ee9a00; }
.ahl-diff.ahl-minus { color: #ee0000; }
.ahl-punctuation { color: #000000; }
.ahl-markup.ahl-heading.ahl-marker { color: #999999; }
.ahl-markup.ahl-link.ahl-text { color: #3a5fcd; }
.ahl-tag { color: #0000ff; }
.ahl-markup.ahl-heading.ahl-4 { color: #b22222; }
.ahl-markup.ahl-list { color: #000000; }
.ahl-markup.ahl-heading.ahl-1 { color: #0000ff; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw.ahl-block { color: #008b8b; }
.ahl-constant { color: #008b8b; }
.ahl-function.ahl-special { color: #483d8b; }
.ahl-attribute { color: #483d8b; }
.ahl-markup.ahl-heading.ahl-3 { color: #a020f0; }
.ahl-operator { color: #a020f0; }
.ahl-diagnostic.ahl-hint { color: #008b8b; }
