/* everforest_dark
 * revision: 2eb7c348f880ba93de4d98cae049c9441f5d4d49
 */

pre.athl {
  color: #d3c6aa;
  background-color: #2d353b;
}
.attribute {
  color: #d699b6;
}
.attribute-builtin {
  color: #dbbc7f;
}
.boolean {
  color: #d699b6;
}
.character {
  color: #83c092;
}
.character-special {
  color: #dbbc7f;
}
.comment {
  color: #859289;
  font-style: italic;
}
.comment-documentation {
  color: #859289;
  font-style: italic;
}
.comment-error {
  color: #2d353b;
  background-color: #e67e80;
  font-weight: bold;
}
.comment-note {
  color: #2d353b;
  background-color: #a7c080;
  font-weight: bold;
}
.comment-todo {
  color: #2d353b;
  background-color: #7fbbb3;
  font-weight: bold;
}
.comment-warning {
  color: #2d353b;
  background-color: #dbbc7f;
  font-weight: bold;
}
.constant {
  color: #83c092;
}
.constant-builtin {
  color: #d699b6;
}
.constant-macro {
  color: #d699b6;
}
.constructor {
  color: #a7c080;
}
.diff-delta {
  color: #7fbbb3;
}
.diff-minus {
  color: #e67e80;
}
.diff-plus {
  color: #a7c080;
}
.error {
  color: #e67e80;
}
.function {
  color: #a7c080;
}
.function-builtin {
  color: #a7c080;
}
.function-call {
  color: #a7c080;
}
.function-macro {
  color: #a7c080;
}
.function-method {
  color: #a7c080;
}
.function-method-call {
  color: #a7c080;
}
.highlighted {
  background-color: #343f44;
}
.keyword {
  color: #e67e80;
}
.keyword-conditional {
  color: #e67e80;
}
.keyword-conditional-ternary {
  color: #e67e80;
}
.keyword-coroutine {
  color: #e67e80;
}
.keyword-debug {
  color: #e69875;
}
.keyword-directive {
  color: #d699b6;
}
.keyword-directive-define {
  color: #d699b6;
}
.keyword-exception {
  color: #e67e80;
}
.keyword-function {
  color: #e67e80;
}
.keyword-import {
  color: #e67e80;
}
.keyword-modifier {
  color: #e69875;
}
.keyword-operator {
  color: #e69875;
}
.keyword-repeat {
  color: #e67e80;
}
.keyword-return {
  color: #e67e80;
}
.keyword-type {
  color: #e67e80;
}
.label {
  color: #e69875;
}
.markup-heading {
  color: #e69875;
  font-weight: bold;
}
.markup-heading-1 {
  color: #e69875;
  font-weight: bold;
}
.markup-heading-2 {
  color: #e69875;
  font-weight: bold;
}
.markup-heading-3 {
  color: #e69875;
  font-weight: bold;
}
.markup-heading-4 {
  color: #e69875;
  font-weight: bold;
}
.markup-heading-5 {
  color: #e69875;
  font-weight: bold;
}
.markup-heading-6 {
  color: #e69875;
  font-weight: bold;
}
.markup-italic {
  font-style: italic;
}
.markup-link {
  color: #83c092;
}
.markup-link-label {
  color: #dbbc7f;
}
.markup-link-url {
  color: #7fbbb3;
  text-decoration: underline;
}
.markup-list {
  color: #7fbbb3;
}
.markup-list-checked {
  color: #a7c080;
}
.markup-list-unchecked {
  color: #859289;
}
.markup-math {
  color: #7fbbb3;
}
.markup-quote {
  color: #859289;
}
.markup-raw {
  color: #a7c080;
}
.markup-raw-block {
  color: #a7c080;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #dbbc7f;
}
.module-builtin {
  color: #dbbc7f;
}
.namespace {
  color: #dbbc7f;
}
.normal {
  color: #d3c6aa;
  background-color: #2d353b;
}
.number {
  color: #d699b6;
}
.number-float {
  color: #d699b6;
}
.operator {
  color: #e69875;
}
.property {
  color: #7fbbb3;
}
.punctuation-bracket {
  color: #d3c6aa;
}
.punctuation-delimiter {
  color: #859289;
}
.punctuation-special {
  color: #7fbbb3;
}
.string {
  color: #83c092;
}
.string-documentation {
  color: #83c092;
}
.string-escape {
  color: #a7c080;
}
.string-regexp {
  color: #a7c080;
}
.string-special {
  color: #dbbc7f;
}
.string-special-path {
  color: #dbbc7f;
}
.string-special-symbol {
  color: #83c092;
}
.string-special-url {
  color: #7fbbb3;
  text-decoration: underline;
}
.tag {
  color: #e69875;
}
.tag-attribute {
  color: #a7c080;
}
.tag-builtin {
  color: #dbbc7f;
}
.tag-delimiter {
  color: #a7c080;
}
.type {
  color: #dbbc7f;
}
.type-builtin {
  color: #dbbc7f;
}
.type-definition {
  color: #dbbc7f;
}
.variable {
  color: #d3c6aa;
}
.variable-builtin {
  color: #d699b6;
}
.variable-member {
  color: #7fbbb3;
}
.variable-parameter {
  color: #d3c6aa;
}
.variable-parameter-builtin {
  color: #dbbc7f;
}
