/* ferra */
pre.autumn-hl { background-color: #2b292d; color: #fecdb2; }
.ahl-info { color: #fecdb2; }
.ahl-label { color: #B1B695; }
.ahl-markup.ahl-heading.ahl-marker { color: #6F5D63; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-namespace { color: #fecdb2; }
.ahl-markup.ahl-heading { font-weight: bold; color: #B1B695; }
.ahl-attribute { color: #fecdb2; }
.ahl-type { color: #F6B6C9; }
.ahl-diagnostic.ahl-warning { color: #F5D76E; }
.ahl-hint { color: #fecdb2; }
.ahl-constant { color: #B1B695; }
.ahl-warning { color: #F5D76E; }
.ahl-module { color: #fecdb2; }
.ahl-variable { color: #fecdb2; }
.ahl-diagnostic.ahl-error { color: #e06b75; }
.ahl-diff.ahl-minus { color: #e06b75; }
.ahl-markup.ahl-raw { color: #ffa07a; }
.ahl-tag { color: #B1B695; }
.ahl-comment { font-style: italic; color: #6F5D63; }
.ahl-markup.ahl-link.ahl-text { color: #F6B6C9; }
.ahl-punctuation { color: #fecdb2; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-function.ahl-macro { color: #D1D1E0; }
.ahl-diff.ahl-plus { color: #B1B695; }
.ahl-operator { color: #D1D1E0; }
.ahl-diagnostic.ahl-info { color: #fecdb2; }
.ahl-markup.ahl-link.ahl-url {  color: #F6B6C9; }
.ahl-variable.ahl-builtin { color: #F6B6C9; }
.ahl-string { color: #B1B695; }
.ahl-diff.ahl-delta { color: #fecdb2; }
.ahl-keyword { color: #D1D1E0; }
.ahl-markup.ahl-quote { color: #6F5D63; }
.ahl-markup.ahl-list { color: #D1D1E0; }
.ahl-diagnostic.ahl-hint { color: #fecdb2; }
.ahl-function { color: #ffa07a; }
.ahl-error { color: #e06b75; }
