/* Fleet Dark - Lihuen Molina <lihue.molina@gmail.com> */
pre.athl {
  background-color: #181818ff; color: #d1d1d1ff;
}
.athl-attribute {
  color: #af9cffff;
  font-style: normal;
  font-weight: 400;
}
.athl-boolean {
  color: #82d2ceff;
  font-style: normal;
  font-weight: 400;
}
.athl-comment {
  color: #898989ff;
  font-style: normal;
  font-weight: 400;
}
.athl-comment-doc {
  color: #898989ff;
  font-style: normal;
  font-weight: 400;
}
.athl-constant {
  color: #af9cffff;
  font-style: normal;
  font-weight: 400;
}
.athl-enum {
  color: #87c3ffff;
  font-style: normal;
  font-weight: 400;
}
.athl-function {
  color: #ebc88dff;
  font-style: normal;
  font-weight: 400;
}
.athl-function-definition {
  color: #efefef;
  font-style: normal;
  font-weight: 600;
}
.athl-function-special {
  color: #a8cc7cff;
  font-style: normal;
  font-weight: 400;
}
.athl-function-special-definition {
  color: #d1d1d1ff;
}
.athl-keyword {
  color: #82d2ceff;
  font-style: normal;
  font-weight: 400;
}
.athl-link-text {
  font-style: normal;
  font-weight: 400;
}
.athl-link-uri {
  color: #add1deff;
  font-style: normal;
  font-weight: 400;
}
.athl-number {
  color: #ebc88dff;
  font-style: normal;
  font-weight: 400;
}
.athl-operator {
  color: #d1d1d1ff;
  font-style: normal;
  font-weight: 400;
}
.athl-property {
  color: #af9cffff;
  font-style: normal;
  font-weight: 400;
}
.athl-property-json_key {
  color: #82d2ceff;
  font-style: normal;
  font-weight: 400;
}
.athl-punctuation-bracket {
  color: #d1d1d1ff;
  font-style: normal;
  font-weight: 400;
}
.athl-string {
  color: #e394dcff;
  font-style: normal;
  font-weight: 400;
}
.athl-string-escape {
  color: #82d2ceff;
  font-style: normal;
  font-weight: 400;
}
.athl-string-regex {
  color: #82d2ceff;
  font-style: normal;
  font-weight: 400;
}
.athl-string-special {
  color: #82d2ceff;
  font-style: normal;
  font-weight: 400;
}
.athl-string-special-symbol {
  color: #af9cffff;
  font-style: normal;
  font-weight: 400;
}
.athl-tag {
  color: #87c3ffff;
  font-style: normal;
  font-weight: 400;
}
.athl-text-literal {
  color: #e394dcff;
  font-style: normal;
  font-weight: 400;
}
.athl-type {
  color: #87c3ffff;
  font-style: normal;
  font-weight: 400;
}
.athl-type-builtin {
  color: #82d2ceff;
  font-style: normal;
  font-weight: 400;
}
.athl-variable {
  color: #d1d1d1ff;
  font-style: normal;
  font-weight: 400;
}
.athl-variable-special {
  color: #cc7c8aff;
  font-style: normal;
  font-weight: 400;
}
