/* flexoki_dark */
pre.autumn-hl { background-color: #100F0F; color: #CECDC3; }
.ahl-info { font-weight: bold; color: #D0A215; }
.ahl-keyword.ahl-control.ahl-return { color: #879A39; }
.ahl-markup.ahl-bold { font-weight: bold; color: #DA702C; }
.ahl-namespace { color: #D14D41; }
.ahl-keyword.ahl-control.ahl-conditional { color: #879A39; }
.ahl-markup.ahl-heading { color: #DA702C; }
.ahl-constant.ahl-builtin { color: #D0A215; }
.ahl-attribute { color: #D0A215; }
.ahl-variable.ahl-other { color: #4385BE; }
.ahl-type { color: #D0A215; }
.ahl-diagnostic.ahl-warning { color: #D0A215; }
.ahl-hint { font-weight: bold; color: #4385BE; }
.ahl-string.ahl-special { color: #D0A215; }
.ahl-constant { color: #8B7EC8; }
.ahl-warning { font-weight: bold; color: #DA702C; }
.ahl-string.ahl-regexp { color: #DA702C; }
.ahl-variable { color: #CECDC3; }
.ahl-constructor { color: #879A39; }
.ahl-keyword.ahl-storage.ahl-modifier { color: #4385BE; }
.ahl-diagnostic.ahl-error { color: #D14D41; }
.ahl-diff.ahl-minus { color: #D14D41; }
.ahl-markup.ahl-raw { color: #4385BE; }
.ahl-tag { color: #4385BE; }
.ahl-comment { color: #575653; }
.ahl-markup.ahl-link.ahl-text { color: #D0A215; }
.ahl-punctuation { color: #878580; }
.ahl-markup.ahl-italic { font-style: italic; color: #DA702C; }
.ahl-diff.ahl-plus { color: #879A39; }
.ahl-operator { color: #878580; }
.ahl-diagnostic.ahl-info { color: #4385BE; }
.ahl-keyword.ahl-control { color: #D14D41; }
.ahl-markup.ahl-link.ahl-url { color: #4385BE; }
.ahl-variable.ahl-builtin { color: #CE5D97; }
.ahl-markup.ahl-raw.ahl-block { color: #DA702C; }
.ahl-string { color: #3AA99F; }
.ahl-diff.ahl-delta { color: #D0A215; }
.ahl-keyword.ahl-control.ahl-import { color: #D0A215; }
.ahl-keyword { color: #879A39; }
.ahl-keyword.ahl-storage.ahl-type { color: #4385BE; }
.ahl-markup.ahl-quote { color: #D0A215; }
.ahl-markup.ahl-link.ahl-label { color: #879A39; }
.ahl-markup.ahl-list { color: #D0A215; }
.ahl-diagnostic.ahl-hint { color: #4385BE; }
.ahl-keyword.ahl-function { color: #879A39; }
.ahl-function { color: #DA702C; }
.ahl-error { font-weight: bold; color: #D14D41; }
