/* flexoki_light */
pre.autumn-hl { background-color: #FFFCF0; color: #100F0F; }
.ahl-info { font-weight: bold; color: #AD8301; }
.ahl-keyword.ahl-control.ahl-return { color: #66800B; }
.ahl-markup.ahl-bold { font-weight: bold; color: #BC5215; }
.ahl-namespace { color: #AF3029; }
.ahl-keyword.ahl-control.ahl-conditional { color: #66800B; }
.ahl-markup.ahl-heading { color: #BC5215; }
.ahl-constant.ahl-builtin { color: #AD8301; }
.ahl-attribute { color: #AD8301; }
.ahl-variable.ahl-other { color: #205EA6; }
.ahl-type { color: #AD8301; }
.ahl-diagnostic.ahl-warning { color: #AD8301; }
.ahl-hint { font-weight: bold; color: #205EA6; }
.ahl-string.ahl-special { color: #AD8301; }
.ahl-constant { color: #5E409D; }
.ahl-warning { font-weight: bold; color: #BC5215; }
.ahl-string.ahl-regexp { color: #BC5215; }
.ahl-variable { color: #100F0F; }
.ahl-constructor { color: #66800B; }
.ahl-keyword.ahl-storage.ahl-modifier { color: #205EA6; }
.ahl-diagnostic.ahl-error { color: #AF3029; }
.ahl-diff.ahl-minus { color: #AF3029; }
.ahl-markup.ahl-raw { color: #205EA6; }
.ahl-tag { color: #205EA6; }
.ahl-comment { color: #B7B5AC; }
.ahl-markup.ahl-link.ahl-text { color: #AD8301; }
.ahl-punctuation { color: #6F6E69; }
.ahl-markup.ahl-italic { font-style: italic; color: #BC5215; }
.ahl-diff.ahl-plus { color: #66800B; }
.ahl-operator { color: #6F6E69; }
.ahl-diagnostic.ahl-info { color: #205EA6; }
.ahl-keyword.ahl-control { color: #AF3029; }
.ahl-markup.ahl-link.ahl-url { color: #205EA6; }
.ahl-variable.ahl-builtin { color: #A02F6F; }
.ahl-markup.ahl-raw.ahl-block { color: #BC5215; }
.ahl-string { color: #24837B; }
.ahl-diff.ahl-delta { color: #AD8301; }
.ahl-keyword.ahl-control.ahl-import { color: #AD8301; }
.ahl-keyword { color: #66800B; }
.ahl-keyword.ahl-storage.ahl-type { color: #205EA6; }
.ahl-markup.ahl-quote { color: #AD8301; }
.ahl-markup.ahl-link.ahl-label { color: #66800B; }
.ahl-markup.ahl-list { color: #AD8301; }
.ahl-diagnostic.ahl-hint { color: #205EA6; }
.ahl-keyword.ahl-function { color: #66800B; }
.ahl-function { color: #BC5215; }
.ahl-error { font-weight: bold; color: #AF3029; }
