/* github_light */
pre.autumn-hl { background-color: #ffffff; color: #57606a; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #8250df; }
.ahl-variable.ahl-builtin { color: #cf222e; }
.ahl-variable.ahl-other.ahl-member { color: #0a3069; }
.ahl-diagnostic.ahl-warning { color: #9a6700; }
.ahl-keyword { color: #cf222e; }
.ahl-type { color: #953800; }
.ahl-string { color: #0a3069; }
.ahl-comment { color: #57606a; }
.ahl-namespace { color: #953800; }
.ahl-variable.ahl-parameter { color: #953800; }
.ahl-function { color: #8250df; }
.ahl-markup.ahl-heading { color: #0550ae; }
.ahl-variable { color: #24292f; }
.ahl-diff.ahl-plus { color: #1a7f37; }
.ahl-diagnostic.ahl-error { color: #cf222e; }
.ahl-warning { color: #9a6700; }
.ahl-type.ahl-builtin { color: #0550ae; }
.ahl-diagnostic.ahl-info { color: #0969da; }
.ahl-keyword.ahl-directive { color: #cf222e; }
.ahl-punctuation.ahl-delimiter { color: #24292f; }
.ahl-info { color: #0969da; }
.ahl-label { color: #cf222e; }
.ahl-constant.ahl-character.ahl-escape { color: #0550ae; }
.ahl-error { color: #cf222e; }
.ahl-constant.ahl-numeric { color: #0550ae; }
.ahl-special { color: #0a3069; }
.ahl-constructor { color: #8250df; }
.ahl-hint { color: #1a7f37; }
.ahl-constant.ahl-builtin { color: #0550ae; }
.ahl-diff.ahl-delta { color: #9a6700; }
.ahl-diff.ahl-minus { color: #cf222e; }
.ahl-punctuation { color: #24292f; }
.ahl-markup.ahl-link.ahl-text {  color: #0a3069; }
.ahl-tag { color: #116329; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #0550ae; }
.ahl-constant { color: #0550ae; }
.ahl-attribute { color: #24292f; }
.ahl-operator { color: #0a3069; }
.ahl-diagnostic.ahl-hint { color: #1a7f37; }
