/* github_dark_dimmed
 * revision: c106c9472154d6b2c74b74565616b877ae8ed31d
 */

pre.athl {
  color: #adbac7;
  background-color: #22272e;
}
.attribute {
  color: #6cb6ff;
}
.attribute-builtin {
  color: #adbac7;
}
.boolean {
  color: #6cb6ff;
}
.character {
  color: #96d0ff;
}
.character-special {
  color: #adbac7;
}
.comment {
  color: #768390;
}
.comment-documentation {
  color: #768390;
}
.comment-error {
  color: #22272e;
  background-color: #e5534b;
}
.comment-note {
  color: #539bf5;
}
.comment-todo {
  color: #22272e;
  background-color: #768390;
}
.comment-warning {
  color: #22272e;
  background-color: #c69026;
}
.constant {
  color: #6cb6ff;
}
.constant-builtin {
  color: #6cb6ff;
}
.constant-macro {
  color: #f47067;
}
.constructor {
  color: #f69d50;
}
.cursorline {
  background-color: #30363d;
}
.diff-delta {
  color: #c69026;
  background-color: #333027;
}
.diff-minus {
  color: #e5534b;
  background-color: #3b2a2f;
}
.diff-plus {
  color: #57ab5a;
  background-color: #253430;
}
.function {
  color: #dcbdfb;
}
.function-call {
  color: #dcbdfb;
}
.function-macro {
  color: #dcbdfb;
}
.function-method {
  color: #dcbdfb;
}
.function-method-call {
  color: #dcbdfb;
}
.keyword {
  color: #f47067;
}
.keyword-conditional {
  color: #f47067;
}
.keyword-conditional-ternary {
  color: #f47067;
}
.keyword-coroutine {
  color: #f47067;
}
.keyword-debug {
  color: #f47067;
}
.keyword-directive {
  color: #f47067;
}
.keyword-directive-define {
  color: #f47067;
}
.keyword-exception {
  color: #6cb6ff;
}
.keyword-function {
  color: #f47067;
}
.keyword-import {
  color: #f47067;
}
.keyword-modifier {
  color: #f47067;
}
.keyword-operator {
  color: #f47067;
}
.keyword-repeat {
  color: #f47067;
}
.keyword-return {
  color: #f47067;
}
.keyword-type {
  color: #f47067;
}
.label {
  color: #8ddb8c;
}
.markup-heading {
  color: #6cb6ff;
  font-weight: bold;
}
.markup-heading-1 {
  color: #6cb6ff;
  font-weight: bold;
}
.markup-heading-2 {
  color: #6cb6ff;
  font-weight: bold;
}
.markup-heading-3 {
  color: #6cb6ff;
  font-weight: bold;
}
.markup-heading-4 {
  color: #6cb6ff;
  font-weight: bold;
}
.markup-heading-5 {
  color: #6cb6ff;
  font-weight: bold;
}
.markup-heading-6 {
  color: #6cb6ff;
  font-weight: bold;
}
.markup-italic {
  color: #adbac7;
  font-style: italic;
}
.markup-link {
  color: #adbac7;
  text-decoration: underline;
}
.markup-link-label {
  color: #adbac7;
}
.markup-link-url {
  color: #adbac7;
  text-decoration: underline;
}
.markup-list {
  color: #6cb6ff;
}
.markup-list-checked {
  color: #57ab5a;
}
.markup-list-unchecked {
  color: #636e7b;
}
.markup-math {
  color: #adbac7;
}
.markup-quote {
  color: #adbac7;
}
.markup-raw {
  color: #adbac7;
  font-style: italic;
}
.markup-raw-block {
  color: #adbac7;
  font-style: italic;
}
.markup-strikethrough {
  color: #adbac7;
  text-decoration: line-through;
}
.markup-strong {
  color: #adbac7;
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #f47067;
}
.module-builtin {
  color: #6cb6ff;
}
.normal {
  color: #adbac7;
  background-color: #22272e;
}
.number {
  color: #6cb6ff;
}
.number-float {
  color: #6cb6ff;
}
.operator {
  color: #6cb6ff;
}
.property {
  color: #6cb6ff;
}
.punctuation-bracket {
  color: #adbac7;
}
.punctuation-delimiter {
  color: #adbac7;
}
.punctuation-special {
  color: #adbac7;
}
.string {
  color: #96d0ff;
}
.string-documentation {
  color: #96d0ff;
}
.string-escape {
  color: #96d0ff;
  font-weight: bold;
}
.string-regexp {
  color: #96d0ff;
}
.string-special {
  color: #adbac7;
}
.string-special-path {
  color: #adbac7;
}
.string-special-symbol {
  color: #6cb6ff;
}
.string-special-url {
  color: #6cb6ff;
  font-style: italic;
  text-decoration: underline;
}
.tag {
  color: #8ddb8c;
}
.tag-attribute {
  color: #6cb6ff;
}
.tag-builtin {
  color: #8ddb8c;
}
.type {
  color: #f69d50;
}
.type-builtin {
  color: #f47067;
}
.type-definition {
  color: #f69d50;
}
.variable {
  color: #adbac7;
}
.variable-builtin {
  color: #6cb6ff;
}
.variable-member {
  color: #6cb6ff;
}
.variable-parameter {
  color: #adbac7;
}
.variable-parameter-builtin {
  color: #6cb6ff;
}
