/* Github Light - Pyae Sone Aung */
pre.athl {
  background-color: #ffffffff; color: #1f2328ff;
}
.athl-boolean {
  color: #0550aeff;
}
.athl-comment {
  color: #59636eff;
}
.athl-comment-doc {
  color: #59636eff;
}
.athl-constant {
  color: #0550aeff;
}
.athl-constructor {
  color: #0550aeff;
}
.athl-embedded {
  color: #cf222eff;
}
.athl-emphasis {
  font-style: italic;
}
.athl-emphasis-strong {
  font-weight: 700;
}
.athl-enum {
  color: #953800ff;
}
.athl-function {
  color: #8250dfff;
}
.athl-function-method {
  color: #8250dfff;
}
.athl-function-special-definition {
  color: #8250dfff;
}
.athl-hint {
  color: #59636eff;
  font-weight: 700;
}
.athl-keyword {
  color: #cf222eff;
}
.athl-label {
  color: #0550aeff;
}
.athl-link_text {
  color: #0a3069ff;
  font-style: italic;
}
.athl-link_uri {
  color: #0550aeff;
}
.athl-number {
  color: #0550aeff;
}
.athl-operator {
  color: #1f2328ff;
}
.athl-predictive {
  color: #59636eff;
  font-style: italic;
}
.athl-preproc {
  color: #cf222eff;
}
.athl-primary {
  color: #1f2328ff;
}
.athl-property {
  color: #0550aeff;
}
.athl-punctuation {
  color: #1f2328ff;
}
.athl-punctuation-bracket {
  color: #1f2328ff;
}
.athl-punctuation-delimiter {
  color: #1f2328ff;
}
.athl-punctuation-list_marker {
  color: #953800ff;
}
.athl-punctuation-special {
  color: #cf222eff;
}
.athl-string {
  color: #0a3069ff;
}
.athl-string-escape {
  color: #116329ff;
  font-weight: 700;
}
.athl-string-regex {
  color: #0a3069ff;
}
.athl-string-special {
  color: #0550aeff;
}
.athl-string-special-symbol {
  color: #0550aeff;
}
.athl-tag {
  color: #116329ff;
}
.athl-text-literal {
  color: #0550aeff;
}
.athl-title {
  color: #0550aeff;
  font-weight: 700;
}
.athl-type {
  color: #953800ff;
}
.athl-variable {
  color: #1f2328ff;
}
.athl-variable-special {
  color: #cf222eff;
}
.athl-variant {
  color: #953800ff;
}
