/* Github Dark - Pyae Sone Aung */
pre.athl {
  background-color: #0d1117ff; color: #f0f6fcff;
}
.athl-boolean {
  color: #79c0ffff;
}
.athl-comment {
  color: #9198a1ff;
}
.athl-comment-doc {
  color: #9198a1ff;
}
.athl-constant {
  color: #79c0ffff;
}
.athl-constructor {
  color: #79c0ffff;
}
.athl-embedded {
  color: #ff7b72ff;
}
.athl-emphasis {
  font-style: italic;
}
.athl-emphasis-strong {
  font-weight: 700;
}
.athl-enum {
  color: #ffa657ff;
}
.athl-function {
  color: #d2a8ffff;
}
.athl-function-method {
  color: #d2a8ffff;
}
.athl-function-special-definition {
  color: #d2a8ffff;
}
.athl-hint {
  color: #9198a1ff;
  font-weight: 700;
}
.athl-keyword {
  color: #ff7b72ff;
}
.athl-label {
  color: #79c0ffff;
}
.athl-link_text {
  color: #a5d6ffff;
  font-style: italic;
}
.athl-link_uri {
  color: #79c0ffff;
}
.athl-number {
  color: #79c0ffff;
}
.athl-operator {
  color: #f0f6fcff;
}
.athl-predictive {
  color: #9198a1ff;
  font-style: italic;
}
.athl-preproc {
  color: #ff7b72ff;
}
.athl-primary {
  color: #f0f6fcff;
}
.athl-property {
  color: #79c0ffff;
}
.athl-punctuation {
  color: #f0f6fcff;
}
.athl-punctuation-bracket {
  color: #f0f6fcff;
}
.athl-punctuation-delimiter {
  color: #f0f6fcff;
}
.athl-punctuation-list_marker {
  color: #ffa657ff;
}
.athl-punctuation-special {
  color: #ff7b72ff;
}
.athl-string {
  color: #a5d6ffff;
}
.athl-string-escape {
  color: #7ee787ff;
  font-weight: 700;
}
.athl-string-regex {
  color: #a5d6ffff;
}
.athl-string-special {
  color: #79c0ffff;
}
.athl-string-special-symbol {
  color: #79c0ffff;
}
.athl-tag {
  color: #7ee787ff;
}
.athl-text-literal {
  color: #79c0ffff;
}
.athl-title {
  color: #79c0ffff;
  font-weight: 700;
}
.athl-type {
  color: #ffa657ff;
}
.athl-variable {
  color: #f0f6fcff;
}
.athl-variable-special {
  color: #ff7b72ff;
}
.athl-variant {
  color: #ffa657ff;
}
