/* github_dark_colorblind */
pre.autumn-hl { background-color: #0d1117; color: #8b949e; }
.ahl-info { color: #58a6ff; }
.ahl-label { color: #ec8e2c; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-namespace { color: #fdac54; }
.ahl-markup.ahl-heading { color: #79c0ff; }
.ahl-constant.ahl-builtin { color: #79c0ff; }
.ahl-attribute { color: #c9d1d9; }
.ahl-type { color: #fdac54; }
.ahl-diagnostic.ahl-warning { color: #d29922; }
.ahl-hint { color: #58a6ff; }
.ahl-constant { color: #79c0ff; }
.ahl-warning { color: #d29922; }
.ahl-variable { color: #c9d1d9; }
.ahl-constructor { color: #d2a8ff; }
.ahl-type.ahl-builtin { color: #79c0ff; }
.ahl-diagnostic.ahl-error { color: #d47616; }
.ahl-diff.ahl-minus { color: #8b949e; }
.ahl-markup.ahl-raw { color: #79c0ff; }
.ahl-tag { color: #a5d6ff; }
.ahl-comment { color: #8b949e; }
.ahl-markup.ahl-link.ahl-text {  color: #a5d6ff; }
.ahl-punctuation { color: #c9d1d9; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-function.ahl-macro { color: #d2a8ff; }
.ahl-special { color: #a5d6ff; }
.ahl-diff.ahl-plus { color: #ec8e2c; }
.ahl-operator { color: #a5d6ff; }
.ahl-keyword.ahl-directive { color: #ec8e2c; }
.ahl-diagnostic.ahl-info { color: #58a6ff; }
.ahl-constant.ahl-character.ahl-escape { color: #79c0ff; }
.ahl-variable.ahl-builtin { color: #ec8e2c; }
.ahl-punctuation.ahl-delimiter { color: #c9d1d9; }
.ahl-variable.ahl-parameter { color: #fdac54; }
.ahl-string { color: #a5d6ff; }
.ahl-diff.ahl-delta { color: #d29922; }
.ahl-keyword { color: #ec8e2c; }
.ahl-diagnostic.ahl-hint { color: #58a6ff; }
.ahl-variable.ahl-other.ahl-member { color: #a5d6ff; }
.ahl-function { color: #d2a8ff; }
.ahl-constant.ahl-numeric { color: #79c0ff; }
.ahl-error { color: #d47616; }
