/* github_light_colorblind
 * revision: c106c9472154d6b2c74b74565616b877ae8ed31d
 */

pre.athl {
  color: #1b1f24;
  background-color: #ffffff;
}
.attribute {
  color: #0550ae;
}
.attribute-builtin {
  color: #1b1f24;
}
.boolean {
  color: #0550ae;
}
.character {
  color: #0a3069;
}
.character-special {
  color: #1b1f24;
}
.comment {
  color: #57606a;
}
.comment-documentation {
  color: #57606a;
}
.comment-error {
  color: #ffffff;
  background-color: #d1242f;
}
.comment-hint {
  color: #ffffff;
  background-color: #d0d7de;
}
.comment-note {
  color: #0969da;
}
.comment-todo {
  color: #ffffff;
  background-color: #d0d7de;
}
.comment-warning {
  color: #ffffff;
  background-color: #9a6700;
}
.constant {
  color: #0550ae;
}
.constant-builtin {
  color: #0550ae;
}
.constant-java {
  color: #0550ae;
}
.constant-macro {
  color: #b35900;
}
.constructor {
  color: #8a4600;
}
.constructor-lua {
  color: #1b1f24;
}
.constructor-python {
  color: #8a4600;
}
.diff-delta {
  color: #9a6700;
  background-color: #d8cab3;
}
.diff-minus {
  color: #d1242f;
  background-color: #dcc8b3;
}
.diff-plus {
  color: #0969da;
  background-color: #b4cbe7;
}
.function {
  color: #6639ba;
}
.function-builtin-bash {
  color: #b35900;
}
.function-call {
  color: #6639ba;
}
.function-macro {
  color: #b35900;
}
.function-method {
  color: #6639ba;
}
.function-method-call {
  color: #6639ba;
}
.function-method-call-php {
  color: #6639ba;
}
.function-method-php {
  color: #6639ba;
}
.highlighted {
  background-color: #e7eaf0;
}
.keyword {
  color: #b35900;
}
.keyword-conditional {
  color: #b35900;
}
.keyword-conditional-ternary {
  color: #b35900;
}
.keyword-coroutine {
  color: #b35900;
}
.keyword-debug {
  color: #1b1f24;
}
.keyword-directive {
  color: #b35900;
}
.keyword-directive-css {
  color: #b35900;
}
.keyword-directive-define {
  color: #b35900;
}
.keyword-exception {
  color: #0550ae;
}
.keyword-export {
  color: #b35900;
}
.keyword-function {
  color: #b35900;
}
.keyword-import {
  color: #b35900;
}
.keyword-import-c {
  color: #b35900;
}
.keyword-import-cpp {
  color: #b35900;
}
.keyword-modifier {
  color: #b35900;
}
.keyword-operator {
  color: #b35900;
}
.keyword-repeat {
  color: #b35900;
}
.keyword-return {
  color: #b35900;
}
.keyword-type {
  color: #8a4600;
}
.label {
  color: #0550ae;
}
.label-yaml {
  color: #0550ae;
}
.markup {
  color: #1b1f24;
}
.markup-environment {
  color: #b35900;
}
.markup-environment-name {
  color: #6639ba;
}
.markup-heading {
  color: #0550ae;
  font-weight: bold;
}
.markup-heading-1 {
  color: #0550ae;
  font-weight: bold;
}
.markup-heading-2 {
  color: #0550ae;
  font-weight: bold;
}
.markup-heading-3 {
  color: #0550ae;
  font-weight: bold;
}
.markup-heading-4 {
  color: #0550ae;
  font-weight: bold;
}
.markup-heading-5 {
  color: #0550ae;
  font-weight: bold;
}
.markup-heading-6 {
  color: #0550ae;
  font-weight: bold;
}
.markup-italic {
  color: #1b1f24;
  font-style: italic;
}
.markup-link {
  color: #1b1f24;
  text-decoration: underline;
}
.markup-link-label {
  color: #1b1f24;
}
.markup-link-label-html {
  color: #1b1f24;
}
.markup-link-url {
  text-decoration: underline;
}
.markup-list {
  color: #0550ae;
}
.markup-list-checked {
  color: #0550ae;
}
.markup-list-unchecked {
  color: #57606a;
}
.markup-math {
  color: #1b1f24;
}
.markup-quote {
  color: #1b1f24;
}
.markup-raw {
  color: #1b1f24;
  font-style: italic;
}
.markup-raw-block {
  color: #1b1f24;
  font-style: italic;
}
.markup-strikethrough {
  color: #1b1f24;
  text-decoration: line-through;
}
.markup-strong {
  color: #1b1f24;
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #b35900;
}
.module-builtin {
  color: #0550ae;
}
.normal {
  color: #1b1f24;
  background-color: #ffffff;
}
.number {
  color: #0550ae;
}
.number-css {
  color: #0550ae;
}
.number-float {
  color: #0550ae;
}
.operator {
  color: #0550ae;
}
.property {
  color: #0550ae;
}
.property-class-css {
  color: #0550ae;
}
.property-css {
  color: #0550ae;
}
.property-id-css {
  color: #0550ae;
}
.property-json {
  color: #0550ae;
}
.property-scss {
  color: #0550ae;
}
.property-toml {
  color: #0550ae;
}
.property-yaml {
  color: #0550ae;
}
.punctuation-bracket {
  color: #1b1f24;
}
.punctuation-delimiter {
  color: #1b1f24;
}
.punctuation-delimiter-regex {
  color: #1b1f24;
}
.punctuation-special {
  color: #1b1f24;
}
.string {
  color: #0a3069;
}
.string-documentation {
  color: #0a3069;
}
.string-escape {
  color: #0a3069;
  font-weight: bold;
}
.string-plain-css {
  color: #0a3069;
}
.string-regexp {
  color: #0a3069;
}
.string-special {
  color: #1b1f24;
}
.string-special-path {
  color: #1b1f24;
}
.string-special-symbol {
  color: #0550ae;
}
.string-special-symbol-ruby {
  color: #0550ae;
}
.string-special-url {
  color: #0550ae;
  font-style: italic;
  text-decoration: underline;
}
.string-special-url-html {
  color: #0550ae;
  font-style: italic;
  text-decoration: underline;
}
.tag {
  color: #0550ae;
}
.tag-attribute {
  color: #0550ae;
}
.tag-builtin {
  color: #0550ae;
}
.type {
  color: #8a4600;
}
.type-builtin {
  color: #b35900;
}
.type-css {
  color: #0550ae;
}
.type-definition {
  color: #8a4600;
}
.type-tag-css {
  color: #8a4600;
}
.variable {
  color: #1b1f24;
}
.variable-builtin {
  color: #0550ae;
}
.variable-member {
  color: #0550ae;
}
.variable-parameter {
  color: #1b1f24;
}
.variable-parameter-bash {
  color: #1b1f24;
}
.variable-parameter-builtin {
  color: #0550ae;
}
