/* github_light_high_contrast */
pre.autumn-hl { background-color: #ffffff; color: #0e1116; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #622cbc; }
.ahl-variable.ahl-builtin { color: #a0111f; }
.ahl-variable.ahl-other.ahl-member { color: #032563; }
.ahl-diagnostic.ahl-warning { color: #744500; }
.ahl-keyword { color: #a0111f; }
.ahl-type { color: #702c00; }
.ahl-string { color: #032563; }
.ahl-comment { color: #0e1116; }
.ahl-namespace { color: #702c00; }
.ahl-variable.ahl-parameter { color: #702c00; }
.ahl-function { color: #622cbc; }
.ahl-markup.ahl-heading { color: #023b95; }
.ahl-variable { color: #0e1116; }
.ahl-diff.ahl-plus { color: #055d20; }
.ahl-diagnostic.ahl-error { color: #a0111f; }
.ahl-warning { color: #744500; }
.ahl-type.ahl-builtin { color: #023b95; }
.ahl-diagnostic.ahl-info { color: #0349b4; }
.ahl-keyword.ahl-directive { color: #a0111f; }
.ahl-punctuation.ahl-delimiter { color: #0e1116; }
.ahl-info { color: #0349b4; }
.ahl-label { color: #a0111f; }
.ahl-constant.ahl-character.ahl-escape { color: #023b95; }
.ahl-error { color: #a0111f; }
.ahl-constant.ahl-numeric { color: #023b95; }
.ahl-special { color: #032563; }
.ahl-constructor { color: #622cbc; }
.ahl-hint { color: #055d20; }
.ahl-constant.ahl-builtin { color: #023b95; }
.ahl-diff.ahl-delta { color: #744500; }
.ahl-diff.ahl-minus { color: #a0111f; }
.ahl-punctuation { color: #0e1116; }
.ahl-markup.ahl-link.ahl-text {  color: #032563; }
.ahl-tag { color: #024c1a; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #023b95; }
.ahl-constant { color: #023b95; }
.ahl-attribute { color: #0e1116; }
.ahl-operator { color: #032563; }
.ahl-diagnostic.ahl-hint { color: #055d20; }
