/* Github Dark High Contrast - Pyae Sone Aung */
pre.athl {
  background-color: #010409ff; color: #ffffffff;
}
.athl-boolean {
  color: #91cbffff;
}
.athl-comment {
  color: #9198a1ff;
}
.athl-comment-doc {
  color: #9198a1ff;
}
.athl-constant {
  color: #91cbffff;
}
.athl-constructor {
  color: #91cbffff;
}
.athl-embedded {
  color: #ff9492ff;
}
.athl-emphasis {
  font-style: italic;
}
.athl-emphasis-strong {
  font-weight: 700;
}
.athl-enum {
  color: #ffb757ff;
}
.athl-function {
  color: #dbb7ffff;
}
.athl-function-method {
  color: #dbb7ffff;
}
.athl-function-special-definition {
  color: #dbb7ffff;
}
.athl-hint {
  color: #b7bdc8ff;
  font-weight: 700;
}
.athl-keyword {
  color: #ff9492ff;
}
.athl-label {
  color: #91cbffff;
}
.athl-link_text {
  color: #addcffff;
  font-style: italic;
}
.athl-link_uri {
  color: #91cbffff;
}
.athl-number {
  color: #91cbffff;
}
.athl-operator {
  color: #ffffffff;
}
.athl-predictive {
  color: #b7bdc8ff;
  font-style: italic;
}
.athl-preproc {
  color: #ff9492ff;
}
.athl-primary {
  color: #ffffffff;
}
.athl-property {
  color: #91cbffff;
}
.athl-punctuation {
  color: #ffffffff;
}
.athl-punctuation-bracket {
  color: #ffffffff;
}
.athl-punctuation-delimiter {
  color: #ffffffff;
}
.athl-punctuation-list_marker {
  color: #ffb757ff;
}
.athl-punctuation-special {
  color: #ff9492ff;
}
.athl-string {
  color: #addcffff;
}
.athl-string-escape {
  color: #72f088ff;
  font-weight: 700;
}
.athl-string-regex {
  color: #addcffff;
}
.athl-string-special {
  color: #91cbffff;
}
.athl-string-special-symbol {
  color: #91cbffff;
}
.athl-tag {
  color: #72f088ff;
}
.athl-text-literal {
  color: #91cbffff;
}
.athl-title {
  color: #91cbffff;
  font-weight: 700;
}
.athl-type {
  color: #ffb757ff;
}
.athl-variable {
  color: #ffffffff;
}
.athl-variable-special {
  color: #ff9492ff;
}
.athl-variant {
  color: #ffb757ff;
}
