/* github_dark_dimmed */
pre.autumn-hl { background-color: #22272e; color: #768390; }
.ahl-info { color: #539bf5; }
.ahl-label { color: #f47067; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-namespace { color: #f69d50; }
.ahl-markup.ahl-heading { color: #6cb6ff; }
.ahl-constant.ahl-builtin { color: #6cb6ff; }
.ahl-attribute { color: #adbac7; }
.ahl-type { color: #f69d50; }
.ahl-diagnostic.ahl-warning { color: #c69026; }
.ahl-hint { color: #57ab5a; }
.ahl-constant { color: #6cb6ff; }
.ahl-warning { color: #c69026; }
.ahl-variable { color: #adbac7; }
.ahl-constructor { color: #dcbdfb; }
.ahl-type.ahl-builtin { color: #6cb6ff; }
.ahl-diagnostic.ahl-error { color: #e5534b; }
.ahl-diff.ahl-minus { color: #e5534b; }
.ahl-markup.ahl-raw { color: #6cb6ff; }
.ahl-tag { color: #8ddb8c; }
.ahl-comment { color: #768390; }
.ahl-markup.ahl-link.ahl-text {  color: #96d0ff; }
.ahl-punctuation { color: #adbac7; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-function.ahl-macro { color: #dcbdfb; }
.ahl-special { color: #96d0ff; }
.ahl-diff.ahl-plus { color: #57ab5a; }
.ahl-operator { color: #96d0ff; }
.ahl-keyword.ahl-directive { color: #f47067; }
.ahl-diagnostic.ahl-info { color: #539bf5; }
.ahl-constant.ahl-character.ahl-escape { color: #6cb6ff; }
.ahl-variable.ahl-builtin { color: #f47067; }
.ahl-punctuation.ahl-delimiter { color: #adbac7; }
.ahl-variable.ahl-parameter { color: #f69d50; }
.ahl-string { color: #96d0ff; }
.ahl-diff.ahl-delta { color: #c69026; }
.ahl-keyword { color: #f47067; }
.ahl-diagnostic.ahl-hint { color: #57ab5a; }
.ahl-variable.ahl-other.ahl-member { color: #96d0ff; }
.ahl-function { color: #dcbdfb; }
.ahl-constant.ahl-numeric { color: #6cb6ff; }
.ahl-error { color: #e5534b; }
