/* github_dark_high_contrast */
pre.autumn-hl { background-color: #0a0c10; color: #f0f3f6; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #dbb7ff; }
.ahl-variable.ahl-builtin { color: #ff9492; }
.ahl-variable.ahl-other.ahl-member { color: #addcff; }
.ahl-diagnostic.ahl-warning { color: #f0b72f; }
.ahl-keyword { color: #ff9492; }
.ahl-type { color: #ffb757; }
.ahl-string { color: #addcff; }
.ahl-comment { color: #f0f3f6; }
.ahl-namespace { color: #ffb757; }
.ahl-variable.ahl-parameter { color: #ffb757; }
.ahl-function { color: #dbb7ff; }
.ahl-markup.ahl-heading { color: #91cbff; }
.ahl-variable { color: #f0f3f6; }
.ahl-diff.ahl-plus { color: #26cd4d; }
.ahl-diagnostic.ahl-error { color: #ff6a69; }
.ahl-warning { color: #f0b72f; }
.ahl-type.ahl-builtin { color: #91cbff; }
.ahl-diagnostic.ahl-info { color: #71b7ff; }
.ahl-keyword.ahl-directive { color: #ff9492; }
.ahl-punctuation.ahl-delimiter { color: #f0f3f6; }
.ahl-info { color: #71b7ff; }
.ahl-label { color: #ff9492; }
.ahl-constant.ahl-character.ahl-escape { color: #91cbff; }
.ahl-error { color: #ff6a69; }
.ahl-constant.ahl-numeric { color: #91cbff; }
.ahl-special { color: #addcff; }
.ahl-constructor { color: #dbb7ff; }
.ahl-hint { color: #26cd4d; }
.ahl-constant.ahl-builtin { color: #91cbff; }
.ahl-diff.ahl-delta { color: #f0b72f; }
.ahl-diff.ahl-minus { color: #ff6a69; }
.ahl-punctuation { color: #f0f3f6; }
.ahl-markup.ahl-link.ahl-text {  color: #addcff; }
.ahl-tag { color: #72f088; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #91cbff; }
.ahl-constant { color: #91cbff; }
.ahl-attribute { color: #f0f3f6; }
.ahl-operator { color: #addcff; }
.ahl-diagnostic.ahl-hint { color: #26cd4d; }
