/* gruber_darker */
pre.autumn-hl { background-color: #181818; color: #e4e4ef; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-variable.ahl-builtin { font-weight: bold; color: #ffdd33; }
.ahl-diagnostic.ahl-warning { color: #fe8019; }
.ahl-keyword { font-weight: bold; color: #ffdd33; }
.ahl-module { color: #8ec07c; }
.ahl-constant.ahl-character { color: #73c936; }
.ahl-type { color: #95a99f; }
.ahl-string { color: #73c936; }
.ahl-markup.ahl-link.ahl-url {  color: #b8bb26; }
.ahl-comment { color: #cc8c3c; }
.ahl-namespace { color: #95a99f; }
.ahl-variable.ahl-parameter { color: #e4e4ef; }
.ahl-function { color: #96a6c8; }
.ahl-markup.ahl-heading { font-weight: bold; color: #8ec07c; }
.ahl-variable { color: #e4e4ef; }
.ahl-diff.ahl-plus { color: #b8bb26; }
.ahl-diagnostic.ahl-error { color: #fb4934; }
.ahl-warning { font-weight: bold; color: #fe8019; }
.ahl-type.ahl-builtin { color: #ffdd33; }
.ahl-diagnostic.ahl-info { color: #8ec07c; }
.ahl-keyword.ahl-directive { color: #95a99f; }
.ahl-punctuation.ahl-delimiter { color: #e4e4ef; }
.ahl-info { font-weight: bold; color: #8ec07c; }
.ahl-label { color: #e4e4ef; }
.ahl-constant.ahl-character.ahl-escape { color: #ffdd33; }
.ahl-error { font-weight: bold; color: #f43841; }
.ahl-constant.ahl-numeric { color: #9e95c7; }
.ahl-special { font-weight: bold; color: #ffdd33; }
.ahl-constructor { color: #95a99f; }
.ahl-hint { font-weight: bold; color: #5292c8; }
.ahl-constant.ahl-builtin { font-weight: bold; color: #ffdd33; }
.ahl-function.ahl-builtin { color: #ffdd33; }
.ahl-diff.ahl-delta { color: #fe8019; }
.ahl-diff.ahl-minus { color: #f43841; }
.ahl-punctuation { color: #e4e4ef; }
.ahl-markup.ahl-link.ahl-text { color: #fb4934; }
.ahl-tag { color: #96a6c8; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { font-weight: bold; color: #e4e4ef; background-color: #2c2c2c; }
.ahl-attribute { color: #e4e4ef; }
.ahl-operator { color: #e4e4ef; }
.ahl-diagnostic.ahl-hint { color: #5292c8; }
