/* gruvbox */
pre.autumn-hl { background-color: #282828; color: #ebdbb2; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-string.ahl-symbol { color: #fabd2f; }
.ahl-function.ahl-macro { color: #83a598; }
.ahl-variable.ahl-builtin { font-style: italic; color: #fe8019; }
.ahl-variable.ahl-other.ahl-member { color: #83a598; }
.ahl-diagnostic.ahl-warning { color: #fabd2f; }
.ahl-keyword { color: #fb4934; }
.ahl-module { color: #8ec07c; }
.ahl-constant.ahl-character { color: #8ec07c; }
.ahl-type { color: #fabd2f; }
.ahl-string { color: #b8bb26; }
.ahl-markup.ahl-link.ahl-url {  color: #b8bb26; }
.ahl-comment { font-style: italic; color: #928374; }
.ahl-namespace { color: #ebdbb2; }
.ahl-variable.ahl-parameter { font-style: italic; color: #83a598; }
.ahl-function { color: #b8bb26; }
.ahl-string.ahl-special { color: #fe8019; }
.ahl-markup.ahl-heading { color: #8ec07c; }
.ahl-variable { color: #ebdbb2; }
.ahl-diff.ahl-plus { color: #b8bb26; }
.ahl-diagnostic.ahl-error { color: #fb4934; }
.ahl-warning { color: #fabd2f; }
.ahl-diagnostic.ahl-info { color: #8ec07c; }
.ahl-type.ahl-enum.ahl-variant { font-style: italic; }
.ahl-info { color: #8ec07c; }
.ahl-diagnostic { color: #fe8019; }
.ahl-label { color: #fb4934; }
.ahl-constant.ahl-character.ahl-escape { color: #fe8019; }
.ahl-error { color: #fb4934; }
.ahl-special { color: #b16286; }
.ahl-constructor { color: #d3869b; }
.ahl-hint { color: #83a598; }
.ahl-function.ahl-builtin { color: #fabd2f; }
.ahl-string.ahl-regexp { color: #fe8019; }
.ahl-diff.ahl-delta { color: #fabd2f; }
.ahl-diff.ahl-minus { color: #fb4934; }
.ahl-punctuation { color: #fe8019; }
.ahl-markup.ahl-link.ahl-text { color: #fb4934; }
.ahl-tag { color: #8ec07c; }
.ahl-keyword.ahl-control.ahl-import { color: #8ec07c; }
.ahl-definition { color: #8ec07c; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #fb4934; }
.ahl-constant { color: #d3869b; }
.ahl-constant.ahl-macro { color: #8ec07c; }
.ahl-attribute { font-style: italic; color: #8ec07c; }
.ahl-annotation { color: #ebdbb2; }
.ahl-operator { color: #d3869b; }
.ahl-diagnostic.ahl-hint { color: #83a598; }
