/* hex_steel */
pre.autumn-hl { background-color: #1d1e1b; color: #656869; }
.ahl-markup.ahl-bold { color: #656869; }
.ahl-function.ahl-macro { color: #d85c60; }
.ahl-diagnostic.ahl-warning { color: #ffbf00; }
.ahl-keyword { color: #6e8789; }
.ahl-type { font-weight: bold; color: #9bc1bb; }
.ahl-diff.ahl-delta.ahl-moved { color: #0048bd; }
.ahl-string { font-style: italic; color: #6e8789; }
.ahl-markup.ahl-link.ahl-url {  color: #656869; }
.ahl-comment { color: #d4d987; }
.ahl-namespace { font-weight: bold; color: #6e8789; }
.ahl-function { color: #c0d0ce; }
.ahl-markup.ahl-heading { color: #656869; }
.ahl-variable { color: #656869; }
.ahl-diff.ahl-plus { color: #87a800; }
.ahl-diagnostic.ahl-error { color: #ff0900; }
.ahl-function.ahl-method { color: #c0d0ce; }
.ahl-warning { font-weight: bold; color: #ffbf00; }
.ahl-markup.ahl-strikethrough {  color: #656869; }
.ahl-diagnostic.ahl-info { color: #dad7d5; }
.ahl-keyword.ahl-control { color: #9bc1bb; }
.ahl-info { font-weight: bold; color: #dad7d5; }
.ahl-keyword.ahl-function { color: #d85c60; }
.ahl-label { color: #656869; }
.ahl-error { font-weight: bold; color: #ff0900; }
.ahl-special { font-weight: bold; color: #d85c60; }
.ahl-markup.ahl-quote { color: #656869; }
.ahl-hint { font-weight: bold; color: #42baff; }
.ahl-string.ahl-regexp { color: #6e8789; }
.ahl-diff.ahl-delta { color: #0078bd; }
.ahl-diff.ahl-minus { color: #ff0900; }
.ahl-punctuation { color: #b5c5c5; }
.ahl-markup.ahl-link.ahl-text { color: #656869; }
.ahl-tag { color: #656869; }
.ahl-keyword.ahl-control.ahl-import { color: #9bc1bb; }
.ahl-markup.ahl-list { color: #656869; }
.ahl-markup.ahl-italic { color: #656869; }
.ahl-keyword.ahl-storage.ahl-modifier { color: #d85c60; }
.ahl-markup.ahl-raw { color: #656869; }
.ahl-constant { color: #f78c5e; }
.ahl-comment.ahl-block.ahl-documentation { font-style: italic; background-color: #234048; }
.ahl-operator { color: #9bc1bb; }
.ahl-diagnostic.ahl-hint { color: #42baff; }
