/* hex_lavender */
pre.autumn-hl { background-color: #121311; color: #61586f; }
.ahl-info { font-weight: bold; color: #dad7d5; }
.ahl-markup.ahl-strikethrough {  color: #61586f; }
.ahl-label { color: #61586f; }
.ahl-markup.ahl-bold { color: #61586f; }
.ahl-comment.ahl-block.ahl-documentation { font-style: italic; background-color: #0affa9; }
.ahl-namespace { font-weight: bold; color: #878480; }
.ahl-markup.ahl-heading { color: #61586f; }
.ahl-type { font-weight: bold; color: #7b89a3; }
.ahl-function.ahl-method { color: #9db2b8; }
.ahl-diagnostic.ahl-warning { color: #ffbf00; }
.ahl-hint { font-weight: bold; color: #57ff89; }
.ahl-constant { color: #a0c7cf; }
.ahl-warning { font-weight: bold; color: #ffbf00; }
.ahl-string.ahl-regexp { color: #878480; }
.ahl-variable { color: #61586f; }
.ahl-keyword.ahl-storage.ahl-modifier { color: #897dca; }
.ahl-diagnostic.ahl-error { color: #ff0900; }
.ahl-diff.ahl-minus { color: #ff0900; }
.ahl-markup.ahl-raw { color: #61586f; }
.ahl-diff.ahl-delta.ahl-moved { color: #0048bd; }
.ahl-tag { color: #61586f; }
.ahl-comment { color: #9aacfe; }
.ahl-markup.ahl-link.ahl-text { color: #61586f; }
.ahl-punctuation { color: #bcb6ba; }
.ahl-markup.ahl-italic { color: #61586f; }
.ahl-function.ahl-macro { color: #897dca; }
.ahl-special { font-weight: bold; color: #897dca; }
.ahl-diff.ahl-plus { color: #87a800; }
.ahl-operator { color: #7b89a3; }
.ahl-diagnostic.ahl-info { color: #dad7d5; }
.ahl-keyword.ahl-control { color: #7b89a3; }
.ahl-markup.ahl-link.ahl-url {  color: #61586f; }
.ahl-string { font-style: italic; color: #878480; }
.ahl-diff.ahl-delta { color: #0078bd; }
.ahl-keyword.ahl-control.ahl-import { color: #7b89a3; }
.ahl-keyword { color: #878480; }
.ahl-markup.ahl-quote { color: #61586f; }
.ahl-markup.ahl-list { color: #61586f; }
.ahl-diagnostic.ahl-hint { color: #57ff89; }
.ahl-keyword.ahl-function { color: #897dca; }
.ahl-function { color: #9db2b8; }
.ahl-error { font-weight: bold; color: #ff0900; }
