/* iceberg
 * revision: 23835d5ed696436f716cbfdb56a93a7850fe3b18
 */

pre.athl {
  color: #c6c8d1;
  background-color: #161821;
}
.attribute {
  color: #b4be82;
}
.attribute-builtin {
  color: #b4be82;
}
.boolean {
  color: #a093c7;
}
.character {
  color: #a093c7;
}
.character-special {
  color: #b4be82;
}
.comment {
  color: #6b7089;
}
.comment-documentation {
  color: #6b7089;
}
.comment-error {
  color: #e27878;
}
.comment-hint {
  color: #6b7089;
}
.comment-note {
  color: #89b8c2;
}
.comment-todo {
  color: #b4be82;
  background-color: #45493e;
  font-weight: bold;
}
.comment-warning {
  color: #e2a478;
}
.constant {
  color: #a093c7;
}
.constant-builtin {
  color: #a093c7;
}
.constant-java {
  color: #a093c7;
}
.constant-macro {
  color: #a093c7;
}
.constructor {
  color: #c6c8d1;
}
.constructor-lua {
  color: #c6c8d1;
}
.constructor-python {
  color: #c6c8d1;
}
.diff-delta {
  color: #8cf8f7;
}
.diff-minus {
  color: #ffc0b9;
}
.diff-plus {
  color: #b3f6c0;
}
.error {
  color: #e27878;
  background-color: #161821;
}
.function {
  color: #a3adcb;
}
.function-builtin {
  color: #a3adcb;
}
.function-builtin-bash {
  color: #a3adcb;
}
.function-call {
  color: #a3adcb;
}
.function-macro {
  color: #a3adcb;
}
.function-method {
  color: #a3adcb;
}
.function-method-call {
  color: #a3adcb;
}
.function-method-call-php {
  color: #a3adcb;
}
.function-method-php {
  color: #a3adcb;
}
.highlighted {
  background-color: #1e2132;
}
.keyword {
  color: #84a0c6;
}
.keyword-conditional {
  color: #84a0c6;
}
.keyword-conditional-ternary {
  color: #84a0c6;
}
.keyword-coroutine {
  color: #84a0c6;
}
.keyword-debug {
  color: #84a0c6;
}
.keyword-directive {
  color: #84a0c6;
}
.keyword-directive-css {
  color: #84a0c6;
}
.keyword-directive-define {
  color: #84a0c6;
}
.keyword-exception {
  color: #84a0c6;
}
.keyword-export {
  color: #84a0c6;
}
.keyword-function {
  color: #84a0c6;
}
.keyword-import {
  color: #84a0c6;
}
.keyword-import-c {
  color: #84a0c6;
}
.keyword-import-cpp {
  color: #84a0c6;
}
.keyword-modifier {
  color: #84a0c6;
}
.keyword-operator {
  color: #84a0c6;
}
.keyword-repeat {
  color: #84a0c6;
}
.keyword-return {
  color: #84a0c6;
}
.keyword-type {
  color: #84a0c6;
}
.label {
  color: #b4be82;
}
.label-yaml {
  color: #b4be82;
}
.markup {
  color: #b4be82;
}
.markup-environment {
  color: #b4be82;
}
.markup-environment-name {
  color: #b4be82;
}
.markup-heading {
  color: #e2a478;
}
.markup-heading-1 {
  color: #e2a478;
}
.markup-heading-2 {
  color: #e2a478;
}
.markup-heading-3 {
  color: #e2a478;
}
.markup-heading-4 {
  color: #e2a478;
}
.markup-heading-5 {
  color: #e2a478;
}
.markup-heading-6 {
  color: #e2a478;
}
.markup-italic {
  font-style: italic;
}
.markup-link {
  color: #84a0c6;
  text-decoration: underline;
}
.markup-link-label {
  color: #84a0c6;
  text-decoration: underline;
}
.markup-link-label-html {
  color: #84a0c6;
  text-decoration: underline;
}
.markup-link-url {
  color: #84a0c6;
  text-decoration: underline;
}
.markup-list {
  color: #b4be82;
}
.markup-list-checked {
  color: #b4be82;
}
.markup-list-unchecked {
  color: #b4be82;
}
.markup-math {
  color: #b4be82;
}
.markup-quote {
  color: #b4be82;
}
.markup-raw {
  color: #b4be82;
}
.markup-raw-block {
  color: #b4be82;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #84a0c6;
}
.module-builtin {
  color: #b4be82;
}
.namespace {
  color: #84a0c6;
}
.normal {
  color: #c6c8d1;
  background-color: #161821;
}
.number {
  color: #a093c7;
}
.number-css {
  color: #a093c7;
}
.number-float {
  color: #a093c7;
}
.operator {
  color: #c6c8d1;
}
.property {
  color: #c6c8d1;
}
.property-class-css {
  color: #c6c8d1;
}
.property-css {
  color: #c6c8d1;
}
.property-id-css {
  color: #c6c8d1;
}
.property-json {
  color: #c6c8d1;
}
.property-scss {
  color: #c6c8d1;
}
.property-toml {
  color: #c6c8d1;
}
.property-yaml {
  color: #c6c8d1;
}
.punctuation-bracket {
  color: #c6c8d1;
}
.punctuation-delimiter {
  color: #c6c8d1;
}
.punctuation-delimiter-regex {
  color: #c6c8d1;
}
.punctuation-special {
  color: #b4be82;
}
.string {
  color: #89b8c2;
}
.string-documentation {
  color: #89b8c2;
}
.string-escape {
  color: #b4be82;
}
.string-plain-css {
  color: #89b8c2;
}
.string-regexp {
  color: #b4be82;
}
.string-special {
  color: #b4be82;
}
.string-special-path {
  color: #b4be82;
}
.string-special-symbol {
  color: #b4be82;
}
.string-special-symbol-ruby {
  color: #b4be82;
}
.string-special-url {
  color: #84a0c6;
  text-decoration: underline;
}
.string-special-url-html {
  color: #84a0c6;
  text-decoration: underline;
}
.tag-attribute {
  color: #a093c7;
}
.tag-builtin {
  color: #b4be82;
}
.type {
  color: #84a0c6;
}
.type-builtin {
  color: #84a0c6;
}
.type-css {
  color: #84a0c6;
}
.type-definition {
  color: #84a0c6;
}
.type-tag-css {
  color: #84a0c6;
}
.variable {
  color: #c6c8d1;
}
.variable-builtin {
  color: #84a0c6;
}
.variable-member {
  color: #c6c8d1;
}
.variable-parameter {
  color: #c6c8d1;
}
.variable-parameter-bash {
  color: #c6c8d1;
}
.variable-parameter-builtin {
  color: #b4be82;
}
