/* jellybeans */
pre.autumn-hl { background-color: #151515; color: #EBEBD8; }
.ahl-markup.ahl-bold { font-weight: bold; color: #ffffff; }
.ahl-function.ahl-macro { color: #99ad6a; }
.ahl-variable.ahl-builtin {  color: #84A775; }
.ahl-constant.ahl-builtin.ahl-boolean { color: #fad07a; }
.ahl-variable.ahl-other.ahl-member { color: #CDBEF0; }
.ahl-diagnostic.ahl-warning { text-decoration: underline;color: #DEA407; }
.ahl-keyword.ahl-control.ahl-exception { color: #a390f0; }
.ahl-keyword { color: #8197bf; }
.ahl-markup.ahl-link.ahl-label { color: #a390f0; }
.ahl-constant.ahl-character { color: #fad07a; }
.ahl-type { color: #8fbfdc; }
.ahl-string { color: #84A775; }
.ahl-markup.ahl-link.ahl-url { font-style: italic; color: #84A775; }
.ahl-markup.ahl-list.ahl-unnumbered { color: #8197bf; }
.ahl-comment { color: #6d6d6d; }
.ahl-namespace { color: #CDBEF0; }
.ahl-variable.ahl-parameter { color: #fad07a; }
.ahl-function { color: #fad07a; }
.ahl-string.ahl-special {  color: #fad07a; }
.ahl-markup.ahl-heading { font-weight: bold; color: #8197bf; }
.ahl-variable { color: #EBEBD8; }
.ahl-diff.ahl-plus { color: #5A9F81; }
.ahl-diagnostic.ahl-error { text-decoration: underline;color: #902020; }
.ahl-function.ahl-method { color: #fad07a; }
.ahl-warning { color: #EE7F25; }
.ahl-diagnostic.ahl-info { text-decoration: underline;color: #2197F3; }
.ahl-markup.ahl-list.ahl-numbered { color: #8197bf; }
.ahl-type.ahl-enum.ahl-variant { color: #a390f0; }
.ahl-info { color: #DEA407; }
.ahl-label { color: #fad07a; }
.ahl-constant.ahl-character.ahl-escape { color: #902020; }
.ahl-error { color: #902020; }
.ahl-constant.ahl-numeric { color: #cf6a4c; }
.ahl-special { color: #99ad6a; }
.ahl-constructor { color: #fad07a; }
.ahl-markup.ahl-quote { color: #84A775; }
.ahl-markup.ahl-raw.ahl-inline { color: #8197bf; }
.ahl-hint { color: #52a7f6; }
.ahl-function.ahl-builtin { color: #99ad6a; }
.ahl-string.ahl-regexp { color: #CDBEF0; }
.ahl-diff.ahl-delta { color: #2197F3; }
.ahl-diff.ahl-minus { color: #F44747; }
.ahl-punctuation { color: #8197bf; }
.ahl-markup.ahl-link.ahl-text { color: #8197bf; }
.ahl-tag { color: #8fbfdc; }
.ahl-markup.ahl-list { color: #84A775; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #84A775; }
.ahl-markup.ahl-raw.ahl-block { color: #84A775; }
.ahl-constant { color: #cf6a4c; }
.ahl-function.ahl-special { color: #99ad6a; }
.ahl-attribute { color: #99ad6a; }
.ahl-operator { color: #CDBEF0; }
.ahl-diagnostic.ahl-hint { text-decoration: underline;color: #CDBEF0; }
