/* kanagawa */
pre.autumn-hl { background-color: #1F1F28; color: #DCD7BA; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #E46876; }
.ahl-variable.ahl-builtin { color: #E46876; }
.ahl-string.ahl-special.ahl-symbol { color: #957FB8; }
.ahl-variable.ahl-other.ahl-member { color: #E6C384; }
.ahl-diagnostic.ahl-warning { color: #FF9E3B; }
.ahl-keyword.ahl-control.ahl-exception { color: #FF5D62; }
.ahl-keyword { font-style: italic; color: #957FB8; }
.ahl-markup.ahl-link.ahl-label { color: #FFA066; }
.ahl-type { color: #7AA89F; }
.ahl-string { color: #98BB6C; }
.ahl-markup.ahl-link.ahl-url { color: #D27E99; }
.ahl-comment { color: #727169; }
.ahl-namespace { color: #FFA066; }
.ahl-variable.ahl-parameter { color: #B8B4D0; }
.ahl-string.ahl-special.ahl-url { color: #7FB4CA; }
.ahl-function { color: #7E9CD8; }
.ahl-markup.ahl-heading { font-weight: bold; color: #7E9CD8; }
.ahl-variable { color: #DCD7BA; }
.ahl-diff.ahl-plus { color: #76946A; }
.ahl-diagnostic.ahl-error { color: #E82424; }
.ahl-warning { color: #FF9E3B; }
.ahl-type.ahl-builtin { color: #7FB4CA; }
.ahl-diagnostic.ahl-info { color: #658594; }
.ahl-keyword.ahl-directive { color: #E46876; }
.ahl-info { color: #658594; }
.ahl-label { color: #7FB4CA; }
.ahl-constant.ahl-character.ahl-escape { font-weight: bold; color: #C0A36E; }
.ahl-error { color: #E82424; }
.ahl-constant.ahl-numeric { color: #D27E99; }
.ahl-special { color: #FF5D62; }
.ahl-constructor { color: #7FB4CA; }
.ahl-markup.ahl-quote { color: #938AA9; }
.ahl-hint { color: #6A9589; }
.ahl-function.ahl-builtin { color: #7FB4CA; }
.ahl-string.ahl-regexp { color: #C0A36E; }
.ahl-diff.ahl-delta { color: #DCA561; }
.ahl-diff.ahl-minus { color: #C34043; }
.ahl-punctuation { color: #9CABCA; }
.ahl-markup.ahl-heading.ahl-marker { color: #9CABCA; }
.ahl-keyword.ahl-control.ahl-return { color: #FF5D62; }
.ahl-markup.ahl-link.ahl-text { color: #7FB4CA; }
.ahl-tag { color: #7AA89F; }
.ahl-markup.ahl-list { color: #957FB8; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #98BB6C; }
.ahl-constant { color: #FFA066; }
.ahl-attribute { color: #E46876; }
.ahl-operator { color: #C0A36E; }
.ahl-diagnostic.ahl-hint { color: #6A9589; }
