/* material_darker
 * revision: 0004ec60f91d581d47563a39f7dac62cb758f7ea
 */

pre.athl {
  color: #b0bec5;
  background-color: #212121;
}
.attribute {
  color: #82aaff;
}
.attribute-builtin {
  color: #89ddff;
}
.boolean {
  color: #f78c6c;
}
.character {
  color: #f78c6c;
}
.character-special {
  color: #f07178;
}
.comment {
  color: #515151;
}
.comment-documentation {
  color: #515151;
}
.comment-error {
  color: #515151;
  background-color: #ff5370;
}
.comment-note {
  color: #515151;
  background-color: #b0c9ff;
}
.comment-todo {
  color: #515151;
}
.comment-warning {
  color: #515151;
  background-color: #ffcb6b;
}
.constant {
  color: #ffcb6b;
}
.constant-builtin {
  color: #ffcb6b;
}
.constant-macro {
  color: #89ddff;
}
.constructor {
  color: #82aaff;
}
.diff-delta {
  color: #82aaff;
}
.diff-minus {
  color: #f07178;
}
.diff-plus {
  color: #c3e88d;
}
.error {
  color: #ff5370;
  font-weight: bold;
}
.function {
  color: #82aaff;
}
.function-builtin {
  color: #82aaff;
}
.function-call {
  color: #82aaff;
}
.function-macro {
  color: #82aaff;
}
.function-method {
  color: #82aaff;
}
.function-method-call {
  color: #82aaff;
}
.highlighted {
  background-color: #323232;
}
.keyword {
  color: #89ddff;
}
.keyword-conditional {
  color: #c792ea;
}
.keyword-conditional-ternary {
  color: #c792ea;
}
.keyword-coroutine {
  color: #89ddff;
  font-style: italic;
}
.keyword-debug {
  color: #89ddff;
}
.keyword-directive {
  color: #89ddff;
}
.keyword-directive-define {
  color: #89ddff;
}
.keyword-function {
  color: #89ddff;
}
.keyword-import {
  color: #89ddff;
}
.keyword-modifier {
  color: #89ddff;
}
.keyword-operator {
  color: #89ddff;
}
.keyword-repeat {
  color: #c792ea;
}
.keyword-return {
  color: #89ddff;
}
.keyword-type {
  color: #89ddff;
}
.label {
  color: #ffcb6b;
}
.markup-heading {
  color: #89ddff;
  font-weight: bold;
}
.markup-heading-1 {
  color: #89ddff;
  font-weight: bold;
}
.markup-heading-2 {
  color: #89ddff;
  font-weight: bold;
}
.markup-heading-3 {
  color: #89ddff;
  font-weight: bold;
}
.markup-heading-4 {
  color: #89ddff;
  font-weight: bold;
}
.markup-heading-5 {
  color: #89ddff;
  font-weight: bold;
}
.markup-heading-6 {
  color: #89ddff;
  font-weight: bold;
}
.markup-italic {
  font-style: italic;
}
.markup-link {
  color: #f07178;
}
.markup-link-label {
  color: #f07178;
}
.markup-link-url {
  color: #80cbc4;
}
.markup-list {
  color: #89ddff;
}
.markup-list-checked {
  color: #c3e88d;
}
.markup-math {
  color: #82aaff;
}
.markup-quote {
  color: #89ddff;
}
.markup-raw {
  color: #c792ea;
}
.markup-raw-block {
  color: #c792ea;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #ffcb6b;
}
.module-builtin {
  color: #89ddff;
}
.namespace {
  color: #ffcb6b;
}
.normal {
  color: #b0bec5;
  background-color: #212121;
}
.number {
  color: #f78c6c;
}
.number-float {
  color: #f78c6c;
}
.operator {
  color: #89ddff;
}
.property {
  color: #8c8b8b;
}
.punctuation-bracket {
  color: #89ddff;
}
.punctuation-delimiter {
  color: #89ddff;
}
.punctuation-special {
  color: #89ddff;
}
.string {
  color: #c3e88d;
}
.string-documentation {
  color: #c3e88d;
}
.string-escape {
  color: #8c8b8b;
}
.string-regexp {
  color: #ffcb6b;
}
.string-special {
  color: #8c8b8b;
}
.string-special-path {
  color: #8c8b8b;
}
.string-special-symbol {
  color: #ffcb6b;
}
.string-special-url {
  text-decoration: underline;
}
.tag {
  color: #f07178;
}
.tag-attribute {
  color: #c792ea;
}
.tag-builtin {
  color: #89ddff;
}
.tag-delimiter {
  color: #89ddff;
}
.type {
  color: #c792ea;
}
.type-builtin {
  color: #c792ea;
}
.variable {
  color: #b0bec5;
}
.variable-builtin {
  color: #89ddff;
}
.variable-member {
  color: #8c8b8b;
}
.variable-parameter {
  color: #b0bec5;
}
.variable-parameter-builtin {
  color: #89ddff;
}
