/* material_oceanic */
pre.autumn-hl { background-color: #25363b; color: #b0bec5; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #89ddff; }
.ahl-variable.ahl-builtin { color: #ffcb6b; }
.ahl-diagnostic.ahl-warning { color: #ffcb6b; }
.ahl-keyword { color: #c792ea; }
.ahl-type { color: #c792ea; }
.ahl-string { color: #c3e88d; }
.ahl-markup.ahl-link.ahl-url {  color: #c3e88d; }
.ahl-comment { color: #546e7a; }
.ahl-namespace { color: #ffcb6b; }
.ahl-variable.ahl-parameter { color: #f78c6c; }
.ahl-function { color: #82aaff; }
.ahl-string.ahl-special { color: #82aaff; }
.ahl-keyword.ahl-storage { color: #89ddff; }
.ahl-markup.ahl-heading.ahl-2 { color: #f07178; }
.ahl-variable { color: #b0bec5; }
.ahl-markup.ahl-heading.ahl-6 { color: #f78c6c; }
.ahl-diff.ahl-plus { color: #c3e88d; }
.ahl-diagnostic.ahl-error { color: #ff5370; }
.ahl-warning { color: #ffcb6b; }
.ahl-diagnostic.ahl-info { color: #82aaff; }
.ahl-info { color: #82aaff; }
.ahl-markup.ahl-heading.ahl-5 { color: #82aaff; }
.ahl-diagnostic { color: #ff5370; }
.ahl-label { color: #f78c6c; }
.ahl-error { color: #ff5370; }
.ahl-special { color: #89ddff; }
.ahl-constructor { color: #82aaff; }
.ahl-hint { color: #c792ea; }
.ahl-string.ahl-regexp { color: #ffcb6b; }
.ahl-diff.ahl-delta { color: #82aaff; }
.ahl-diff.ahl-minus { color: #f07178; }
.ahl-punctuation { color: #89ddff; }
.ahl-markup.ahl-heading.ahl-marker { font-weight: bold; color: #89ddff; }
.ahl-markup.ahl-link.ahl-text { color: #82aaff; }
.ahl-tag { color: #f07178; }
.ahl-markup.ahl-heading.ahl-4 { color: #ffcb6b; }
.ahl-markup.ahl-list { color: #c792ea; }
.ahl-markup.ahl-heading.ahl-1 { color: #89ddff; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #b0bec5; }
.ahl-constant { color: #ffcb6b; }
.ahl-attribute { color: #c792ea; }
.ahl-markup.ahl-heading.ahl-3 { color: #c3e88d; }
.ahl-operator { color: #89ddff; }
.ahl-diagnostic.ahl-hint { color: #c792ea; }
