/* meliora */
pre.autumn-hl { background-color: #1c1917; color: #dad7d5; }
.ahl-markup.ahl-bold { font-weight: bold; color: #b494af; }
.ahl-diagnostic.ahl-warning { color: #cbab8a; }
.ahl-keyword { color: #cbab8a; }
.ahl-type { color: #c2b4a8; }
.ahl-string { color: #c9b58e; }
.ahl-markup.ahl-link.ahl-url {  color: #707035; }
.ahl-comment { color: #707035; }
.ahl-namespace { color: #a49db9; }
.ahl-function { color: #a49db9; }
.ahl-markup.ahl-heading { color: #cbab8a; }
.ahl-variable { color: #dad7d5; }
.ahl-diff.ahl-plus { color: #a49db9; }
.ahl-diagnostic.ahl-error { color: #d29595; }
.ahl-warning { color: #cbab8a; }
.ahl-diagnostic.ahl-info { color: #a49db9; }
.ahl-keyword.ahl-control { color: #d29595; }
.ahl-info { color: #a49db9; }
.ahl-keyword.ahl-function { color: #d29595; }
.ahl-label { color: #cbab8a; }
.ahl-error { color: #d29595; }
.ahl-special { color: #c9b58e; }
.ahl-markup.ahl-quote { color: #c9b58e; }
.ahl-hint { color: #b494af; }
.ahl-string.ahl-regexp { color: #cbab8a; }
.ahl-diff.ahl-delta { color: #b494af; }
.ahl-diff.ahl-minus { color: #d29595; }
.ahl-punctuation { color: #c2b4a8; }
.ahl-markup.ahl-link.ahl-text { color: #707035; }
.ahl-tag { color: #d29595; }
.ahl-keyword.ahl-control.ahl-import { color: #cbab8a; }
.ahl-markup.ahl-list { color: #a49db9; }
.ahl-markup.ahl-italic { font-style: italic; color: #a49db9; }
.ahl-markup.ahl-raw { color: #a49db9; }
.ahl-constant { color: #b494af; }
.ahl-operator { color: #c2b4a8; }
.ahl-diagnostic.ahl-hint { color: #b494af; }
