/* merionette */
pre.autumn-hl { background-color: #190f0f; color: #cebabf; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #8ea84d; }
.ahl-variable.ahl-builtin { color: #65aba3; }
.ahl-variable.ahl-other.ahl-member { color: #65aba3; }
.ahl-diagnostic.ahl-warning { color: #6db269; }
.ahl-keyword { color: #eb842b; }
.ahl-module { color: #65aba3; }
.ahl-type { color: #65aba3; }
.ahl-string { color: #ce8b9f; }
.ahl-markup.ahl-link.ahl-url {  color: #65aba3; }
.ahl-comment { font-style: italic; color: #d2505f; }
.ahl-namespace { color: #d95362; }
.ahl-variable.ahl-parameter { color: #6db269; }
.ahl-function { font-weight: bold; color: #8ea84d; }
.ahl-markup.ahl-heading { font-weight: bold; color: #eb842b; }
.ahl-variable { color: #cebabf; }
.ahl-diff.ahl-plus { color: #6db269; }
.ahl-diagnostic.ahl-error { color: #eb842b; }
.ahl-warning { color: #6db269; }
.ahl-type.ahl-builtin { color: #ff7550; }
.ahl-diagnostic.ahl-info { color: #65aba3; }
.ahl-info { color: #65aba3; }
.ahl-label { color: #65aba3; }
.ahl-constant.ahl-character.ahl-escape { font-weight: bold; color: #ff7550; }
.ahl-error { color: #eb842b; }
.ahl-constant.ahl-numeric { color: #ff7550; }
.ahl-special { color: #d95362; }
.ahl-constructor { font-weight: bold; color: #65aba3; }
.ahl-hint { color: #cebabf; }
.ahl-constant.ahl-builtin { font-weight: bold; color: #ff7550; }
.ahl-function.ahl-builtin { color: #8ea84d; }
.ahl-diff.ahl-delta { color: #ce8b9f; }
.ahl-diff.ahl-minus { color: #d95362; }
.ahl-punctuation { color: #eb842b; }
.ahl-markup.ahl-link.ahl-text { color: #6db269; }
.ahl-tag { color: #8ea84d; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #d95362; }
.ahl-constant { color: #ff7550; }
.ahl-attribute { color: #65aba3; }
.ahl-operator { color: #eb842b; }
.ahl-diagnostic.ahl-hint { color: #cebabf; }
