/* modus_vivendi_deuteranopia */
pre.autumn-hl { background-color: #000000; color: #ffffff; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #f78fe7; }
.ahl-variable.ahl-builtin { color: #b6a0ff; }
.ahl-markup.ahl-list.ahl-checked { color: #ffa00f; }
.ahl-markup.ahl-list.ahl-unchecked { color: #ffa00f; }
.ahl-diagnostic.ahl-warning { color: #caa6df; }
.ahl-keyword { color: #b6a0ff; }
.ahl-type { color: #6ae4b9; }
.ahl-string { color: #79a8ff; }
.ahl-diff.ahl-delta.ahl-gutter { color: #efef00; }
.ahl-markup.ahl-link.ahl-url { color: #00d3d0; }
.ahl-comment { color: #d8af7a; }
.ahl-namespace { color: #00bcff; }
.ahl-variable.ahl-parameter { color: #00d3d0; }
.ahl-function { color: #feacd0; }
.ahl-string.ahl-special { color: #82b0ec; }
.ahl-markup.ahl-heading.ahl-2 { font-weight: bold; color: #d2b580; }
.ahl-markup.ahl-heading.ahl-6 { font-weight: bold; color: #ff9580; }
.ahl-diff.ahl-plus { color: #c4d5ff; background-color: #003066; }
.ahl-diff.ahl-plus.ahl-gutter { color: #44df44; }
.ahl-diagnostic.ahl-error { color: #efef00; }
.ahl-warning { color: #caa6df; }
.ahl-diff.ahl-minus.ahl-gutter { color: #ff5f5f; }
.ahl-diagnostic.ahl-info { color: #00d3d0; }
.ahl-keyword.ahl-directive { color: #ff7f9f; }
.ahl-info { color: #00d3d0; }
.ahl-markup.ahl-heading.ahl-5 { font-weight: bold; color: #88ca9f; }
.ahl-label { color: #989898; }
.ahl-constant.ahl-character.ahl-escape { color: #feacd0; }
.ahl-error { color: #efef00; }
.ahl-special { color: #ff7f9f; }
.ahl-constructor { color: #6ae4b9; }
.ahl-markup.ahl-raw.ahl-inline { color: #00c06f; }
.ahl-hint { color: #2fafff; }
.ahl-string.ahl-regexp { color: #caa6df; }
.ahl-diff.ahl-delta { color: #e3cfff; background-color: #2f123f; }
.ahl-diff.ahl-minus { color: #d4d48f; background-color: #3d3d00; }
.ahl-punctuation { color: #989898; }
.ahl-markup.ahl-heading.ahl-marker { color: #989898; }
.ahl-markup.ahl-link.ahl-text {  color: #79a8ff; }
.ahl-tag { color: #feacd0; }
.ahl-markup.ahl-heading.ahl-4 { font-weight: bold; color: #feacd0; }
.ahl-markup.ahl-list { color: #989898; }
.ahl-markup.ahl-heading.ahl-1 { font-weight: bold; color: #ffffff; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw.ahl-block { background-color: #1e1e1e; }
.ahl-constant { color: #00bcff; }
.ahl-attribute { color: #6ae4b9; }
.ahl-markup.ahl-heading.ahl-3 { font-weight: bold; color: #c6daff; }
.ahl-diagnostic.ahl-hint { color: #2fafff; }
