/* modus_operandi_deuteranopia */
pre.autumn-hl { background-color: #ffffff; color: #000000; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #8f0075; }
.ahl-variable.ahl-builtin { color: #531ab6; }
.ahl-markup.ahl-list.ahl-checked { color: #973300; }
.ahl-markup.ahl-list.ahl-unchecked { color: #973300; }
.ahl-diagnostic.ahl-warning { color: #7c318f; }
.ahl-keyword { color: #531ab6; }
.ahl-type { color: #005f5f; }
.ahl-string { color: #354fcf; }
.ahl-diff.ahl-delta.ahl-gutter { color: #808000; }
.ahl-markup.ahl-link.ahl-url { color: #005e8b; }
.ahl-comment { color: #77492f; }
.ahl-namespace { color: #0000b0; }
.ahl-variable.ahl-parameter { color: #005e8b; }
.ahl-function { color: #721045; }
.ahl-string.ahl-special { color: #003497; }
.ahl-markup.ahl-heading.ahl-2 { font-weight: bold; color: #624416; }
.ahl-markup.ahl-heading.ahl-6 { font-weight: bold; color: #7f0000; }
.ahl-diff.ahl-plus { color: #303099; background-color: #d5d7ff; }
.ahl-diff.ahl-plus.ahl-gutter { color: #008900; }
.ahl-diagnostic.ahl-error { color: #808000; }
.ahl-warning { color: #7c318f; }
.ahl-diff.ahl-minus.ahl-gutter { color: #d00000; }
.ahl-diagnostic.ahl-info { color: #005e8b; }
.ahl-keyword.ahl-directive { color: #a0132f; }
.ahl-info { color: #005e8b; }
.ahl-markup.ahl-heading.ahl-5 { font-weight: bold; color: #2a5045; }
.ahl-label { color: #595959; }
.ahl-constant.ahl-character.ahl-escape { color: #721045; }
.ahl-error { color: #808000; }
.ahl-special { color: #a0132f; }
.ahl-constructor { color: #005f5f; }
.ahl-markup.ahl-raw.ahl-inline { color: #00663f; }
.ahl-hint { color: #0031a9; }
.ahl-string.ahl-regexp { color: #7c318f; }
.ahl-diff.ahl-delta { color: #6f1343; background-color: #eecfdf; }
.ahl-diff.ahl-minus { color: #553d00; background-color: #f4f099; }
.ahl-punctuation { color: #595959; }
.ahl-markup.ahl-heading.ahl-marker { color: #595959; }
.ahl-markup.ahl-link.ahl-text {  color: #354fcf; }
.ahl-tag { color: #721045; }
.ahl-markup.ahl-heading.ahl-4 { font-weight: bold; color: #721045; }
.ahl-markup.ahl-list { color: #595959; }
.ahl-markup.ahl-heading.ahl-1 { font-weight: bold; color: #000000; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw.ahl-block { background-color: #f2f2f2; }
.ahl-constant { color: #0000b0; }
.ahl-attribute { color: #005f5f; }
.ahl-markup.ahl-heading.ahl-3 { font-weight: bold; color: #193668; }
.ahl-diagnostic.ahl-hint { color: #0031a9; }
