/* molokai
 * revision: 720bacc534fa3b1566d75612986737088a4fb132
 */

pre.athl {
  color: #f8f8f2;
  background-color: #1b1d1e;
}
.attribute {
  color: #f92672;
}
.attribute-builtin {
  color: #819aff;
}
.boolean {
  color: #ae81ff;
}
.character {
  color: #a6e22e;
}
.character-special {
  color: #819aff;
}
.comment {
  color: #7e8e91;
  font-style: italic;
}
.comment-documentation {
  color: #7e8e91;
  font-style: italic;
}
.comment-error {
  color: #ff4a44;
}
.comment-hint {
  color: #7e8e91;
  font-style: italic;
}
.comment-note {
  color: #6796e6;
}
.comment-todo {
  color: #1b1d1e;
  background-color: #e6db74;
}
.comment-warning {
  color: #cd9731;
}
.constant {
  color: #ae81ff;
}
.constant-builtin {
  color: #a6e22e;
}
.constant-java {
  color: #ae81ff;
}
.constant-macro {
  color: #f92672;
}
.constructor {
  color: #819aff;
}
.constructor-lua {
  color: #819aff;
}
.constructor-python {
  color: #819aff;
}
.diff-delta {
  color: #8cf8f7;
}
.diff-minus {
  color: #ffc0b9;
}
.diff-plus {
  color: #b3f6c0;
}
.function {
  color: #a6e22e;
}
.function-builtin {
  color: #819aff;
}
.function-builtin-bash {
  color: #819aff;
}
.function-call {
  color: #a6e22e;
}
.function-macro {
  color: #a6e22e;
}
.function-method {
  color: #a6e22e;
}
.function-method-call {
  color: #a6e22e;
}
.function-method-call-php {
  color: #a6e22e;
}
.function-method-php {
  color: #a6e22e;
}
.highlighted {
  background-color: #303132;
}
.keyword {
  color: #66d9ef;
  font-style: italic;
}
.keyword-conditional {
  color: #66d9ef;
  font-style: italic;
}
.keyword-conditional-ternary {
  color: #66d9ef;
  font-style: italic;
}
.keyword-coroutine {
  color: #66d9ef;
  font-style: italic;
}
.keyword-debug {
  color: #66d9ef;
  font-style: italic;
}
.keyword-directive {
  color: #66d9ef;
  font-style: italic;
}
.keyword-directive-css {
  color: #66d9ef;
  font-style: italic;
}
.keyword-directive-define {
  color: #66d9ef;
  font-style: italic;
}
.keyword-exception {
  color: #66d9ef;
  font-style: italic;
}
.keyword-export {
  color: #66d9ef;
  font-style: italic;
}
.keyword-function {
  color: #f92672;
}
.keyword-import {
  color: #66d9ef;
  font-style: italic;
}
.keyword-import-c {
  color: #66d9ef;
  font-style: italic;
}
.keyword-import-cpp {
  color: #66d9ef;
  font-style: italic;
}
.keyword-modifier {
  color: #66d9ef;
  font-style: italic;
}
.keyword-operator {
  color: #f92672;
}
.keyword-repeat {
  color: #66d9ef;
  font-style: italic;
}
.keyword-return {
  color: #f92672;
  font-style: italic;
}
.keyword-type {
  color: #66d9ef;
  font-style: italic;
}
.label {
  color: #819aff;
}
.label-yaml {
  color: #819aff;
}
.markup {
  color: #819aff;
}
.markup-environment {
  color: #819aff;
}
.markup-environment-name {
  color: #819aff;
}
.markup-heading {
  color: #a6e22e;
  font-weight: bold;
}
.markup-heading-1 {
  color: #a6e22e;
  font-weight: bold;
}
.markup-heading-2 {
  color: #a6e22e;
  font-weight: bold;
}
.markup-heading-3 {
  color: #a6e22e;
  font-weight: bold;
}
.markup-heading-4 {
  color: #a6e22e;
  font-weight: bold;
}
.markup-heading-5 {
  color: #a6e22e;
  font-weight: bold;
}
.markup-heading-6 {
  color: #a6e22e;
  font-weight: bold;
}
.markup-italic {
  font-style: italic;
}
.markup-link {
  text-decoration: underline;
}
.markup-link-label {
  text-decoration: underline;
}
.markup-link-label-html {
  text-decoration: underline;
}
.markup-link-url {
  text-decoration: underline;
}
.markup-list {
  color: #819aff;
}
.markup-list-checked {
  color: #819aff;
}
.markup-list-unchecked {
  color: #819aff;
}
.markup-math {
  color: #819aff;
}
.markup-quote {
  color: #819aff;
}
.markup-raw {
  color: #819aff;
}
.markup-raw-block {
  color: #819aff;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #66d9ef;
}
.module-builtin {
  color: #819aff;
}
.namespace {
  color: #f92672;
}
.normal {
  color: #f8f8f2;
  background-color: #1b1d1e;
}
.number {
  color: #ae81ff;
}
.number-css {
  color: #ae81ff;
}
.number-float {
  color: #ae81ff;
}
.operator {
  color: #f92672;
}
.property {
  color: #f8f8f2;
}
.property-class-css {
  color: #f8f8f2;
}
.property-css {
  color: #f8f8f2;
}
.property-id-css {
  color: #f8f8f2;
}
.property-json {
  color: #f8f8f2;
}
.property-scss {
  color: #f8f8f2;
}
.property-toml {
  color: #f8f8f2;
}
.property-yaml {
  color: #f8f8f2;
}
.punctuation-bracket {
  color: #fd971f;
}
.punctuation-delimiter {
  color: #e0e2ea;
}
.punctuation-delimiter-regex {
  color: #e0e2ea;
}
.punctuation-special {
  color: #e0e2ea;
}
.string {
  color: #e6db74;
}
.string-documentation {
  color: #e6db74;
}
.string-escape {
  color: #ae81ff;
}
.string-plain-css {
  color: #e6db74;
}
.string-regexp {
  color: #819aff;
}
.string-special {
  color: #819aff;
}
.string-special-path {
  color: #819aff;
}
.string-special-symbol {
  color: #819aff;
}
.string-special-symbol-ruby {
  color: #819aff;
}
.string-special-url {
  text-decoration: underline;
}
.string-special-url-html {
  text-decoration: underline;
}
.tag {
  color: #f92672;
}
.tag-attribute {
  color: #f8f8f2;
}
.tag-builtin {
  color: #819aff;
}
.tag-delimiter {
  color: #e0e2ea;
}
.type {
  color: #66d9ef;
}
.type-builtin {
  color: #66d9ef;
}
.type-css {
  color: #66d9ef;
}
.type-definition {
  color: #66d9ef;
}
.type-tag-css {
  color: #66d9ef;
}
.variable-builtin {
  color: #fd971f;
}
.variable-parameter-builtin {
  color: #819aff;
}
