/* monokai_pro_octagon */
pre.autumn-hl { background-color: #282a3a; color: #eaf2f1; }
.ahl-markup.ahl-bold { font-weight: bold; color: #ff9b5e; }
.ahl-function.ahl-macro { color: #9cd1bb; }
.ahl-variable.ahl-builtin { color: #ff657a; }
.ahl-variable.ahl-other.ahl-member { color: #eaf2f1; }
.ahl-diagnostic.ahl-warning { color: #ff9b5e; }
.ahl-keyword { color: #ff657a; }
.ahl-module { color: #f59762; }
.ahl-type { color: #bad761; }
.ahl-string { color: #ffd76d; }
.ahl-markup.ahl-link.ahl-url {  color: #ff9b5e; }
.ahl-comment { font-style: italic; color: #696d77; }
.ahl-namespace { color: #eaf2f1; }
.ahl-variable.ahl-parameter { color: #f59762; }
.ahl-function { color: #bad761; }
.ahl-markup.ahl-heading { color: #bad761; }
.ahl-variable { color: #eaf2f1; }
.ahl-diff.ahl-plus { color: #bad761; }
.ahl-diagnostic.ahl-error { color: #ff657a; }
.ahl-warning { color: #ff9b5e; }
.ahl-type.ahl-builtin { color: #ff657a; }
.ahl-diagnostic.ahl-info { color: #eaf2f1; }
.ahl-keyword.ahl-directive { color: #9cd1bb; }
.ahl-info { color: #eaf2f1; }
.ahl-label { color: #eaf2f1; }
.ahl-constant.ahl-character.ahl-escape { color: #eaf2f1; }
.ahl-error { color: #ff657a; }
.ahl-constant.ahl-numeric { color: #c39ac9; }
.ahl-special { color: #f59762; }
.ahl-constructor { color: #9cd1bb; }
.ahl-markup.ahl-quote { color: #bad761; }
.ahl-hint { color: #eaf2f1; }
.ahl-constant.ahl-builtin { color: #ff657a; }
.ahl-function.ahl-builtin { color: cyan; }
.ahl-diff.ahl-delta { color: #ff9b5e; }
.ahl-diff.ahl-minus { color: #ff657a; }
.ahl-punctuation { color: #767b81; }
.ahl-markup.ahl-link.ahl-text { color: #ffd76d; }
.ahl-markup.ahl-italic { font-style: italic; color: #ff9b5e; }
.ahl-constant { color: #ff9b5e; }
.ahl-attribute { color: #9cd1bb; }
.ahl-operator { color: #ff657a; }
.ahl-diagnostic.ahl-hint { color: #eaf2f1; }
