/* monokai_pro_machine */
pre.autumn-hl { background-color: #273136; color: #f2fffc; }
.ahl-markup.ahl-bold { font-weight: bold; color: #ffb270; }
.ahl-function.ahl-macro { color: #7cd5f1; }
.ahl-variable.ahl-builtin { color: #ff6d7e; }
.ahl-variable.ahl-other.ahl-member { color: #f2fffc; }
.ahl-diagnostic.ahl-warning { color: #ffb270; }
.ahl-keyword { color: #ff6d7e; }
.ahl-module { color: #f59762; }
.ahl-type { color: #a2e57b; }
.ahl-string { color: #ffed72; }
.ahl-markup.ahl-link.ahl-url {  color: #ffb270; }
.ahl-comment { font-style: italic; color: #6b7678; }
.ahl-namespace { color: #f2fffc; }
.ahl-variable.ahl-parameter { color: #f59762; }
.ahl-function { color: #a2e57b; }
.ahl-markup.ahl-heading { color: #a2e57b; }
.ahl-variable { color: #f2fffc; }
.ahl-diff.ahl-plus { color: #a2e57b; }
.ahl-diagnostic.ahl-error { color: #ff6d7e; }
.ahl-warning { color: #ffb270; }
.ahl-type.ahl-builtin { color: #ff6d7e; }
.ahl-diagnostic.ahl-info { color: #f2fffc; }
.ahl-keyword.ahl-directive { color: #7cd5f1; }
.ahl-info { color: #f2fffc; }
.ahl-label { color: #f2fffc; }
.ahl-constant.ahl-character.ahl-escape { color: #f2fffc; }
.ahl-error { color: #ff6d7e; }
.ahl-constant.ahl-numeric { color: #baa0f8; }
.ahl-special { color: #f59762; }
.ahl-constructor { color: #7cd5f1; }
.ahl-markup.ahl-quote { color: #a2e57b; }
.ahl-hint { color: #f2fffc; }
.ahl-constant.ahl-builtin { color: #ff6d7e; }
.ahl-function.ahl-builtin { color: cyan; }
.ahl-diff.ahl-delta { color: #ffb270; }
.ahl-diff.ahl-minus { color: #ff6d7e; }
.ahl-punctuation { color: #798384; }
.ahl-markup.ahl-link.ahl-text { color: #ffed72; }
.ahl-markup.ahl-italic { font-style: italic; color: #ffb270; }
.ahl-constant { color: #ffb270; }
.ahl-attribute { color: #7cd5f1; }
.ahl-operator { color: #ff6d7e; }
.ahl-diagnostic.ahl-hint { color: #f2fffc; }
