/* monokai_soda */
pre.autumn-hl { background-color: #191919; color: #cfcfc2; }
.ahl-markup.ahl-bold { font-weight: bold; color: #fd971f; }
.ahl-function.ahl-macro { color: #66d9ef; }
.ahl-variable.ahl-builtin { color: #f92a72; }
.ahl-variable.ahl-other.ahl-member { color: #cfcfc2; }
.ahl-diagnostic.ahl-warning { color: #fd971f; }
.ahl-keyword { color: #f92a72; }
.ahl-module { color: #f59762; }
.ahl-type { color: #66d9ef; }
.ahl-diff.ahl-delta.ahl-moved { color: #fd971f; }
.ahl-string { color: #E6DB74; }
.ahl-markup.ahl-link.ahl-url {  color: #fd971f; }
.ahl-comment { font-style: italic; color: #75715e; }
.ahl-namespace { color: #f92a72; }
.ahl-variable.ahl-parameter { color: #f59762; }
.ahl-function { color: #a6e22e; }
.ahl-markup.ahl-heading { color: #a6e22e; }
.ahl-variable { color: #cfcfc2; }
.ahl-diff.ahl-plus { color: #a6e22e; }
.ahl-diagnostic.ahl-error { color: #f92a72; }
.ahl-warning { color: #fd971f; }
.ahl-type.ahl-builtin { color: #f92a72; }
.ahl-diagnostic.ahl-info { color: #cfcfc2; }
.ahl-keyword.ahl-directive { color: #66d9ef; }
.ahl-info { color: #cfcfc2; }
.ahl-label { color: #E6DB74; }
.ahl-constant.ahl-character.ahl-escape { color: #66d9ef; }
.ahl-error { color: #f92a72; }
.ahl-constant.ahl-numeric { color: #AE81FF; }
.ahl-special { color: #f59762; }
.ahl-constructor { color: #66d9ef; }
.ahl-markup.ahl-quote { color: #a6e22e; }
.ahl-hint { color: #cfcfc2; }
.ahl-constant.ahl-builtin { color: #f92a72; }
.ahl-function.ahl-builtin { color: #f92a72; }
.ahl-diff.ahl-delta { color: #fd971f; }
.ahl-diff.ahl-minus { color: #f92a72; }
.ahl-punctuation { color: #75715e; }
.ahl-markup.ahl-link.ahl-text { color: #E6DB74; }
.ahl-markup.ahl-italic { font-style: italic; color: #fd971f; }
.ahl-constant { color: #cfcfc2; }
.ahl-attribute { color: #66d9ef; }
.ahl-operator { color: #f92a72; }
