/* monokai_pro */
pre.autumn-hl { background-color: #2d2a2e; color: #fcfcfa; }
.ahl-markup.ahl-bold { font-weight: bold; color: #fc9867; }
.ahl-function.ahl-macro { color: #78dce8; }
.ahl-variable.ahl-builtin { color: #ff6188; }
.ahl-variable.ahl-other.ahl-member { color: #fcfcfa; }
.ahl-diagnostic.ahl-warning { color: #fc9867; }
.ahl-keyword { color: #ff6188; }
.ahl-module { color: #f59762; }
.ahl-type { color: #a9dc76; }
.ahl-string { color: #ffd866; }
.ahl-markup.ahl-link.ahl-url {  color: #fc9867; }
.ahl-comment { font-style: italic; color: #727072; }
.ahl-namespace { color: #fcfcfa; }
.ahl-variable.ahl-parameter { color: #f59762; }
.ahl-function { color: #a9dc76; }
.ahl-markup.ahl-heading { color: #a9dc76; }
.ahl-variable { color: #fcfcfa; }
.ahl-diff.ahl-plus { color: #a9dc76; }
.ahl-diagnostic.ahl-error { color: #ff6188; }
.ahl-warning { color: #fc9867; }
.ahl-type.ahl-builtin { color: #ff6188; }
.ahl-diagnostic.ahl-info { color: #fcfcfa; }
.ahl-keyword.ahl-directive { color: #78dce8; }
.ahl-info { color: #fcfcfa; }
.ahl-label { color: #fcfcfa; }
.ahl-constant.ahl-character.ahl-escape { color: #fcfcfa; }
.ahl-error { color: #ff6188; }
.ahl-constant.ahl-numeric { color: #ab9df2; }
.ahl-special { color: #f59762; }
.ahl-constructor { color: #78dce8; }
.ahl-markup.ahl-quote { color: #a9dc76; }
.ahl-hint { color: #fcfcfa; }
.ahl-constant.ahl-builtin { color: #ff6188; }
.ahl-function.ahl-builtin { color: cyan; }
.ahl-diff.ahl-delta { color: #fc9867; }
.ahl-diff.ahl-minus { color: #ff6188; }
.ahl-punctuation { color: #939293; }
.ahl-markup.ahl-link.ahl-text { color: #ffd866; }
.ahl-markup.ahl-italic { font-style: italic; color: #fc9867; }
.ahl-constant { color: #fc9867; }
.ahl-attribute { color: #78dce8; }
.ahl-operator { color: #ff6188; }
.ahl-diagnostic.ahl-hint { color: #fcfcfa; }
