/* moonfly
 * revision: 2a3cade7d47a3f0b13bfe50926e645b8c2a2432f
 */

pre.athl {
  color: #c6c6c6;
  background-color: #080808;
}
.attribute {
  color: #74b2ff;
}
.attribute-builtin {
  color: #e65e72;
}
.boolean {
  color: #e65e72;
}
.character {
  color: #ae81ff;
}
.character-special {
  color: #e65e72;
}
.comment {
  color: #949494;
  font-style: italic;
}
.comment-documentation {
  color: #949494;
  font-style: italic;
}
.comment-error {
  color: #ff5d5d;
}
.comment-hint {
  color: #949494;
  font-style: italic;
}
.comment-note {
  color: #949494;
}
.comment-todo {
  color: #e3c78a;
  background-color: #262626;
}
.comment-warning {
  color: #e3c78a;
}
.constant {
  color: #79dac8;
}
.constant-builtin {
  color: #8cc85f;
}
.constant-java {
  color: #79dac8;
}
.constant-macro {
  color: #cf87e8;
}
.constructor {
  color: #36c692;
}
.constructor-lua {
  color: #36c692;
}
.constructor-python {
  color: #36c692;
}
.diff-delta {
  background-color: #2e2e2e;
}
.diff-minus {
  color: #626262;
  background-color: #2e2e2e;
}
.diff-plus {
  background-color: #314940;
}
.function {
  color: #74b2ff;
}
.function-builtin {
  color: #74b2ff;
}
.function-builtin-bash {
  color: #74b2ff;
}
.function-call {
  color: #74b2ff;
}
.function-macro {
  color: #79dac8;
}
.function-method {
  color: #74b2ff;
}
.function-method-call {
  color: #74b2ff;
}
.function-method-call-php {
  color: #74b2ff;
}
.function-method-php {
  color: #74b2ff;
}
.highlighted {
  background-color: #1c1c1c;
}
.keyword {
  color: #cf87e8;
}
.keyword-conditional {
  color: #cf87e8;
}
.keyword-conditional-ternary {
  color: #cf87e8;
}
.keyword-coroutine {
  color: #cf87e8;
}
.keyword-debug {
  color: #cf87e8;
}
.keyword-directive {
  color: #e65e72;
}
.keyword-directive-css {
  color: #e65e72;
}
.keyword-directive-define {
  color: #e65e72;
}
.keyword-exception {
  color: #cf87e8;
}
.keyword-export {
  color: #cf87e8;
}
.keyword-function {
  color: #cf87e8;
}
.keyword-import {
  color: #e65e72;
}
.keyword-import-c {
  color: #e65e72;
}
.keyword-import-cpp {
  color: #e65e72;
}
.keyword-modifier {
  color: #cf87e8;
}
.keyword-operator {
  color: #cf87e8;
}
.keyword-repeat {
  color: #cf87e8;
}
.keyword-return {
  color: #cf87e8;
}
.keyword-type {
  color: #cf87e8;
}
.label {
  color: #79dac8;
}
.label-yaml {
  color: #79dac8;
}
.markup {
  color: #e65e72;
}
.markup-environment {
  color: #cf87e8;
}
.markup-environment-name {
  color: #36c692;
}
.markup-heading {
  color: #cf87e8;
}
.markup-heading-1 {
  color: #cf87e8;
}
.markup-heading-2 {
  color: #cf87e8;
}
.markup-heading-3 {
  color: #cf87e8;
}
.markup-heading-4 {
  color: #cf87e8;
}
.markup-heading-5 {
  color: #cf87e8;
}
.markup-heading-6 {
  color: #cf87e8;
}
.markup-italic {
  color: #e196a2;
  font-style: italic;
}
.markup-link {
  color: #8cc85f;
}
.markup-link-label {
  color: #8cc85f;
}
.markup-link-label-html {
  color: #8cc85f;
}
.markup-link-url {
  color: #ae81ff;
  text-decoration: underline;
}
.markup-list {
  color: #e65e72;
}
.markup-list-checked {
  color: #79dac8;
}
.markup-list-unchecked {
  color: #80a0ff;
}
.markup-math {
  color: #74b2ff;
}
.markup-quote {
  color: #949494;
}
.markup-raw {
  color: #c6c684;
}
.markup-raw-block {
  color: #c6c684;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  color: #e196a2;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #79dac8;
}
.module-builtin {
  color: #8cc85f;
}
.normal {
  color: #c6c6c6;
  background-color: #080808;
}
.number {
  color: #de935f;
}
.number-css {
  color: #de935f;
}
.number-float {
  color: #de935f;
}
.operator {
  color: #e65e72;
}
.property {
  color: #adadf3;
}
.property-class-css {
  color: #adadf3;
}
.property-css {
  color: #adadf3;
}
.property-id-css {
  color: #adadf3;
}
.property-json {
  color: #adadf3;
}
.property-scss {
  color: #adadf3;
}
.property-toml {
  color: #adadf3;
}
.property-yaml {
  color: #adadf3;
}
.punctuation-bracket {
  color: #c6c6c6;
}
.punctuation-delimiter {
  color: #c6c6c6;
}
.punctuation-delimiter-regex {
  color: #c6c6c6;
}
.punctuation-special {
  color: #e65e72;
}
.string {
  color: #c6c684;
}
.string-documentation {
  color: #79dac8;
}
.string-escape {
  color: #e65e72;
}
.string-plain-css {
  color: #c6c684;
}
.string-regexp {
  color: #79dac8;
}
.string-special {
  color: #e65e72;
}
.string-special-path {
  color: #e196a2;
}
.string-special-symbol {
  color: #ae81ff;
}
.string-special-symbol-ruby {
  color: #ae81ff;
}
.string-special-url {
  color: #ae81ff;
}
.string-special-url-html {
  color: #ae81ff;
}
.tag {
  color: #80a0ff;
}
.tag-attribute {
  color: #79dac8;
}
.tag-builtin {
  color: #80a0ff;
}
.tag-delimiter {
  color: #8cc85f;
}
.type {
  color: #36c692;
}
.type-builtin {
  color: #36c692;
}
.type-css {
  color: #36c692;
}
.type-definition {
  color: #36c692;
}
.type-tag-css {
  color: #36c692;
}
.variable {
  color: #c6c6c6;
}
.variable-builtin {
  color: #8cc85f;
}
.variable-member {
  color: #adadf3;
}
.variable-parameter {
  color: #e196a2;
}
.variable-parameter-bash {
  color: #79dac8;
}
.variable-parameter-builtin {
  color: #e65e72;
}
