/* moonfly
 * revision: 1ad5a8d40176a8749f0c77b8875225d9d299a438
 */

pre.athl {
  color: #c6c6c6;
  background-color: #080808;
}
.attribute {
  color: #74b2ff;
}
.attribute-builtin {
  color: #e65e72;
}
.attribute-zig {
  color: #cf87e8;
}
.boolean {
  color: #e65e72;
}
.character {
  color: #ae81ff;
}
.character-special {
  color: #e65e72;
}
.character-special-vim {
  color: #74b2ff;
}
.comment {
  color: #949494;
  font-style: italic;
}
.comment-documentation {
  color: #949494;
  font-style: italic;
}
.comment-error {
  color: #ff5d5d;
}
.comment-hint {
  color: #949494;
  font-style: italic;
}
.comment-note {
  color: #949494;
}
.comment-todo {
  color: #e3c78a;
  background-color: #262626;
}
.comment-warning {
  color: #e3c78a;
}
.constant {
  color: #79dac8;
}
.constant-builtin {
  color: #8cc85f;
}
.constant-macro {
  color: #cf87e8;
}
.constructor {
  color: #36c692;
}
.diff-delta {
  background-color: #2e2e2e;
}
.diff-minus {
  color: #626262;
  background-color: #2e2e2e;
}
.diff-plus {
  background-color: #314940;
}
.function {
  color: #74b2ff;
}
.function-builtin {
  color: #74b2ff;
}
.function-call {
  color: #74b2ff;
}
.function-macro {
  color: #79dac8;
}
.function-macro-vim {
  color: #74b2ff;
}
.function-method {
  color: #74b2ff;
}
.function-method-call {
  color: #74b2ff;
}
.highlighted {
  background-color: #1c1c1c;
}
.keyword {
  color: #cf87e8;
}
.keyword-conditional {
  color: #cf87e8;
}
.keyword-conditional-ternary {
  color: #cf87e8;
}
.keyword-coroutine {
  color: #cf87e8;
}
.keyword-debug {
  color: #cf87e8;
}
.keyword-directive {
  color: #e65e72;
}
.keyword-directive-define {
  color: #e65e72;
}
.keyword-exception {
  color: #cf87e8;
}
.keyword-export {
  color: #cf87e8;
}
.keyword-function {
  color: #cf87e8;
}
.keyword-gitcommit {
  color: #74b2ff;
}
.keyword-import {
  color: #e65e72;
}
.keyword-import-bash {
  color: #cf87e8;
}
.keyword-import-rust {
  color: #cf87e8;
}
.keyword-modifier {
  color: #cf87e8;
}
.keyword-operator {
  color: #cf87e8;
}
.keyword-repeat {
  color: #cf87e8;
}
.keyword-return {
  color: #cf87e8;
}
.keyword-type {
  color: #cf87e8;
}
.label {
  color: #79dac8;
}
.markup {
  color: #e65e72;
}
.markup-environment {
  color: #cf87e8;
}
.markup-environment-name {
  color: #36c692;
}
.markup-heading {
  color: #cf87e8;
}
.markup-heading-1 {
  color: #cf87e8;
}
.markup-heading-1-markdown {
  color: #adadf3;
}
.markup-heading-2 {
  color: #cf87e8;
}
.markup-heading-2-markdown {
  color: #adadf3;
}
.markup-heading-3 {
  color: #cf87e8;
}
.markup-heading-3-markdown {
  color: #79dac8;
}
.markup-heading-4 {
  color: #cf87e8;
}
.markup-heading-4-markdown {
  color: #de935f;
}
.markup-heading-5 {
  color: #cf87e8;
}
.markup-heading-5-markdown {
  color: #74b2ff;
}
.markup-heading-6 {
  color: #cf87e8;
}
.markup-heading-markdown {
  color: #74b2ff;
}
.markup-italic {
  color: #e196a2;
  font-style: italic;
}
.markup-link {
  color: #8cc85f;
}
.markup-link-gitcommit {
  color: #80a0ff;
}
.markup-link-label {
  color: #8cc85f;
}
.markup-link-url {
  color: #ae81ff;
  text-decoration: underline;
}
.markup-link-url-astro {
  color: #cf87e8;
  font-style: italic;
}
.markup-link-url-gitcommit {
  color: #36c692;
}
.markup-link-url-html {
  color: #cf87e8;
  font-style: italic;
}
.markup-link-url-svelte {
  color: #cf87e8;
  font-style: italic;
}
.markup-link-url-vue {
  color: #cf87e8;
  font-style: italic;
}
.markup-list {
  color: #e65e72;
}
.markup-list-checked {
  color: #79dac8;
}
.markup-list-latex {
  color: #ae81ff;
}
.markup-list-unchecked {
  color: #80a0ff;
}
.markup-math {
  color: #74b2ff;
}
.markup-quote {
  color: #949494;
}
.markup-raw {
  color: #c6c684;
}
.markup-raw-block {
  color: #c6c684;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  color: #e196a2;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #79dac8;
}
.module-builtin {
  color: #8cc85f;
}
.namespace-latex {
  color: #adadf3;
}
.normal {
  color: #c6c6c6;
  background-color: #080808;
}
.number {
  color: #de935f;
}
.number-float {
  color: #de935f;
}
.operator {
  color: #e65e72;
}
.property {
  color: #adadf3;
}
.punctuation-bracket {
  color: #c6c6c6;
}
.punctuation-delimiter {
  color: #c6c6c6;
}
.punctuation-delimiter-astro {
  color: #e65e72;
}
.punctuation-delimiter-css {
  color: #e65e72;
}
.punctuation-delimiter-rust {
  color: #e65e72;
}
.punctuation-delimiter-scss {
  color: #e65e72;
}
.punctuation-delimiter-yaml {
  color: #e65e72;
}
.punctuation-special {
  color: #e65e72;
}
.string {
  color: #c6c684;
}
.string-documentation {
  color: #79dac8;
}
.string-escape {
  color: #e65e72;
}
.string-json {
  color: #85dc85;
}
.string-regexp {
  color: #79dac8;
}
.string-special {
  color: #e65e72;
}
.string-special-path {
  color: #e196a2;
}
.string-special-symbol {
  color: #ae81ff;
}
.string-special-url {
  color: #ae81ff;
}
.tag {
  color: #80a0ff;
}
.tag-attribute {
  color: #79dac8;
}
.tag-builtin {
  color: #80a0ff;
}
.tag-delimiter {
  color: #8cc85f;
}
.tag-javascript {
  color: #36c692;
}
.tag-jsx {
  color: #36c692;
}
.tag-tsx {
  color: #36c692;
}
.tag-typescript {
  color: #36c692;
}
.type {
  color: #36c692;
}
.type-builtin {
  color: #36c692;
}
.type-definition {
  color: #36c692;
}
.variable {
  color: #c6c6c6;
}
.variable-builtin {
  color: #8cc85f;
}
.variable-builtin-vim {
  color: #36c692;
}
.variable-member {
  color: #adadf3;
}
.variable-member-ruby {
  color: #79dac8;
}
.variable-member-yaml {
  color: #80a0ff;
}
.variable-parameter {
  color: #e196a2;
}
.variable-parameter-bash {
  color: #79dac8;
}
.variable-parameter-builtin {
  color: #e65e72;
}
.variable-scss {
  color: #79dac8;
}
.variable-vim {
  color: #79dac8;
}
