/* naysayer */
pre.autumn-hl { background-color: #062329; color: #d1b897; }
.ahl-attribute { color: #d1b897; }
.ahl-comment { color: #44b340; }
.ahl-constant { color: #7ad0c6; }
.ahl-constant.ahl-builtin { color: #ffffff; }
.ahl-constant.ahl-builtin.ahl-boolean { color: #ffffff; }
.ahl-constant.ahl-character { color: #d1b897; }
.ahl-constant.ahl-numeric { color: #7ad0c6; }
.ahl-constructor { color: #ffffff; }
.ahl-diagnostic.ahl-error { font-weight: bold; color: #d1b897; background-color: #ff0000; }
.ahl-diagnostic.ahl-hint { font-weight: bold; background-color: #a1efe4; }
.ahl-diagnostic.ahl-warning { font-weight: bold; color: #d1b897; background-color: #ffaa00; }
.ahl-diff.ahl-delta { color: #66d9ef; }
.ahl-diff.ahl-minus { color: #f92672; }
.ahl-diff.ahl-plus { color: #a6e22e; }
.ahl-function { color: #ffffff; }
.ahl-function.ahl-builtin { color: #ffffff; }
.ahl-function.ahl-macro { color: #8cde94; }
.ahl-function.ahl-method { color: #c1d1e3; }
.ahl-function.ahl-special { color: #8cde94; }
.ahl-keyword { color: #ffffff; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-punctuation { color: #8cde94; }
.ahl-string { color: #2ec90c; }
.ahl-tag.ahl-builtin { color: #ffffff; }
.ahl-type { color: #d1b897; }
.ahl-type.ahl-builtin { color: #ffffff; }
.ahl-variable { color: #c1d1e3; }
.ahl-variable.ahl-builtin { color: #ffffff; }
