/* night_owl */
pre.autumn-hl { background-color: #011627; color: #d6deeb; }
.ahl-markup.ahl-bold { font-weight: bold; color: #d6deeb; }
.ahl-function.ahl-macro { color: #f78c6c; }
.ahl-variable.ahl-builtin { font-style: italic; color: #addb67; }
.ahl-diagnostic.ahl-warning { color: #f78c6c; }
.ahl-keyword.ahl-control.ahl-exception { color: #ff5874; }
.ahl-keyword { color: #c792ea; }
.ahl-module { color: #eeeeee; }
.ahl-type { color: #addb67; }
.ahl-diff.ahl-delta.ahl-moved { font-style: italic; color: #82aaff; }
.ahl-string { color: #ecc48d; }
.ahl-markup.ahl-link.ahl-url {  color: #637777; }
.ahl-comment { font-style: italic; color: #637777; }
.ahl-namespace { color: #f78c6c; }
.ahl-string.ahl-special.ahl-url {  color: #ecc48d; }
.ahl-function { color: #82aaff; }
.ahl-markup.ahl-heading { font-weight: bold; color: #82aaff; }
.ahl-markup.ahl-heading.ahl-2 { font-weight: bold; color: #7fdbca; }
.ahl-variable { color: #addb67; }
.ahl-markup.ahl-heading.ahl-6 { font-weight: bold; color: #637777; }
.ahl-diff.ahl-plus { color: #addb67; }
.ahl-diagnostic.ahl-error { color: #ff5874; }
.ahl-warning {  color: #f78c6c; }
.ahl-markup.ahl-strikethrough {  color: #d6deeb; }
.ahl-diagnostic.ahl-info { color: #82aaff; }
.ahl-info {  color: #82aaff; }
.ahl-markup.ahl-heading.ahl-5 { font-weight: bold; color: #f78c6c; }
.ahl-label { color: #d6deeb; }
.ahl-constant.ahl-character.ahl-escape { color: #f78c6c; }
.ahl-error {  color: #ff5874; }
.ahl-special { color: #eeeeee; }
.ahl-constructor { color: #82aaff; }
.ahl-markup.ahl-quote { font-style: italic; color: #addb67; }
.ahl-punctuation.ahl-special { color: #c792ea; }
.ahl-hint {  color: #7fdbca; }
.ahl-constant.ahl-builtin { color: #7fdbca; }
.ahl-string.ahl-regexp { color: #addb67; }
.ahl-diff.ahl-delta { color: #82aaff; }
.ahl-diff.ahl-minus { color: #ff5874; }
.ahl-punctuation { color: #d6deeb; }
.ahl-markup.ahl-heading.ahl-marker {  color: #444444; }
.ahl-keyword.ahl-control.ahl-return { font-style: italic; color: #c792ea; }
.ahl-markup.ahl-link {  color: #c792ea; }
.ahl-tag { color: #82aaff; }
.ahl-markup.ahl-heading.ahl-4 { font-weight: bold; color: #c792ea; }
.ahl-keyword.ahl-control.ahl-import { font-style: italic; color: #addb67; }
.ahl-markup.ahl-list { color: #c792ea; }
.ahl-markup.ahl-heading.ahl-1 { font-weight: bold; color: #82aaff; }
.ahl-markup.ahl-italic { font-style: italic; color: #d6deeb; }
.ahl-markup.ahl-raw { color: #ecc48d; background-color: #112630; }
.ahl-constant { color: #d6deeb; }
.ahl-comment.ahl-block.ahl-documentation { color: #637777; }
.ahl-function.ahl-special { color: #c792ea; }
.ahl-attribute { color: #7fdbca; }
.ahl-markup.ahl-heading.ahl-3 { font-weight: bold; color: #addb67; }
.ahl-operator { color: #c792ea; }
.ahl-diagnostic.ahl-hint { color: #7fdbca; }
