/* nightfly
 * revision: 2a92a9291a461d99c01b4cdcc8fa41ec17a2209d
 */

pre.athl {
  color: #c3ccdc;
  background-color: #011627;
}
.attribute {
  color: #82aaff;
}
.attribute-builtin {
  color: #ff5874;
}
.boolean {
  color: #ff5874;
}
.character {
  color: #ae81ff;
}
.character-special {
  color: #ff5874;
}
.comment {
  color: #7c8f8f;
  font-style: italic;
}
.comment-documentation {
  color: #7c8f8f;
  font-style: italic;
}
.comment-error {
  color: #fc514e;
}
.comment-hint {
  color: #7c8f8f;
  font-style: italic;
}
.comment-note {
  color: #7c8f8f;
}
.comment-todo {
  color: #e3d18a;
  background-color: #0e293f;
}
.comment-warning {
  color: #e3d18a;
}
.constant {
  color: #7fdbca;
}
.constant-builtin {
  color: #a1cd5e;
}
.constant-java {
  color: #7fdbca;
}
.constant-macro {
  color: #c792ea;
}
.constructor {
  color: #21c7a8;
}
.constructor-lua {
  color: #21c7a8;
}
.constructor-python {
  color: #21c7a8;
}
.diff-delta {
  background-color: #2c3043;
}
.diff-minus {
  color: #4b6479;
  background-color: #2c3043;
}
.diff-plus {
  background-color: #2a4e57;
}
.function {
  color: #82aaff;
}
.function-builtin {
  color: #82aaff;
}
.function-builtin-bash {
  color: #82aaff;
}
.function-call {
  color: #82aaff;
}
.function-macro {
  color: #7fdbca;
}
.function-method {
  color: #82aaff;
}
.function-method-call {
  color: #82aaff;
}
.function-method-call-php {
  color: #82aaff;
}
.function-method-php {
  color: #82aaff;
}
.highlighted {
  background-color: #092236;
}
.keyword {
  color: #c792ea;
}
.keyword-conditional {
  color: #c792ea;
}
.keyword-conditional-ternary {
  color: #c792ea;
}
.keyword-coroutine {
  color: #c792ea;
}
.keyword-debug {
  color: #c792ea;
}
.keyword-directive {
  color: #ff5874;
}
.keyword-directive-css {
  color: #ff5874;
}
.keyword-directive-define {
  color: #ff5874;
}
.keyword-exception {
  color: #c792ea;
}
.keyword-export {
  color: #c792ea;
}
.keyword-function {
  color: #c792ea;
}
.keyword-import {
  color: #ff5874;
}
.keyword-import-c {
  color: #ff5874;
}
.keyword-import-cpp {
  color: #ff5874;
}
.keyword-modifier {
  color: #c792ea;
}
.keyword-operator {
  color: #c792ea;
}
.keyword-repeat {
  color: #c792ea;
}
.keyword-return {
  color: #c792ea;
}
.keyword-type {
  color: #c792ea;
}
.label {
  color: #7fdbca;
}
.label-yaml {
  color: #7fdbca;
}
.markup {
  color: #ff5874;
}
.markup-environment {
  color: #c792ea;
}
.markup-environment-name {
  color: #21c7a8;
}
.markup-heading {
  color: #c792ea;
}
.markup-heading-1 {
  color: #c792ea;
}
.markup-heading-2 {
  color: #c792ea;
}
.markup-heading-3 {
  color: #c792ea;
}
.markup-heading-4 {
  color: #c792ea;
}
.markup-heading-5 {
  color: #c792ea;
}
.markup-heading-6 {
  color: #c792ea;
}
.markup-italic {
  color: #e39aa6;
  font-style: italic;
}
.markup-link {
  color: #a1cd5e;
}
.markup-link-label {
  color: #a1cd5e;
}
.markup-link-label-html {
  color: #a1cd5e;
}
.markup-link-url {
  color: #ae81ff;
  text-decoration: underline;
}
.markup-list {
  color: #ff5874;
}
.markup-list-checked {
  color: #7fdbca;
}
.markup-list-unchecked {
  color: #82aaff;
}
.markup-math {
  color: #87bcff;
}
.markup-quote {
  color: #7c8f8f;
}
.markup-raw {
  color: #ecc48d;
}
.markup-raw-block {
  color: #ecc48d;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  color: #e39aa6;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #7fdbca;
}
.module-builtin {
  color: #a1cd5e;
}
.normal {
  color: #c3ccdc;
  background-color: #011627;
}
.number {
  color: #f78c6c;
}
.number-css {
  color: #f78c6c;
}
.number-float {
  color: #f78c6c;
}
.operator {
  color: #ff5874;
}
.property {
  color: #b0b2f4;
}
.property-class-css {
  color: #b0b2f4;
}
.property-css {
  color: #b0b2f4;
}
.property-id-css {
  color: #b0b2f4;
}
.property-json {
  color: #b0b2f4;
}
.property-scss {
  color: #b0b2f4;
}
.property-toml {
  color: #b0b2f4;
}
.property-yaml {
  color: #b0b2f4;
}
.punctuation-bracket {
  color: #c3ccdc;
}
.punctuation-delimiter {
  color: #c3ccdc;
}
.punctuation-delimiter-regex {
  color: #c3ccdc;
}
.punctuation-special {
  color: #ff5874;
}
.string {
  color: #ecc48d;
}
.string-documentation {
  color: #7fdbca;
}
.string-escape {
  color: #ff5874;
}
.string-plain-css {
  color: #ecc48d;
}
.string-regexp {
  color: #7fdbca;
}
.string-special {
  color: #ff5874;
}
.string-special-path {
  color: #e39aa6;
}
.string-special-symbol {
  color: #ae81ff;
}
.string-special-symbol-ruby {
  color: #ae81ff;
}
.string-special-url {
  color: #ae81ff;
}
.string-special-url-html {
  color: #ae81ff;
}
.tag {
  color: #82aaff;
}
.tag-attribute {
  color: #7fdbca;
}
.tag-builtin {
  color: #82aaff;
}
.tag-delimiter {
  color: #a1cd5e;
}
.type {
  color: #21c7a8;
}
.type-builtin {
  color: #21c7a8;
}
.type-css {
  color: #21c7a8;
}
.type-definition {
  color: #21c7a8;
}
.type-tag-css {
  color: #21c7a8;
}
.variable {
  color: #c3ccdc;
}
.variable-builtin {
  color: #a1cd5e;
}
.variable-member {
  color: #b0b2f4;
}
.variable-parameter {
  color: #e39aa6;
}
.variable-parameter-bash {
  color: #7fdbca;
}
.variable-parameter-builtin {
  color: #ff5874;
}
