/* nightfox */
pre.autumn-hl { background-color: #192330; color: #cdcecf; }
.ahl-info { color: #719cd6; background-color: #192330; }
.ahl-label { color: #baa1e2; }
.ahl-keyword.ahl-control.ahl-return { color: #9d79d6; }
.ahl-markup.ahl-bold { font-weight: bold; color: #f4a261; }
.ahl-comment.ahl-block.ahl-documentation { font-weight: bold; color: #738091; }
.ahl-namespace { color: #7ad4d6; }
.ahl-markup.ahl-raw.ahl-inline { color: #f4a261; }
.ahl-keyword.ahl-control.ahl-conditional { color: #baa1e2; }
.ahl-markup.ahl-heading { font-weight: bold; color: #dbc074; }
.ahl-constant.ahl-builtin { color: #f6b079; }
.ahl-attribute { color: #dbc074; }
.ahl-type { color: #dbc074; }
.ahl-diagnostic.ahl-warning { color: #dbc074; }
.ahl-hint { color: #81b29a; background-color: #192330; }
.ahl-string.ahl-special { font-weight: bold; color: #e0c989; }
.ahl-constant { color: #f6b079; }
.ahl-constant.ahl-builtin.ahl-boolean { color: #f4a261; }
.ahl-markup.ahl-link { font-weight: bold; color: #e0c989; }
.ahl-warning { color: #dbc074; background-color: #192330; }
.ahl-string.ahl-regexp { color: #e0c989; }
.ahl-keyword.ahl-storage { color: #9d79d6; }
.ahl-type.ahl-enum.ahl-variant { color: #f6b079; }
.ahl-variable { color: #dfdfe0; }
.ahl-constructor { color: #9d79d6; }
.ahl-type.ahl-builtin { color: #7ad4d6; }
.ahl-keyword.ahl-storage.ahl-modifier { color: #dbc074; }
.ahl-diagnostic.ahl-error { color: #c94f6d; }
.ahl-diff.ahl-minus { color: #c94f6d; }
.ahl-constant.ahl-character { color: #81b29a; }
.ahl-markup.ahl-raw { color: #9d79d6; }
.ahl-diff.ahl-delta.ahl-moved { color: #63cdcf; }
.ahl-tag { color: #86abdc; }
.ahl-comment { color: #738091; }
.ahl-string.ahl-special.ahl-url { font-weight: bold; color: #63cdcf; }
.ahl-punctuation { color: #aeafb0; }
.ahl-markup.ahl-italic { color: #d67ad2; }
.ahl-function.ahl-macro { color: #c94f6d; }
.ahl-special { color: #aeafb0; }
.ahl-diff.ahl-plus { color: #81b29a; }
.ahl-operator { color: #aeafb0; }
.ahl-keyword.ahl-directive { color: #dc8ed9; }
.ahl-diagnostic.ahl-info { color: #719cd6; }
.ahl-constant.ahl-character.ahl-escape { font-weight: bold; color: #e0c989; }
.ahl-keyword.ahl-control { color: #d67ad2; }
.ahl-variable.ahl-builtin { color: #c94f6d; }
.ahl-variable.ahl-parameter { color: #7ad4d6; }
.ahl-string { color: #81b29a; }
.ahl-diff.ahl-delta { color: #719cd6; }
.ahl-keyword.ahl-control.ahl-import { color: #dc8ed9; }
.ahl-keyword { color: #9d79d6; }
.ahl-keyword.ahl-storage.ahl-type { color: #9d79d6; }
.ahl-markup.ahl-quote { color: #719cd6; }
.ahl-function.ahl-builtin { color: #c94f6d; }
.ahl-markup.ahl-list { font-weight: bold; color: #9d79d6; }
.ahl-keyword.ahl-operator { font-weight: bold; color: #aeafb0; }
.ahl-diagnostic.ahl-hint { color: #81b29a; }
.ahl-variable.ahl-other.ahl-member { color: #aeafb0; }
.ahl-keyword.ahl-function { color: #c94f6d; }
.ahl-function { color: #86abdc; }
.ahl-constant.ahl-numeric { color: #f4a261; }
.ahl-keyword.ahl-control.ahl-exception { color: #9d79d6; }
.ahl-keyword.ahl-control.ahl-repeat { color: #baa1e2; }
.ahl-error { color: #c94f6d; background-color: #192330; }
