/* Nord Light - Sergei <Mikasius> Metlenkin */
pre.athl {
  background-color: #eceff4; color: #444d56;
}
.athl-attribute {
  color: #0D7579;
}
.athl-comment {
  color: #6A737D;
  font-style: italic;
}
.athl-comment-doc {
  color: #6A737D;
  font-style: italic;
}
.athl-constant {
  color: #3B4252;
}
.athl-constructor {
  color: #0D7579;
}
.athl-emphasis {
  color: #24292E;
  font-style: italic;
}
.athl-emphasis-strong {
  color: #24292E;
  font-weight: 700;
}
.athl-keyword {
  color: #D73A49;
}
.athl-label {
  color: #509546;
}
.athl-link_text {
  color: #CB5C69;
}
.athl-link_uri {
  color: #CB5C69;
}
.athl-number {
  color: #3B4252;
}
.athl-operator {
  color: #CB5C69;
}
.athl-string {
  color: #032F62;
}
.athl-string-escape {
  color: #032F62;
}
.athl-string-regex {
  color: #032F62;
}
.athl-string-special {
  color: #032F62;
}
.athl-string-special-symbol {
  color: #032F62;
}
.athl-tag {
  color: #0D7579;
}
.athl-text-literal {
  color: #032F62;
}
.athl-title {
  color: #509546;
}
.athl-variable {
  color: #3B4252;
}
.athl-variable-special {
  color: #0C60A5;
}
