/* Nord - Sergei <Mikasius> Metlenkin */
pre.athl {
  background-color: #2e3440; color: #fffffffdf;
}
.athl-attribute {
  color: #8FBCBB;
}
.athl-boolean {
  color: #81A1C1;
}
.athl-comment {
  color: #616E88;
  font-style: italic;
}
.athl-comment-doc {
  color: #616E88;
  font-style: italic;
}
.athl-constant {
  color: #81A1C1;
}
.athl-constructor {
  color: #81A1C1;
}
.athl-function {
  color: #88c0d0;
}
.athl-keyword {
  color: #81A1C1;
}
.athl-number {
  color: #B48EAD;
}
.athl-operator {
  color: #81A1C1;
}
.athl-preproc {
  color: #5E81AC;
}
.athl-punctuation {
  color: #ECEFF4;
}
.athl-punctuation-bracket {
  color: #ECEFF4;
}
.athl-punctuation-delimiter {
  color: #81A1C1;
}
.athl-punctuation-list_marker {
  color: #ECEFF4;
}
.athl-punctuation-special {
  color: #ECEFF4;
}
.athl-string {
  color: #A3BE8C;
}
.athl-string-escape {
  color: #EBCB8B;
}
.athl-string-regex {
  color: #A3BE8C;
}
.athl-string-special {
  color: #A3BE8C;
}
.athl-string-special-symbol {
  color: #A3BE8C;
}
.athl-tag {
  color: #81A1C1;
}
.athl-text-literal {
  color: #A3BE8C;
}
.athl-type {
  color: #8FBCBB;
}
.athl-variable {
  color: #81A1C1;
}
.athl-variable-special {
  color: #81A1C1;
}
