/* onedark */
pre.autumn-hl { background-color: #282C34; color: #ABB2BF; }
.ahl-info { font-weight: bold; color: #61AFEF; }
.ahl-label { color: #C678DD; }
.ahl-markup.ahl-bold { font-weight: bold; color: #D19A66; }
.ahl-namespace { color: #61AFEF; }
.ahl-markup.ahl-raw.ahl-inline { color: #98C379; }
.ahl-markup.ahl-heading { color: #E06C75; }
.ahl-constant.ahl-builtin { color: #D19A66; }
.ahl-attribute { color: #E5C07B; }
.ahl-type { color: #E5C07B; }
.ahl-diagnostic.ahl-warning { color: #E5C07B; }
.ahl-hint { font-weight: bold; color: #98C379; }
.ahl-constant { color: #56B6C2; }
.ahl-warning { font-weight: bold; color: #E5C07B; }
.ahl-constructor { color: #61AFEF; }
.ahl-diagnostic.ahl-error { color: #E06C75; }
.ahl-diff.ahl-minus { color: #E06C75; }
.ahl-tag { color: #E06C75; }
.ahl-comment { font-style: italic; color: #5C6370; }
.ahl-markup.ahl-link.ahl-text { color: #C678DD; }
.ahl-markup.ahl-italic { font-style: italic; color: #C678DD; }
.ahl-function.ahl-macro { color: #C678DD; }
.ahl-special { color: #61AFEF; }
.ahl-diff.ahl-plus { color: #98C379; }
.ahl-operator { color: #C678DD; }
.ahl-keyword.ahl-directive { color: #C678DD; }
.ahl-diagnostic.ahl-info { color: #61AFEF; }
.ahl-constant.ahl-character.ahl-escape { color: #D19A66; }
.ahl-keyword.ahl-control { color: #C678DD; }
.ahl-markup.ahl-link.ahl-url {  color: #56B6C2; }
.ahl-variable.ahl-builtin { color: #61AFEF; }
.ahl-variable.ahl-parameter { color: #E06C75; }
.ahl-string { color: #98C379; }
.ahl-diff.ahl-delta { color: #D19A66; }
.ahl-keyword.ahl-control.ahl-import { color: #E06C75; }
.ahl-keyword { color: #E06C75; }
.ahl-markup.ahl-quote { color: #E5C07B; }
.ahl-function.ahl-builtin { color: #61AFEF; }
.ahl-markup.ahl-list { color: #E06C75; }
.ahl-keyword.ahl-operator { color: #C678DD; }
.ahl-diagnostic.ahl-hint { color: #98C379; }
.ahl-variable.ahl-other.ahl-member { color: #E06C75; }
.ahl-function { color: #61AFEF; }
.ahl-constant.ahl-numeric { color: #D19A66; }
.ahl-error { font-weight: bold; color: #E06C75; }
