/* onedark_warm
 * revision: 213c23ae45a04797572242568d5d51937181792d
 */

pre.athl {
  color: #b1b4b9;
  background-color: #2c2d30;
}
.attribute {
  color: #5fafb9;
}
.attribute-builtin {
  color: #68aee8;
}
.boolean {
  color: #c99a6e;
}
.character {
  color: #c99a6e;
}
.character-special {
  color: #e16d77;
}
.comment {
  color: #646568;
  font-style: italic;
}
.comment-documentation {
  color: #646568;
  font-style: italic;
}
.comment-error {
  color: #e16d77;
  font-style: italic;
}
.comment-hint {
  color: #646568;
  font-style: italic;
}
.comment-note {
  color: #68aee8;
  font-style: italic;
}
.comment-todo {
  color: #c27fd7;
  font-style: italic;
}
.comment-warning {
  color: #dfbe81;
  font-style: italic;
}
.constant {
  color: #c99a6e;
}
.constant-builtin {
  color: #c99a6e;
}
.constant-macro {
  color: #c99a6e;
}
.constructor {
  color: #dfbe81;
  font-weight: bold;
}
.diff-delta {
  color: #68aee8;
}
.diff-minus {
  color: #e16d77;
}
.diff-plus {
  color: #99bc80;
}
.function {
  color: #68aee8;
}
.function-builtin {
  color: #5fafb9;
}
.function-call {
  color: #68aee8;
}
.function-macro {
  color: #5fafb9;
}
.function-method {
  color: #68aee8;
}
.function-method-call {
  color: #68aee8;
}
.highlighted {
  background-color: #35373b;
}
.keyword {
  color: #c27fd7;
}
.keyword-conditional {
  color: #c27fd7;
}
.keyword-conditional-ternary {
  color: #c27fd7;
}
.keyword-coroutine {
  color: #c27fd7;
}
.keyword-debug {
  color: #e16d77;
}
.keyword-directive {
  color: #c27fd7;
}
.keyword-directive-define {
  color: #c27fd7;
}
.keyword-exception {
  color: #c27fd7;
}
.keyword-export {
  color: #c27fd7;
}
.keyword-function {
  color: #c27fd7;
}
.keyword-import {
  color: #c27fd7;
}
.keyword-modifier {
  color: #c27fd7;
}
.keyword-operator {
  color: #c27fd7;
}
.keyword-repeat {
  color: #c27fd7;
}
.keyword-return {
  color: #c27fd7;
}
.keyword-type {
  color: #c27fd7;
}
.label {
  color: #e16d77;
}
.markup {
  color: #e16d77;
}
.markup-environment {
  color: #e16d77;
}
.markup-environment-name {
  color: #e16d77;
}
.markup-heading {
  color: #c99a6e;
  font-weight: bold;
}
.markup-heading-1 {
  color: #e16d77;
  font-weight: bold;
}
.markup-heading-2 {
  color: #c27fd7;
  font-weight: bold;
}
.markup-heading-3 {
  color: #c99a6e;
  font-weight: bold;
}
.markup-heading-4 {
  color: #e16d77;
  font-weight: bold;
}
.markup-heading-5 {
  color: #c27fd7;
  font-weight: bold;
}
.markup-heading-6 {
  color: #c99a6e;
  font-weight: bold;
}
.markup-italic {
  color: #b1b4b9;
  font-style: italic;
}
.markup-link {
  color: #68aee8;
}
.markup-link-label {
  color: #5fafb9;
}
.markup-link-url {
  color: #5fafb9;
  text-decoration: underline;
}
.markup-list {
  color: #e16d77;
}
.markup-list-checked {
  color: #99bc80;
  font-style: italic;
}
.markup-list-unchecked {
  color: #e16d77;
  font-style: italic;
}
.markup-math {
  color: #b1b4b9;
}
.markup-quote {
  color: #646568;
  font-style: italic;
}
.markup-raw {
  color: #99bc80;
}
.markup-raw-block {
  color: #99bc80;
}
.markup-strikethrough {
  color: #b1b4b9;
  text-decoration: line-through;
}
.markup-strong {
  color: #b1b4b9;
  font-weight: bold;
}
.markup-underline {
  color: #b1b4b9;
  text-decoration: underline;
}
.module {
  color: #dfbe81;
}
.module-builtin {
  color: #c99a6e;
}
.normal {
  color: #b1b4b9;
  background-color: #2c2d30;
}
.number {
  color: #c99a6e;
}
.number-float {
  color: #c99a6e;
}
.operator {
  color: #b1b4b9;
}
.property {
  color: #5fafb9;
}
.punctuation-bracket {
  color: #8b8d91;
}
.punctuation-delimiter {
  color: #8b8d91;
}
.punctuation-special {
  color: #e16d77;
}
.string {
  color: #99bc80;
}
.string-documentation {
  color: #99bc80;
}
.string-escape {
  color: #e16d77;
}
.string-regexp {
  color: #c99a6e;
}
.string-special {
  color: #316a71;
}
.string-special-path {
  color: #99bc80;
}
.string-special-symbol {
  color: #5fafb9;
}
.string-special-url {
  color: #5fafb9;
  text-decoration: underline;
}
.tag {
  color: #c27fd7;
}
.tag-attribute {
  color: #dfbe81;
}
.tag-builtin {
  color: #c27fd7;
}
.tag-delimiter {
  color: #c27fd7;
}
.type {
  color: #dfbe81;
}
.type-builtin {
  color: #c99a6e;
}
.type-definition {
  color: #dfbe81;
}
.variable {
  color: #b1b4b9;
}
.variable-builtin {
  color: #e16d77;
}
.variable-member {
  color: #5fafb9;
}
.variable-parameter {
  color: #e16d77;
}
.variable-parameter-builtin {
  color: #c99a6e;
}
