/* onelight */
pre.autumn-hl { background-color: #FAFAFA; color: #282C34; }
.ahl-markup.ahl-bold { font-weight: bold; color: #FF6F00; }
.ahl-function.ahl-macro { font-weight: bold; color: #C2185B; }
.ahl-variable.ahl-builtin { color: #0091EA; }
.ahl-markup.ahl-list.ahl-checked { color: #24A443; }
.ahl-string.ahl-special.ahl-symbol { color: #C2185B; }
.ahl-markup.ahl-list.ahl-unchecked { color: #0061FF; }
.ahl-keyword.ahl-control.ahl-conditional { font-weight: bold; color: #D50000; }
.ahl-constant.ahl-builtin.ahl-boolean { font-weight: bold; color: #B500A9; }
.ahl-variable.ahl-other.ahl-member { color: #C2185B; }
.ahl-diagnostic.ahl-warning { color: #FF6F00; }
.ahl-keyword.ahl-control.ahl-exception { color: #B500A9; }
.ahl-keyword { color: #B500A9; }
.ahl-module { color: #0061FF; }
.ahl-constant.ahl-character { color: #24A443; }
.ahl-variable.ahl-other { color: #C2185B; }
.ahl-type { color: #D35400; }
.ahl-diff.ahl-delta.ahl-moved { color: #0086C1; }
.ahl-comment.ahl-block { font-style: italic; color: #5C6370; }
.ahl-string { color: #24A443; }
.ahl-markup.ahl-link.ahl-url {  color: #0086C1; }
.ahl-markup.ahl-list.ahl-unnumbered { color: #0091EA; }
.ahl-comment { font-style: italic; color: #5C6370; }
.ahl-namespace { color: #0061FF; }
.ahl-property { color: #B500A9; }
.ahl-variable.ahl-parameter { color: #D50000; }
.ahl-string.ahl-special.ahl-url { color: #0091EA; }
.ahl-function { color: #0061FF; }
.ahl-string.ahl-special { color: #24A443; }
.ahl-keyword.ahl-control.ahl-repeat { font-weight: bold; color: #C2185B; }
.ahl-keyword.ahl-storage { color: #B500A9; }
.ahl-markup.ahl-heading { color: #D50000; }
.ahl-markup.ahl-heading.ahl-2 { text-decoration: underline; font-weight: bold; color: #D35400; }
.ahl-markup.ahl-heading.ahl-6 { font-weight: bold; color: #B500A9; }
.ahl-diff.ahl-plus { color: #24A443; }
.ahl-diagnostic.ahl-error { color: #D50000; }
.ahl-function.ahl-method { color: #0091EA; }
.ahl-warning { font-weight: bold; color: #FF6F00; }
.ahl-string.ahl-special.ahl-path { color: #0061FF; }
.ahl-markup.ahl-strikethrough {  color: #D50000; }
.ahl-type.ahl-builtin { color: #FF6F00; }
.ahl-diagnostic.ahl-info { color: #0061FF; }
.ahl-keyword.ahl-operator { color: #D50000; }
.ahl-markup.ahl-list.ahl-numbered { color: #0091EA; }
.ahl-keyword.ahl-control { color: #B500A9; }
.ahl-keyword.ahl-directive { color: #651FFF; }
.ahl-type.ahl-enum.ahl-variant { color: #0086C1; }
.ahl-punctuation.ahl-delimiter { color: #B500A9; }
.ahl-constant.ahl-numeric.ahl-integer { font-weight: bold; color: #795548; }
.ahl-info { font-weight: bold; color: #0061FF; }
.ahl-keyword.ahl-function { color: #B500A9; }
.ahl-markup.ahl-heading.ahl-5 { font-weight: bold; color: #0061FF; }
.ahl-punctuation.ahl-bracket { color: #795548; }
.ahl-label { color: #0086C1; }
.ahl-constant.ahl-character.ahl-escape { font-weight: bold; color: #795548; }
.ahl-error { font-weight: bold; color: #D50000; }
.ahl-constant.ahl-numeric { font-weight: bold; color: #795548; }
.ahl-special { color: #651FFF; }
.ahl-constructor { color: #0061FF; }
.ahl-markup.ahl-quote { color: #5C6370; }
.ahl-markup.ahl-raw.ahl-inline { color: #24A443; }
.ahl-punctuation.ahl-special { color: #795548; }
.ahl-hint { font-weight: bold; color: #24A443; }
.ahl-constant.ahl-builtin { color: #651FFF; }
.ahl-constant.ahl-numeric.ahl-float { font-weight: bold; color: #795548; }
.ahl-comment.ahl-line { font-style: italic; color: #5C6370; }
.ahl-function.ahl-builtin { color: #0086C1; }
.ahl-string.ahl-regexp { color: #B500A9; }
.ahl-diff.ahl-delta { color: #0086C1; }
.ahl-diff.ahl-minus { color: #D50000; }
.ahl-punctuation { color: #282C34; }
.ahl-markup.ahl-heading.ahl-marker { color: #D50000; }
.ahl-keyword.ahl-control.ahl-return { font-weight: bold; color: #651FFF; }
.ahl-markup.ahl-link { color: #0091EA; }
.ahl-markup.ahl-link.ahl-text { color: #0091EA; }
.ahl-tag { color: #0086C1; }
.ahl-markup.ahl-heading.ahl-4 { font-weight: bold; color: #24A443; }
.ahl-keyword.ahl-control.ahl-import { color: #D50000; }
.ahl-type.ahl-enum { color: #0086C1; }
.ahl-markup.ahl-list { color: #0091EA; }
.ahl-markup.ahl-heading.ahl-1 { font-weight: bold; color: #D50000; }
.ahl-keyword.ahl-storage.ahl-type { color: #B500A9; }
.ahl-diff { color: #D50000; }
.ahl-markup.ahl-italic { font-style: italic; color: #B500A9; }
.ahl-keyword.ahl-storage.ahl-modifier { font-weight: bold; color: #B500A9; }
.ahl-markup.ahl-raw { color: #795548; }
.ahl-markup.ahl-raw.ahl-block { color: #5C6370; }
.ahl-constant { font-weight: bold; color: #0086C1; }
.ahl-comment.ahl-block.ahl-documentation { font-style: italic; color: #5C6370; }
.ahl-function.ahl-special { color: #0086C1; }
.ahl-attribute { color: #FF6F00; }
.ahl-markup.ahl-heading.ahl-3 { font-weight: bold; color: #FF6F00; }
.ahl-operator { color: #D50000; }
.ahl-diagnostic.ahl-hint { color: #24A443; }
