/* onelight */
pre.athl {
  color: #6a6a6a; background-color: #fafafa;
}
.athl-operator {
  color: #56b6c2;
}
.athl-attribute {
  color: #9a77cf;
}
.athl-constant-macro {
  color: #ee9025;
}
.athl-constant {
  color: #ee9025;
}
.athl-keyword-coroutine {
  color: #9a77cf;
}
.athl-comment-documentation {
  color: #9b9fa6;
}
.athl-comment-warning {
  color: #fafafa; background-color: #eea825;
}
.athl-markup-italic {
  font-style: italic;
}
.athl-module-builtin {
  color: #118dc3;
}
.athl-keyword-type {
  color: #9a77cf;
}
.athl-keyword-debug {
  color: #9a77cf;
}
.athl-string-regexp {
  color: #118dc3;
}
.athl-function-builtin {
  color: #eea825;
}
.athl-function-method-call {
  color: #118dc3;
}
.athl-constant-builtin {
  color: #9a77cf;
}
.athl-cursorline {
  background-color: #fafafa;
}
.athl-punctuation-special {
  color: #6a6a6a;
}
.athl-keyword-modifier {
  color: #9a77cf;
}
.athl-constructor {
  color: #eea825;
}
.athl-cursorlinenr {
  color: #9a77cf; background-color: #fafafa;
}
.athl-keyword-return {
  color: #9a77cf;
}
.athl-variable-member {
  color: #e05661;
}
.athl-label {
  color: #9a77cf;
}
.athl-attribute-builtin {
  color: #118dc3;
}
.athl-punctuation-bracket {
  color: #9a77cf;
}
.athl-keyword-function {
  color: #9a77cf;
}
.athl-keyword-repeat {
  color: #9a77cf;
}
.athl-number {
  color: #ee9025;
}
.athl-type-definition {
  color: #eea825;
}
.athl-keyword-import {
  color: #9a77cf;
}
.athl-punctuation-delimiter {
  color: #6a6a6a;
}
.athl-keyword-directive {
  color: #9a77cf;
}
.athl-keyword-operator {
  color: #9a77cf;
}
.athl-type-builtin {
  color: #eea825;
}
.athl-normal {
  color: #6a6a6a; background-color: #fafafa;
}
.athl-comment-note {
  color: #fafafa; background-color: #56b6c2;
}
.athl-string-special-path {
  color: #118dc3;
}
.athl-function-method {
  color: #118dc3;
}
.athl-keyword-directive-define {
  color: #9a77cf;
}
.athl-function-call {
  color: #118dc3;
}
.athl-variable {
  color: #e05661;
}
.athl-number-float {
  color: #ee9025;
}
.athl-string-special {
  color: #118dc3;
}
.athl-function {
  color: #118dc3;
}
.athl-comment-todo {
  color: #fafafa; background-color: #118dc3;
}
.athl-string-special-url {
  text-decoration: underline; font-style: italic; color: #118dc3;
}
.athl-variable-parameter {
  color: #e05661;
}
.athl-property {
  color: #e05661;
}
.athl-comment {
  color: #9b9fa6;
}
.athl-linenr {
  color: #cccccc; background-color: #fafafa;
}
.athl-keyword-conditional {
  color: #9a77cf;
}
.athl-string {
  color: #1da912;
}
.athl-keyword-conditional-ternary {
  color: #9a77cf;
}
.athl-type {
  color: #eea825;
}
.athl-string-documentation {
  color: #1da912;
}
.athl-comment-error {
  color: #fafafa; background-color: #e05661;
}
.athl-module {
  color: #eea825;
}
.athl-keyword {
  color: #9a77cf;
}
.athl-keyword-exception {
  color: #9a77cf;
}
.athl-string-escape {
  color: #56b6c2;
}
.athl-boolean {
  color: #ee9025;
}
.athl-character-special {
  color: #9a77cf;
}
.athl-variable-parameter-builtin {
  color: #118dc3;
}
.athl-markup-strong {
  color: #eea825; font-weight: bold;
}
.athl-string-special-symbol {
  color: #e05661;
}
.athl-character {
  color: #1da912;
}
.athl-variable-builtin {
  color: #eea825;
}
.athl-function-macro {
  color: #118dc3;
}
