/* papercolor_dark */
pre.autumn-hl { background-color: #1c1c1c; color: #d0d0d0; }
.ahl-info { color: #ff8700; }
.ahl-label { font-style: italic;font-weight: bold; color: #8787af; }
.ahl-markup.ahl-heading.ahl-marker { font-weight: bold; color: #afd700; }
.ahl-keyword.ahl-control.ahl-return { color: #afd700; }
.ahl-markup.ahl-bold { font-weight: bold; color: #d0d0d0; }
.ahl-comment.ahl-line { font-style: italic; color: #808080; }
.ahl-comment.ahl-block.ahl-documentation { font-weight: bold; color: #808080; }
.ahl-namespace { color: #00afaf; }
.ahl-keyword.ahl-control.ahl-conditional { font-weight: bold; color: #af87d7; }
.ahl-markup.ahl-heading { font-weight: bold; color: #ffaf00; }
.ahl-markup.ahl-heading.ahl-1 { font-weight: bold; color: #afd700; }
.ahl-constant.ahl-builtin { color: #d7af5f; }
.ahl-markup.ahl-heading.ahl-6 { font-weight: bold; color: #ffaf00; }
.ahl-type.ahl-parameter { color: #d0d0d0; }
.ahl-attribute { color: #ffaf00; }
.ahl-type { font-weight: bold; color: #afd700; }
.ahl-function.ahl-method { color: #d0d0d0; }
.ahl-diagnostic.ahl-warning { color: #ff5faf;  color: #585858; }
.ahl-constant { color: #ff5faf; }
.ahl-constant.ahl-builtin.ahl-boolean { font-weight: bold; color: #5faf00; }
.ahl-punctuation.ahl-special { font-weight: bold; color: #5faf5f; }
.ahl-comment.ahl-block { font-style: italic; color: #808080; }
.ahl-warning { color: #ff5faf; }
.ahl-string.ahl-regexp { color: #af87d7; }
.ahl-keyword.ahl-storage { color: #afd700; }
.ahl-type.ahl-enum.ahl-variant { color: #d0d0d0; }
.ahl-keyword.ahl-special { color: #5faf5f; }
.ahl-variable { color: #d0d0d0; }
.ahl-constructor { color: #d0d0d0; }
.ahl-type.ahl-builtin { font-weight: bold; color: #afd700; }
.ahl-markup.ahl-heading.ahl-2 { font-weight: bold; color: #ff5faf; }
.ahl-keyword.ahl-storage.ahl-modifier { font-weight: bold; color: #d7875f; }
.ahl-keyword.ahl-storage.ahl-modifier.ahl-ref { font-weight: bold; color: #5fafd7; }
.ahl-diagnostic.ahl-error { color: #5faf5f; }
.ahl-diff.ahl-minus { color: #af005f; background-color: #5f0000; }
.ahl-constant.ahl-character { color: #d7af5f; }
.ahl-markup.ahl-raw { color: #d7af5f; }
.ahl-diff.ahl-delta.ahl-moved { font-style: italic; }
.ahl-tag { color: #5fafd7; }
.ahl-comment { font-style: italic; color: #808080; }
.ahl-markup.ahl-link.ahl-text { color: #afd700; }
.ahl-punctuation { color: #d0d0d0; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-function.ahl-macro { font-weight: bold; color: #d7af5f; }
.ahl-special { color: #3e999f; }
.ahl-diff.ahl-plus { color: #87d700; background-color: #005f00; }
.ahl-operator { font-weight: bold; color: #5fafd7; }
.ahl-keyword.ahl-directive { color: #5fafd7; }
.ahl-diagnostic.ahl-info { color: #ffaf00; }
.ahl-constant.ahl-character.ahl-escape { font-weight: bold; color: #af87d7; }
.ahl-keyword.ahl-control { color: #5faf5f; }
.ahl-markup.ahl-link.ahl-url { text-decoration: underline; color: #00afaf; }
.ahl-variable.ahl-builtin { color: #ff5faf; }
.ahl-punctuation.ahl-delimiter { font-weight: bold; color: #5fafd7; }
.ahl-variable.ahl-parameter { color: #d0d0d0; }
.ahl-string { color: #d7af5f; }
.ahl-diff.ahl-delta { background-color: #005f5f; }
.ahl-function.ahl-special { color: #ffaf00; }
.ahl-keyword.ahl-control.ahl-import { color: #afd700; }
.ahl-keyword { color: #afd700; }
.ahl-markup.ahl-heading.ahl-3 { font-weight: bold; color: #af87d7; }
.ahl-markup.ahl-heading.ahl-5 { font-weight: bold; color: #ffaf00; }
.ahl-keyword.ahl-storage.ahl-type { font-weight: bold; color: #5fafd7; }
.ahl-punctuation.ahl-bracket { color: #d0d0d0; }
.ahl-markup.ahl-heading.ahl-4 { font-weight: bold; color: #ffaf00; }
.ahl-markup.ahl-quote { color: #5fafd7; }
.ahl-function.ahl-builtin { color: #00afaf; }
.ahl-markup.ahl-link.ahl-label { font-weight: bold; color: #5faf00; }
.ahl-markup.ahl-list { color: #5fafd7; }
.ahl-keyword.ahl-operator { font-weight: bold; color: #5fafd7; }
.ahl-diagnostic.ahl-hint { color: #00afaf; }
.ahl-variable.ahl-other.ahl-member { color: #d0d0d0; }
.ahl-keyword.ahl-function { color: #afd700; }
.ahl-type.ahl-enum { color: #d0d0d0; }
.ahl-function { color: #d0d0d0; }
.ahl-constant.ahl-numeric { color: #ff5faf; }
.ahl-keyword.ahl-control.ahl-exception { color: #5faf5f; }
.ahl-keyword.ahl-control.ahl-repeat { font-weight: bold; color: #af87d7; }
.ahl-error { color: #af005f; background-color: #5f0000; }
