/* penumbra */
pre.autumn-hl { background-color: #24272B; color: #9E9E9E; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #A48FE1; }
.ahl-variable.ahl-builtin { color: #DF7F78; }
.ahl-string.ahl-special.ahl-symbol { color: #00B3C2; }
.ahl-diagnostic.ahl-warning { color: #9CA748; }
.ahl-keyword { color: #D080B6; }
.ahl-constant.ahl-character { color: #A48FE1; }
.ahl-type { color: #50B584; }
.ahl-string { color: #9CA748; }
.ahl-comment { color: #636363; }
.ahl-namespace { color: #9E9E9E; }
.ahl-function { color: #61A3E6; }
.ahl-markup.ahl-heading { font-weight: bold; color: #CECECE; }
.ahl-variable { color: #9E9E9E; }
.ahl-diff.ahl-plus { color: #50B584; }
.ahl-diagnostic.ahl-error { color: #DF7F78; }
.ahl-warning { color: #9CA748; }
.ahl-string.ahl-special.ahl-path { color: #00B3C2; }
.ahl-diagnostic.ahl-info { color: #9E9E9E; }
.ahl-type.ahl-enum.ahl-variant { color: #50B584; }
.ahl-info { color: #9E9E9E; }
.ahl-label { color: #61A3E6; }
.ahl-error { color: #DF7F78; }
.ahl-constant.ahl-numeric { color: #00B3C2; }
.ahl-markup.ahl-quote { color: #50B584; }
.ahl-hint { color: #636363; }
.ahl-diff.ahl-delta { color: #00B3C2; }
.ahl-diff.ahl-minus { color: #DF7F78; }
.ahl-punctuation { color: #9E9E9E; }
.ahl-markup.ahl-link.ahl-text { color: #D080B6; }
.ahl-tag { color: #61A3E6; }
.ahl-markup.ahl-list { color: #9E9E9E; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #CE9042; }
.ahl-constant { color: #A48FE1; }
.ahl-operator { color: #D080B6; }
.ahl-diagnostic.ahl-hint { color: #636363; }
