/* poimandres_storm */
pre.autumn-hl { background-color: #252b37; color: #a6accd; }
.ahl-markup.ahl-bold { font-weight: bold; color: #7390AA; }
.ahl-variable.ahl-builtin { font-style: italic; color: #ADD7FF; }
.ahl-keyword.ahl-other { color: #5DE4c7; }
.ahl-diagnostic.ahl-warning { color: #fffac2; }
.ahl-keyword { color: #5DE4c7; }
.ahl-variable.ahl-other { color: #e4f0fb; }
.ahl-type { color: #98a2c4; }
.ahl-string { color: #5DE4c7; }
.ahl-markup.ahl-link.ahl-url {  color: #ADD7FF; }
.ahl-comment { font-style: italic; color: #818cae; }
.ahl-namespace { color: #ADD7FF; }
.ahl-variable.ahl-parameter { color: #e4f0fb; }
.ahl-function { color: #ADD7FF; }
.ahl-markup.ahl-heading { color: #5DE4c7; }
.ahl-variable { color: #e4f0fb; }
.ahl-diff.ahl-plus { color: #5fb3a1; }
.ahl-diagnostic.ahl-error { color: #d0679d; }
.ahl-function.ahl-method { color: #ADD7FF; }
.ahl-warning { color: #fffac2; }
.ahl-markup.ahl-strikethrough { font-style: italic; }
.ahl-type.ahl-builtin { color: #91B4D5; }
.ahl-diagnostic.ahl-info { color: #ADD7FF; }
.ahl-keyword.ahl-operator { color: #91B4D5; }
.ahl-keyword.ahl-directive { color: #a6accd; }
.ahl-info { color: #ADD7FF; }
.ahl-punctuation.ahl-bracket { color: #91B4D5; }
.ahl-label { color: #98a2c4; }
.ahl-constant.ahl-character.ahl-escape { color: #e4f0fb; }
.ahl-error { color: #d0679d; }
.ahl-constant.ahl-numeric { color: #5DE4c7; }
.ahl-special { color: #91B4D5; }
.ahl-constructor { color: #ADD7FF; }
.ahl-hint { color: #5fb3a1; }
.ahl-constant.ahl-builtin { color: #d0679d; }
.ahl-diff.ahl-delta { color: #ADD7FF; }
.ahl-diff.ahl-minus { color: #d0679d; }
.ahl-punctuation { color: #a6accd; }
.ahl-markup.ahl-link.ahl-text {  color: #ADD7FF; }
.ahl-tag { color: #5DE4c7; }
.ahl-keyword.ahl-storage.ahl-type { color: #91B4D5; }
.ahl-markup.ahl-italic { font-style: italic; color: #7390AA; }
.ahl-keyword.ahl-storage.ahl-modifier { color: #5fb3a1; }
.ahl-markup.ahl-raw { color: #ADD7FF; }
.ahl-constant { color: #5DE4c7; }
.ahl-attribute { font-style: italic; color: #91B4D5; }
.ahl-operator { color: #91B4D5; }
.ahl-diagnostic.ahl-hint { color: #5fb3a1; }
