/* rasmus */
pre.autumn-hl { background-color: #1a1a19; color: #d1d1d1; }
.ahl-info { color: #a6cded; }
.ahl-label { color: #ffc591; }
.ahl-markup.ahl-heading.ahl-marker { color: #b6b6b5; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-namespace { font-style: italic; color: #8db4d4; }
.ahl-keyword.ahl-control.ahl-conditional { font-style: italic; color: #8db4d4; }
.ahl-markup.ahl-heading.ahl-1 { font-weight: bold; color: #d1d1d1; }
.ahl-constant.ahl-builtin { color: #d1d1d1; }
.ahl-markup.ahl-heading.ahl-6 { font-weight: bold; color: #767675; }
.ahl-attribute { color: #7bb099; }
.ahl-type { color: #eaeaea; }
.ahl-diagnostic.ahl-warning { color: #ffdeaa; }
.ahl-hint { color: #94c9b2; }
.ahl-string.ahl-special { color: #8db4d4; }
.ahl-constant { color: #d1d1d1; }
.ahl-warning { color: #ffdeaa; }
.ahl-string.ahl-regexp { color: #61957f; }
.ahl-type.ahl-enum.ahl-variant { color: #de9bc8; }
.ahl-variable { color: #d1d1d1; }
.ahl-constructor { color: #ffc591; }
.ahl-type.ahl-builtin { color: #de9bc8; }
.ahl-markup.ahl-heading.ahl-2 { font-weight: bold; color: #b6b6b5; }
.ahl-diagnostic.ahl-error { color: #ffafa5; }
.ahl-diff.ahl-minus { color: #ffafa5; }
.ahl-markup.ahl-raw { color: #ffc591; }
.ahl-tag { color: #ffc591; }
.ahl-comment { font-style: italic; color: #6a6a69; }
.ahl-markup.ahl-link.ahl-text { color: #8db4d4; }
.ahl-punctuation { color: #767675; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-function.ahl-macro { color: #8db4d4; }
.ahl-special { color: #ffc591; }
.ahl-diff.ahl-plus { color: #7aae98; }
.ahl-operator { color: #ffc591; }
.ahl-keyword.ahl-directive { color: #de9bc8; }
.ahl-diagnostic.ahl-info { color: #a6cded; }
.ahl-constant.ahl-character.ahl-escape { color: #de9bc8; }
.ahl-markup.ahl-link.ahl-url {  color: #7bb099; }
.ahl-variable.ahl-builtin { color: #a6cded; }
.ahl-punctuation.ahl-delimiter { color: #767675; }
.ahl-variable.ahl-parameter { color: #eaeaea; }
.ahl-string { color: #7bb099; }
.ahl-diff.ahl-delta { color: #94c9b2; }
.ahl-keyword { color: #8db4d4; }
.ahl-markup.ahl-heading.ahl-3 { font-weight: bold; color: #b6b6b5; }
.ahl-markup.ahl-heading.ahl-5 { font-weight: bold; color: #767675; }
.ahl-markup.ahl-heading.ahl-4 { font-weight: bold; color: #b6b6b5; }
.ahl-function.ahl-builtin { color: #8db4d4; }
.ahl-markup.ahl-list { color: #b6b6b5; }
.ahl-diagnostic.ahl-hint { color: #94c9b2; }
.ahl-variable.ahl-other.ahl-member { color: #d1d1d1; }
.ahl-function { color: #d1d1d1; }
.ahl-constant.ahl-numeric { color: #de9bc8; }
.ahl-error { color: #ffafa5; }
