/* rosepine_dark
 * revision: 72befaffeac38db7bdd49e0549eaa2c4806dd878
 */

pre.athl {
  color: #e0def4;
  background-color: #191724;
}
.attribute {
  color: #c4a7e7;
}
.attribute-builtin {
  color: #c4a7e7;
  font-weight: bold;
}
.boolean {
  color: #ebbcba;
}
.character {
  color: #f6c177;
}
.character-special {
  color: #f6c177;
}
.comment {
  color: #908caa;
  font-style: italic;
}
.comment-documentation {
  color: #908caa;
  font-style: italic;
}
.comment-error {
  color: #eb6f92;
}
.comment-note {
  color: #31748f;
  background-color: #1d2534;
}
.comment-todo {
  color: #ebbcba;
  background-color: #39303b;
}
.comment-warning {
  color: #f6c177;
}
.constant {
  color: #f6c177;
}
.constant-builtin {
  color: #f6c177;
  font-weight: bold;
}
.constant-macro {
  color: #f6c177;
}
.constructor {
  color: #9ccfd8;
}
.diff-delta {
  background-color: #433842;
}
.diff-minus {
  color: #eb6f92;
  background-color: #43293a;
}
.diff-plus {
  color: #9ccfd8;
  background-color: #333c48;
}
.function {
  color: #ebbcba;
}
.function-builtin {
  color: #ebbcba;
  font-weight: bold;
}
.function-call {
  color: #ebbcba;
}
.function-macro {
  color: #ebbcba;
}
.function-method {
  color: #ebbcba;
}
.function-method-call {
  color: #c4a7e7;
}
.highlighted {
  background-color: #26233a;
}
.keyword {
  color: #31748f;
}
.keyword-conditional {
  color: #31748f;
}
.keyword-conditional-ternary {
  color: #31748f;
}
.keyword-coroutine {
  color: #31748f;
}
.keyword-debug {
  color: #ebbcba;
}
.keyword-directive {
  color: #c4a7e7;
}
.keyword-directive-define {
  color: #c4a7e7;
}
.keyword-exception {
  color: #31748f;
}
.keyword-function {
  color: #31748f;
}
.keyword-import {
  color: #31748f;
}
.keyword-modifier {
  color: #31748f;
}
.keyword-operator {
  color: #908caa;
}
.keyword-repeat {
  color: #31748f;
}
.keyword-return {
  color: #31748f;
}
.keyword-type {
  color: #31748f;
}
.label {
  color: #9ccfd8;
}
.markup-heading {
  color: #9ccfd8;
  font-weight: bold;
}
.markup-heading-1 {
  color: #9ccfd8;
  font-weight: bold;
}
.markup-heading-2 {
  color: #9ccfd8;
  font-weight: bold;
}
.markup-heading-3 {
  color: #9ccfd8;
  font-weight: bold;
}
.markup-heading-4 {
  color: #9ccfd8;
  font-weight: bold;
}
.markup-heading-5 {
  color: #9ccfd8;
  font-weight: bold;
}
.markup-heading-6 {
  color: #9ccfd8;
  font-weight: bold;
}
.markup-italic {
  font-style: italic;
}
.markup-link {
  color: #c4a7e7;
  text-decoration: underline;
}
.markup-link-label {
  color: #c4a7e7;
  text-decoration: underline;
}
.markup-link-url {
  color: #c4a7e7;
}
.markup-list {
  color: #31748f;
}
.markup-list-checked {
  color: #9ccfd8;
  background-color: #262936;
}
.markup-list-unchecked {
  color: #e0def4;
}
.markup-math {
  color: #9ccfd8;
}
.markup-quote {
  color: #e0def4;
}
.markup-raw {
  color: #9ccfd8;
}
.markup-raw-block {
  color: #9ccfd8;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #e0def4;
}
.module-builtin {
  color: #e0def4;
  font-weight: bold;
}
.namespace {
  color: #31748f;
}
.normal {
  color: #e0def4;
  background-color: #191724;
}
.number {
  color: #f6c177;
}
.number-float {
  color: #f6c177;
}
.operator {
  color: #908caa;
}
.property {
  color: #9ccfd8;
  font-style: italic;
}
.punctuation-bracket {
  color: #908caa;
}
.punctuation-delimiter {
  color: #908caa;
}
.punctuation-special {
  color: #908caa;
}
.string {
  color: #f6c177;
}
.string-documentation {
  color: #f6c177;
}
.string-escape {
  color: #31748f;
}
.string-regexp {
  color: #c4a7e7;
}
.string-special {
  color: #f6c177;
}
.string-special-path {
  color: #f6c177;
}
.string-special-symbol {
  color: #e0def4;
}
.string-special-url {
  color: #c4a7e7;
}
.tag {
  color: #9ccfd8;
}
.tag-attribute {
  color: #c4a7e7;
}
.tag-builtin {
  color: #9ccfd8;
}
.tag-delimiter {
  color: #908caa;
}
.type {
  color: #9ccfd8;
}
.type-builtin {
  color: #9ccfd8;
  font-weight: bold;
}
.type-definition {
  color: #9ccfd8;
}
.variable {
  color: #e0def4;
  font-style: italic;
}
.variable-builtin {
  color: #eb6f92;
  font-weight: bold;
  font-style: italic;
}
.variable-member {
  color: #9ccfd8;
}
.variable-parameter {
  color: #c4a7e7;
  font-style: italic;
}
.variable-parameter-builtin {
  color: #c4a7e7;
  font-weight: bold;
  font-style: italic;
}
