/* rose_pine */
pre.autumn-hl { background-color: #191724; color: #e0def4; }
.ahl-info { color: #9ccfd8; }
.ahl-label { color: #9ccfd8; }
.ahl-markup.ahl-heading.ahl-marker { color: #6e6a86; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-diff { color: #26233a; }
.ahl-namespace { color: #e0def4; }
.ahl-diagnostic { color: #908caa; }
.ahl-markup.ahl-heading { font-weight: bold; color: #c4a7e7; }
.ahl-markup.ahl-heading.ahl-1 { font-weight: bold; color: #c4a7e7; }
.ahl-constant.ahl-builtin { color: #eb6f92; }
.ahl-markup.ahl-heading.ahl-6 { font-weight: bold; color: #9ccfd8; }
.ahl-attribute { color: #c4a7e7; }
.ahl-type { color: #9ccfd8; }
.ahl-diagnostic.ahl-warning { color: #f6c177; }
.ahl-hint { color: #c4a7e7; }
.ahl-constant { color: #9ccfd8; }
.ahl-constant.ahl-builtin.ahl-boolean { color: #ebbcba; }
.ahl-markup.ahl-link { color: #c4a7e7; }
.ahl-warning { color: #f6c177; }
.ahl-variable { color: #e0def4; }
.ahl-constructor { color: #9ccfd8; }
.ahl-markup.ahl-heading.ahl-2 { font-weight: bold; color: #9ccfd8; }
.ahl-diagnostic.ahl-error { color: #eb6f92; }
.ahl-diff.ahl-minus { color: #eb6f92; }
.ahl-constant.ahl-character { color: #f6c177; }
.ahl-markup.ahl-raw { color: #908caa; }
.ahl-tag { color: #9ccfd8; }
.ahl-comment { font-style: italic; color: #6e6a86; }
.ahl-markup.ahl-link.ahl-text { color: #e0def4; }
.ahl-punctuation { color: #908caa; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-special { color: #ebbcba; }
.ahl-diff.ahl-plus { color: #9ccfd8; }
.ahl-operator { color: #908caa; }
.ahl-diagnostic.ahl-info { color: #9ccfd8; }
.ahl-constant.ahl-character.ahl-escape { color: #31748f; }
.ahl-markup.ahl-link.ahl-url { text-decoration: underline;color: #c4a7e7; color: #c4a7e7; }
.ahl-variable.ahl-builtin { color: #eb6f92; }
.ahl-variable.ahl-parameter { color: #c4a7e7; }
.ahl-string { color: #f6c177; }
.ahl-diff.ahl-delta { color: #524f67; }
.ahl-keyword { color: #31748f; }
.ahl-markup.ahl-heading.ahl-3 { font-weight: bold; color: #ebbcba; }
.ahl-markup.ahl-heading.ahl-5 { font-weight: bold; color: #31748f; }
.ahl-markup.ahl-heading.ahl-4 { font-weight: bold; color: #f6c177; }
.ahl-markup.ahl-quote { color: #908caa; }
.ahl-function.ahl-builtin { color: #eb6f92; }
.ahl-markup.ahl-link.ahl-label { color: #908caa; }
.ahl-markup.ahl-list { color: #6e6a86; }
.ahl-keyword.ahl-operator { color: #908caa; }
.ahl-diagnostic.ahl-hint { color: #c4a7e7; }
.ahl-variable.ahl-other.ahl-member { color: #9ccfd8; }
.ahl-function { color: #ebbcba; }
.ahl-constant.ahl-numeric { color: #f6c177; }
.ahl-debug { color: #ebbcba; }
.ahl-error { color: #eb6f92; }
