/* solarized_summer_light
 * revision: c0dfe1cbfabd93b546baf5f1408f5df7e02e2050
 */

pre.athl {
  color: #657b83;
  background-color: #fdf6e3;
}
.attribute {
  color: #859900;
}
.attribute-builtin {
  color: #6c71c4;
}
.boolean {
  color: #d33682;
}
.character {
  color: #d33682;
}
.character-special {
  color: #d33682;
}
.comment {
  color: #93a1a1;
}
.comment-documentation {
  color: #93a1a1;
}
.comment-error {
  color: #dc322f;
}
.comment-note {
  color: #268bd2;
}
.comment-todo {
  color: #268bd2;
}
.comment-warning {
  color: #b58900;
}
.constant {
  color: #d33682;
}
.constant-builtin {
  color: #d33682;
}
.constant-macro {
  color: #d33682;
}
.constructor {
  color: #dc322f;
}
.cursorline {
  background-color: #eee8d5;
}
.diff-delta {
  color: #b58900;
}
.diff-minus {
  color: #dc322f;
}
.diff-plus {
  color: #859900;
}
.function {
  color: #b58900;
}
.function-builtin {
  color: #b58900;
}
.function-call {
  color: #b58900;
}
.function-macro {
  color: #b58900;
}
.function-method {
  color: #b58900;
}
.function-method-call {
  color: #b58900;
}
.keyword {
  color: #859900;
}
.keyword-conditional {
  color: #859900;
}
.keyword-conditional-ternary {
  color: #859900;
}
.keyword-coroutine {
  color: #859900;
}
.keyword-debug {
  color: #859900;
}
.keyword-directive {
  color: #859900;
}
.keyword-directive-define {
  color: #859900;
}
.keyword-exception {
  color: #859900;
}
.keyword-function {
  color: #859900;
}
.keyword-import {
  color: #cb4b16;
}
.keyword-modifier {
  color: #859900;
}
.keyword-operator {
  color: #859900;
}
.keyword-repeat {
  color: #859900;
}
.keyword-return {
  color: #859900;
}
.keyword-type {
  color: #dc322f;
}
.label {
  color: #859900;
}
.markup-heading {
  color: #dc322f;
  font-weight: bold;
}
.markup-heading-1 {
  color: #dc322f;
  font-weight: bold;
}
.markup-heading-2 {
  color: #d33682;
}
.markup-heading-3 {
  color: #b58900;
}
.markup-heading-4 {
  color: #cb4b16;
}
.markup-heading-5 {
  color: #268bd2;
}
.markup-heading-6 {
  color: #6c71c4;
}
.markup-italic {
  color: #d33682;
  font-style: italic;
}
.markup-link {
  color: #d33682;
  text-decoration: underline;
}
.markup-link-label {
  color: #d33682;
}
.markup-link-url {
  color: #d33682;
  text-decoration: underline;
}
.markup-list {
  color: #cb4b16;
}
.markup-list-checked {
  color: #859900;
}
.markup-list-unchecked {
  color: #93a1a1;
}
.markup-math {
  color: #6c71c4;
}
.markup-quote {
  color: #859900;
}
.markup-raw {
  color: #2aa198;
}
.markup-raw-block {
  color: #657b83;
}
.markup-strikethrough {
  color: #93a1a1;
  text-decoration: line-through;
}
.markup-strong {
  color: #d33682;
  font-weight: bold;
}
.markup-underline {
  color: #d33682;
  text-decoration: underline;
}
.module {
  color: #dc322f;
}
.module-builtin {
  color: #d33682;
}
.normal {
  color: #657b83;
  background-color: #fdf6e3;
}
.number {
  color: #d33682;
}
.number-float {
  color: #d33682;
}
.operator {
  color: #859900;
}
.property {
  color: #268bd2;
}
.punctuation-bracket {
  color: #dc322f;
}
.punctuation-delimiter {
  color: #dc322f;
}
.punctuation-special {
  color: #859900;
}
.string {
  color: #2aa198;
}
.string-documentation {
  color: #859900;
}
.string-escape {
  color: #859900;
}
.string-regexp {
  color: #d33682;
}
.string-special {
  color: #6c71c4;
}
.string-special-path {
  color: #6c71c4;
}
.string-special-symbol {
  color: #268bd2;
}
.string-special-url {
  color: #d33682;
  text-decoration: underline;
}
.tag {
  color: #dc322f;
}
.tag-attribute {
  color: #268bd2;
}
.tag-builtin {
  color: #6c71c4;
}
.tag-delimiter {
  color: #dc322f;
}
.type {
  color: #dc322f;
}
.type-builtin {
  color: #859900;
}
.type-definition {
  color: #dc322f;
}
.variable {
  color: #268bd2;
}
.variable-builtin {
  color: #d33682;
}
.variable-member {
  color: #268bd2;
}
.variable-parameter {
  color: #268bd2;
  font-style: italic;
}
.variable-parameter-builtin {
  color: #6c71c4;
}
