/* Solarized Light - Zed Industries */
pre.athl {
  background-color: #fdf6e3ff; color: #002a35ff;
}
.athl-attribute {
  color: #288bd1ff;
}
.athl-boolean {
  color: #849903ff;
}
.athl-comment {
  color: #30525bff;
}
.athl-comment-doc {
  color: #30525bff;
}
.athl-constant {
  color: #849903ff;
}
.athl-constructor {
  color: #288bd1ff;
}
.athl-embedded {
  color: #002a35ff;
}
.athl-emphasis {
  color: #288bd1ff;
}
.athl-emphasis-strong {
  color: #288bd1ff;
  font-weight: 700;
}
.athl-enum {
  color: #cb4b16ff;
}
.athl-function {
  color: #b58903ff;
}
.athl-hint {
  color: #5789a3ff;
  font-weight: 700;
}
.athl-keyword {
  color: #288bd1ff;
}
.athl-label {
  color: #288bd1ff;
}
.athl-link_text {
  color: #cb4b16ff;
  font-style: italic;
}
.athl-link_uri {
  color: #849903ff;
}
.athl-number {
  color: #849903ff;
}
.athl-operator {
  color: #cb4b16ff;
}
.athl-predictive {
  color: #679aafff;
  font-style: italic;
}
.athl-preproc {
  color: #002a35ff;
}
.athl-primary {
  color: #002a35ff;
}
.athl-property {
  color: #288bd1ff;
}
.athl-punctuation {
  color: #04333eff;
}
.athl-punctuation-bracket {
  color: #04333eff;
}
.athl-punctuation-delimiter {
  color: #04333eff;
}
.athl-punctuation-list_marker {
  color: #04333eff;
}
.athl-punctuation-special {
  color: #04333eff;
}
.athl-string {
  color: #cb4b16ff;
}
.athl-string-escape {
  color: #30525bff;
}
.athl-string-regex {
  color: #cb4b16ff;
}
.athl-string-special {
  color: #cb4b16ff;
}
.athl-string-special-symbol {
  color: #cb4b16ff;
}
.athl-tag {
  color: #288bd1ff;
}
.athl-text-literal {
  color: #cb4b16ff;
}
.athl-title {
  color: #002a35ff;
  font-weight: 700;
}
.athl-type {
  color: #2ba198ff;
}
.athl-variable {
  color: #002a35ff;
}
.athl-variant {
  color: #288bd1ff;
}
