/* sonokai */
pre.autumn-hl { background-color: #2c2e34; color: #e2e2e3; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-function.ahl-macro { color: #9ed072; }
.ahl-variable.ahl-builtin { color: #b39df3; }
.ahl-variable.ahl-other.ahl-member { color: #f39660; }
.ahl-diagnostic.ahl-warning { color: #e7c664; }
.ahl-keyword { color: #fc5d7c; }
.ahl-module { color: #76cce0; }
.ahl-type { color: #76cce0; }
.ahl-string { color: #e7c664; }
.ahl-markup.ahl-link.ahl-url {  color: #76cce0; }
.ahl-comment { color: #7f8490; }
.ahl-namespace { color: #76cce0; }
.ahl-variable.ahl-parameter { color: #e2e2e3; }
.ahl-function { color: #9ed072; }
.ahl-markup.ahl-heading.ahl-2 { font-weight: bold; color: #f39660; }
.ahl-variable { color: #e2e2e3; }
.ahl-markup.ahl-heading.ahl-6 { font-weight: bold; color: #e2e2e3; }
.ahl-diff.ahl-plus { color: #9ed072; }
.ahl-diagnostic.ahl-error { color: #fc5d7c; }
.ahl-warning { font-weight: bold; color: #e7c664; background-color: #363944; }
.ahl-diagnostic.ahl-info { color: #9ed072; }
.ahl-info { color: #9ed072; background-color: #363944; }
.ahl-markup.ahl-heading.ahl-5 { font-weight: bold; color: #76cce0; }
.ahl-label { color: #fc5d7c; }
.ahl-constant.ahl-character.ahl-escape { color: #f39660; }
.ahl-error { font-weight: bold; color: #fc5d7c; background-color: #363944; }
.ahl-constant.ahl-numeric { color: #b39df3; }
.ahl-special { color: #f39660; }
.ahl-constructor { color: #76cce0; }
.ahl-markup.ahl-quote { color: #7f8490; }
.ahl-punctuation.ahl-special { color: #e7c664; }
.ahl-hint { font-weight: bold; color: #76cce0; background-color: #363944; }
.ahl-function.ahl-builtin { color: #9ed072; }
.ahl-diff.ahl-delta { color: #76cce0; }
.ahl-diff.ahl-minus { color: #fc5d7c; }
.ahl-punctuation { color: #7f8490; }
.ahl-markup.ahl-heading.ahl-marker { color: #7f8490; }
.ahl-markup.ahl-link.ahl-text { color: #b39df3; }
.ahl-tag { color: #e7c664; }
.ahl-markup.ahl-heading.ahl-4 { font-weight: bold; color: #9ed072; }
.ahl-markup.ahl-list { color: #fc5d7c; }
.ahl-markup.ahl-heading.ahl-1 { font-weight: bold; color: #fc5d7c; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-markup.ahl-raw { color: #9ed072; }
.ahl-constant { color: #e2e2e3; }
.ahl-attribute { color: #b39df3; }
.ahl-markup.ahl-heading.ahl-3 { font-weight: bold; color: #e7c664; }
.ahl-operator { color: #fc5d7c; }
.ahl-diagnostic.ahl-hint { color: #76cce0; }
