/* starlight */
pre.autumn-hl { background-color: #242424; color: #E6E6E6; }
.ahl-info { color: #5DC5F8; }
.ahl-markup.ahl-strikethrough { color: #FF4D51; }
.ahl-label { color: #5DC5F8; }
.ahl-markup.ahl-heading.ahl-marker { font-weight: bold; color: #5DC5F8; }
.ahl-markup.ahl-bold { font-weight: bold; color: #FEABF2; }
.ahl-namespace { color: #ffffff; }
.ahl-markup.ahl-heading { font-weight: bold; color: #ffffff; }
.ahl-type.ahl-parameter { color: #FEABF2; }
.ahl-attribute { color: #FEABF2; }
.ahl-type { color: #24DFC4; }
.ahl-diagnostic.ahl-warning { color: #E9E836; }
.ahl-hint { color: #5DC5F8; }
.ahl-string.ahl-special { color: #24DFC4; }
.ahl-constant { color: #24DFC4; }
.ahl-punctuation.ahl-special { color: #24DFC4; }
.ahl-markup.ahl-link { color: #24DFC4; }
.ahl-warning { color: #E9E836; }
.ahl-module { color: #ffffff; }
.ahl-string.ahl-regexp { color: #24DFC4; }
.ahl-variable { color: #ffffff; }
.ahl-constructor { color: #35D450; }
.ahl-diagnostic.ahl-error { color: #FF4D51; }
.ahl-diff.ahl-minus { color: #FF4D51; }
.ahl-markup.ahl-raw { color: #35D450; }
.ahl-tag { color: #5DC5F8; }
.ahl-comment { color: #929292; }
.ahl-markup.ahl-link.ahl-text { color: #E9E836; }
.ahl-punctuation { color: #C9C9C9; }
.ahl-markup.ahl-italic { font-style: italic; color: #FEABF2; }
.ahl-special { color: #5DC5F8; }
.ahl-diff.ahl-plus { color: #35D450; }
.ahl-operator { color: #5DC5F8; }
.ahl-diagnostic.ahl-info { color: #5DC5F8; }
.ahl-variable.ahl-builtin { color: #5DC5F8; }
.ahl-variable.ahl-parameter { color: #FEABF2; }
.ahl-string { color: #E9E836; }
.ahl-diff.ahl-delta { color: #5DC5F8; }
.ahl-keyword { color: #5DC5F8; }
.ahl-markup.ahl-quote { color: #FEABF2; }
.ahl-markup.ahl-list { color: #5DC5F8; }
.ahl-diagnostic.ahl-hint { color: #5DC5F8; }
.ahl-variable.ahl-other.ahl-member { color: #FEABF2; }
.ahl-function { color: #35D450; }
.ahl-error { color: #FF4D51; }
