/* tokyonight_day
 * revision: 057ef5d260c1931f1dffd0f052c685dcd14100a3
 */

pre.athl {
  color: #3760bf;
  background-color: #e1e2e7;
}
.attribute {
  color: #007197;
}
.attribute-builtin {
  color: #188092;
}
.boolean {
  color: #b15c00;
}
.character {
  color: #587539;
}
.character-special {
  color: #188092;
}
.comment {
  color: #848cb5;
  font-style: italic;
}
.comment-documentation {
  color: #848cb5;
  font-style: italic;
}
.comment-error {
  color: #c64343;
}
.comment-note {
  color: #118c74;
}
.comment-todo {
  color: #2e7de9;
}
.comment-warning {
  color: #8c6c3e;
}
.constant {
  color: #b15c00;
}
.constant-builtin {
  color: #188092;
}
.constant-macro {
  color: #007197;
}
.constructor {
  color: #9854f1;
}
.diff-delta {
  background-color: #d5d9e4;
}
.diff-minus {
  background-color: #ddcace;
}
.diff-plus {
  background-color: #c8d6dc;
}
.function {
  color: #2e7de9;
}
.function-builtin {
  color: #188092;
}
.function-call {
  color: #2e7de9;
}
.function-macro {
  color: #007197;
}
.function-method {
  color: #2e7de9;
}
.function-method-call {
  color: #2e7de9;
}
.highlighted {
  background-color: #c4c8da;
}
.keyword {
  color: #7847bd;
  font-style: italic;
}
.keyword-conditional {
  color: #9854f1;
}
.keyword-conditional-ternary {
  color: #9854f1;
}
.keyword-coroutine {
  color: #7847bd;
  font-style: italic;
}
.keyword-debug {
  color: #b15c00;
}
.keyword-directive {
  color: #007197;
}
.keyword-directive-define {
  color: #007197;
}
.keyword-exception {
  color: #9854f1;
}
.keyword-function {
  color: #9854f1;
}
.keyword-import {
  color: #007197;
}
.keyword-modifier {
  color: #7847bd;
  font-style: italic;
}
.keyword-operator {
  color: #006a83;
}
.keyword-repeat {
  color: #9854f1;
}
.keyword-return {
  color: #7847bd;
  font-style: italic;
}
.keyword-type {
  color: #188092;
}
.label {
  color: #2e7de9;
}
.markup-heading {
  color: #2e7de9;
  font-weight: bold;
}
.markup-heading-1 {
  color: #2e7de9;
  font-weight: bold;
}
.markup-heading-2 {
  color: #2e7de9;
  font-weight: bold;
}
.markup-heading-3 {
  color: #2e7de9;
  font-weight: bold;
}
.markup-heading-4 {
  color: #2e7de9;
  font-weight: bold;
}
.markup-heading-5 {
  color: #2e7de9;
  font-weight: bold;
}
.markup-heading-6 {
  color: #2e7de9;
  font-weight: bold;
}
.markup-italic {
  font-style: italic;
}
.markup-link {
  color: #118c74;
}
.markup-link-label {
  color: #188092;
}
.markup-link-url {
  text-decoration: underline;
}
.markup-list {
  color: #006a83;
}
.markup-list-checked {
  color: #387068;
}
.markup-list-unchecked {
  color: #2e7de9;
}
.markup-math {
  color: #188092;
}
.markup-raw {
  color: #587539;
}
.markup-raw-block {
  color: #587539;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #2e7de9;
}
.module-builtin {
  color: #f52a65;
}
.normal {
  color: #3760bf;
  background-color: #e1e2e7;
}
.number {
  color: #b15c00;
}
.number-float {
  color: #b15c00;
}
.operator {
  color: #006a83;
}
.property {
  color: #387068;
}
.punctuation-bracket {
  color: #6172b0;
}
.punctuation-delimiter {
  color: #006a83;
}
.punctuation-special {
  color: #006a83;
}
.string {
  color: #587539;
}
.string-documentation {
  color: #8c6c3e;
}
.string-escape {
  color: #9854f1;
}
.string-regexp {
  color: #2e5857;
}
.string-special {
  color: #188092;
}
.string-special-path {
  color: #188092;
}
.string-special-symbol {
  color: #188092;
}
.string-special-url {
  text-decoration: underline;
}
.tag {
  color: #9854f1;
}
.tag-attribute {
  color: #387068;
}
.tag-builtin {
  color: #188092;
}
.tag-delimiter {
  color: #188092;
}
.type {
  color: #188092;
}
.type-builtin {
  color: #4094a3;
}
.type-definition {
  color: #188092;
}
.variable {
  color: #3760bf;
}
.variable-builtin {
  color: #f52a65;
}
.variable-member {
  color: #387068;
}
.variable-parameter {
  color: #8c6c3e;
}
.variable-parameter-builtin {
  color: #7b6a58;
}
