/* tokyonight_storm
 * revision: 057ef5d260c1931f1dffd0f052c685dcd14100a3
 */

pre.athl {
  color: #c0caf5;
  background-color: #24283b;
}
.attribute {
  color: #7dcfff;
}
.attribute-builtin {
  color: #2ac3de;
}
.boolean {
  color: #ff9e64;
}
.character {
  color: #9ece6a;
}
.character-special {
  color: #2ac3de;
}
.comment {
  color: #565f89;
  font-style: italic;
}
.comment-documentation {
  color: #565f89;
  font-style: italic;
}
.comment-error {
  color: #db4b4b;
}
.comment-hint {
  color: #1abc9c;
}
.comment-note {
  color: #1abc9c;
}
.comment-todo {
  color: #7aa2f7;
}
.comment-warning {
  color: #e0af68;
}
.constant {
  color: #ff9e64;
}
.constant-builtin {
  color: #2ac3de;
}
.constant-java {
  color: #ff9e64;
}
.constant-macro {
  color: #7dcfff;
}
.constructor {
  color: #bb9af7;
}
.constructor-lua {
  color: #bb9af7;
}
.constructor-python {
  color: #bb9af7;
}
.diff-delta {
  background-color: #272d43;
}
.diff-minus {
  background-color: #3f2d3d;
}
.diff-plus {
  background-color: #283b4d;
}
.function {
  color: #7aa2f7;
}
.function-builtin {
  color: #2ac3de;
}
.function-builtin-bash {
  color: #2ac3de;
}
.function-call {
  color: #7aa2f7;
}
.function-macro {
  color: #7dcfff;
}
.function-method {
  color: #7aa2f7;
}
.function-method-call {
  color: #7aa2f7;
}
.function-method-call-php {
  color: #7aa2f7;
}
.function-method-php {
  color: #7aa2f7;
}
.highlighted {
  background-color: #292e42;
}
.keyword {
  color: #9d7cd8;
  font-style: italic;
}
.keyword-conditional {
  color: #bb9af7;
}
.keyword-conditional-ternary {
  color: #bb9af7;
}
.keyword-coroutine {
  color: #9d7cd8;
  font-style: italic;
}
.keyword-debug {
  color: #ff9e64;
}
.keyword-directive {
  color: #7dcfff;
}
.keyword-directive-css {
  color: #7dcfff;
}
.keyword-directive-define {
  color: #7dcfff;
}
.keyword-exception {
  color: #bb9af7;
}
.keyword-export {
  color: #9d7cd8;
  font-style: italic;
}
.keyword-function {
  color: #bb9af7;
}
.keyword-import {
  color: #7dcfff;
}
.keyword-import-c {
  color: #7dcfff;
}
.keyword-import-cpp {
  color: #7dcfff;
}
.keyword-modifier {
  color: #9d7cd8;
  font-style: italic;
}
.keyword-operator {
  color: #89ddff;
}
.keyword-repeat {
  color: #bb9af7;
}
.keyword-return {
  color: #9d7cd8;
  font-style: italic;
}
.keyword-type {
  color: #9d7cd8;
  font-style: italic;
}
.label {
  color: #7aa2f7;
}
.label-yaml {
  color: #7aa2f7;
}
.markup-environment {
  color: #7dcfff;
}
.markup-environment-name {
  color: #2ac3de;
}
.markup-heading {
  color: #7aa2f7;
  font-weight: bold;
}
.markup-heading-1 {
  color: #7aa2f7;
  font-weight: bold;
}
.markup-heading-2 {
  color: #7aa2f7;
  font-weight: bold;
}
.markup-heading-3 {
  color: #7aa2f7;
  font-weight: bold;
}
.markup-heading-4 {
  color: #7aa2f7;
  font-weight: bold;
}
.markup-heading-5 {
  color: #7aa2f7;
  font-weight: bold;
}
.markup-heading-6 {
  color: #7aa2f7;
  font-weight: bold;
}
.markup-italic {
  font-style: italic;
}
.markup-link {
  color: #1abc9c;
}
.markup-link-label {
  color: #2ac3de;
}
.markup-link-label-html {
  color: #2ac3de;
}
.markup-link-url {
  text-decoration: underline;
}
.markup-list {
  color: #89ddff;
}
.markup-list-checked {
  color: #73daca;
}
.markup-list-unchecked {
  color: #7aa2f7;
}
.markup-math {
  color: #2ac3de;
}
.markup-raw {
  color: #9ece6a;
}
.markup-raw-block {
  color: #9ece6a;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #7aa2f7;
}
.module-builtin {
  color: #f7768e;
}
.normal {
  color: #c0caf5;
  background-color: #24283b;
}
.number {
  color: #ff9e64;
}
.number-css {
  color: #ff9e64;
}
.number-float {
  color: #ff9e64;
}
.operator {
  color: #89ddff;
}
.property {
  color: #73daca;
}
.property-class-css {
  color: #73daca;
}
.property-css {
  color: #73daca;
}
.property-id-css {
  color: #73daca;
}
.property-json {
  color: #73daca;
}
.property-scss {
  color: #73daca;
}
.property-toml {
  color: #73daca;
}
.property-yaml {
  color: #73daca;
}
.punctuation-bracket {
  color: #a9b1d6;
}
.punctuation-delimiter {
  color: #89ddff;
}
.punctuation-delimiter-regex {
  color: #89ddff;
}
.punctuation-special {
  color: #89ddff;
}
.string {
  color: #9ece6a;
}
.string-documentation {
  color: #e0af68;
}
.string-escape {
  color: #bb9af7;
}
.string-plain-css {
  color: #9ece6a;
}
.string-regexp {
  color: #b4f9f8;
}
.string-special {
  color: #2ac3de;
}
.string-special-path {
  color: #2ac3de;
}
.string-special-symbol {
  color: #2ac3de;
}
.string-special-symbol-ruby {
  color: #2ac3de;
}
.string-special-url {
  text-decoration: underline;
}
.string-special-url-html {
  text-decoration: underline;
}
.tag {
  color: #bb9af7;
}
.tag-attribute {
  color: #73daca;
}
.tag-builtin {
  color: #2ac3de;
}
.tag-delimiter {
  color: #2ac3de;
}
.type {
  color: #2ac3de;
}
.type-builtin {
  color: #29a4bd;
}
.type-css {
  color: #2ac3de;
}
.type-definition {
  color: #2ac3de;
}
.type-tag-css {
  color: #2ac3de;
}
.variable {
  color: #c0caf5;
}
.variable-builtin {
  color: #f7768e;
}
.variable-member {
  color: #73daca;
}
.variable-parameter {
  color: #e0af68;
}
.variable-parameter-bash {
  color: #e0af68;
}
.variable-parameter-builtin {
  color: #dab484;
}
