/* tokyonight */
pre.athl {
  color: #c8d3f5; background-color: #222436;
}
.athl-operator {
  color: #89ddff;
}
.athl-attribute {
  color: #86e1fc;
}
.athl-constant-macro {
  color: #86e1fc;
}
.athl-constant {
  color: #ff966c;
}
.athl-keyword-coroutine {
  font-style: italic; color: #fca7ea;
}
.athl-comment-documentation {
  font-style: italic; color: #636da6;
}
.athl-comment-warning {
  color: #ffc777;
}
.athl-markup-italic {
  font-style: italic;
}
.athl-module-builtin {
  color: #ff757f;
}
.athl-keyword-type {
  font-style: italic; color: #fca7ea;
}
.athl-keyword-debug {
  color: #ff966c;
}
.athl-string-regexp {
  color: #b4f9f8;
}
.athl-function-builtin {
  color: #65bcff;
}
.athl-function-method-call {
  color: #82aaff;
}
.athl-constant-builtin {
  color: #65bcff;
}
.athl-cursorline {
  background-color: #2f334d;
}
.athl-punctuation-special {
  color: #89ddff;
}
.athl-keyword-modifier {
  font-style: italic; color: #fca7ea;
}
.athl-constructor {
  color: #c099ff;
}
.athl-cursorlinenr {
  color: #ff966c; font-weight: bold;
}
.athl-keyword-return {
  font-style: italic; color: #fca7ea;
}
.athl-variable-member {
  color: #4fd6be;
}
.athl-label {
  color: #82aaff;
}
.athl-attribute-builtin {
  color: #65bcff;
}
.athl-punctuation-bracket {
  color: #828bb8;
}
.athl-keyword-function {
  color: #c099ff;
}
.athl-keyword-repeat {
  color: #c099ff;
}
.athl-number {
  color: #ff966c;
}
.athl-type-definition {
  color: #65bcff;
}
.athl-keyword-import {
  color: #86e1fc;
}
.athl-punctuation-delimiter {
  color: #89ddff;
}
.athl-keyword-directive {
  color: #86e1fc;
}
.athl-keyword-operator {
  color: #89ddff;
}
.athl-type-builtin {
  color: #589ed7;
}
.athl-normal {
  color: #c8d3f5; background-color: #222436;
}
.athl-comment-note {
  color: #4fd6be;
}
.athl-string-special-path {
  color: #65bcff;
}
.athl-function-method {
  color: #82aaff;
}
.athl-keyword-directive-define {
  color: #86e1fc;
}
.athl-function-call {
  color: #82aaff;
}
.athl-variable {
  color: #c8d3f5;
}
.athl-number-float {
  color: #ff966c;
}
.athl-string-special {
  color: #65bcff;
}
.athl-function {
  color: #82aaff;
}
.athl-comment-todo {
  color: #82aaff;
}
.athl-string-special-url {
  text-decoration: underline;
}
.athl-variable-parameter {
  color: #ffc777;
}
.athl-property {
  color: #4fd6be;
}
.athl-comment {
  font-style: italic; color: #636da6;
}
.athl-linenr {
  color: #3b4261;
}
.athl-keyword-conditional {
  color: #c099ff;
}
.athl-string {
  color: #c3e88d;
}
.athl-keyword-conditional-ternary {
  color: #c099ff;
}
.athl-type {
  color: #65bcff;
}
.athl-string-documentation {
  color: #ffc777;
}
.athl-comment-error {
  color: #c53b53;
}
.athl-module {
  color: #86e1fc;
}
.athl-keyword {
  font-style: italic; color: #fca7ea;
}
.athl-keyword-exception {
  color: #c099ff;
}
.athl-string-escape {
  color: #c099ff;
}
.athl-boolean {
  color: #ff966c;
}
.athl-character-special {
  color: #65bcff;
}
.athl-variable-parameter-builtin {
  color: #f4c990;
}
.athl-markup-strong {
  font-weight: bold;
}
.athl-string-special-symbol {
  color: #65bcff;
}
.athl-character {
  color: #c3e88d;
}
.athl-variable-builtin {
  color: #ff757f;
}
.athl-function-macro {
  color: #86e1fc;
}
