/* tokyonight_moon */
pre.autumn-hl { background-color: #222436; color: #c8d3f5; }
.ahl-info { color: #0db9d7; }
.ahl-label { color: #82aaff; }
.ahl-keyword.ahl-control.ahl-return { font-style: italic; color: #fca7ea; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-comment.ahl-block.ahl-documentation { color: #ffc777; }
.ahl-namespace { color: #86e1fc; }
.ahl-markup.ahl-heading.ahl-completion { color: #c8d3f5; background-color: #1e2030; }
.ahl-markup.ahl-raw.ahl-inline { color: #82aaff; background-color: #444a73; }
.ahl-markup.ahl-heading { font-weight: bold; color: #82aaff; }
.ahl-constant.ahl-builtin { color: #65bcff; }
.ahl-attribute { color: #86e1fc; }
.ahl-markup.ahl-normal.ahl-hover { color: #828bb8; }
.ahl-type { color: #65bcff; }
.ahl-diagnostic.ahl-warning { color: #ffc777; }
.ahl-hint { color: #4fd6be; }
.ahl-string.ahl-special { color: #65bcff; }
.ahl-constant { color: #ff966c; }
.ahl-markup.ahl-link { text-decoration: underline; color: #82aaff; }
.ahl-warning { color: #ffc777; }
.ahl-string.ahl-regexp { color: #b4f9f8; }
.ahl-type.ahl-enum.ahl-variant { color: #ff966c; }
.ahl-variable { color: #c8d3f5; }
.ahl-constructor { color: #65bcff; }
.ahl-type.ahl-builtin { color: #65bcff; }
.ahl-diagnostic.ahl-error { color: #c53b53; }
.ahl-diff.ahl-minus { color: #e26a75; }
.ahl-constant.ahl-character { color: #c3e88d; }
.ahl-markup.ahl-raw { color: #4fd6be; }
.ahl-diff.ahl-delta.ahl-moved { color: #82aaff; }
.ahl-tag { color: #c099ff; }
.ahl-comment { font-style: italic; color: #636da6; }
.ahl-markup.ahl-link.ahl-text { color: #4fd6be; }
.ahl-punctuation { color: #89ddff; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-function.ahl-macro { color: #86e1fc; }
.ahl-special { color: #65bcff; }
.ahl-diff.ahl-plus { color: #b8db87; }
.ahl-operator { color: #89ddff; }
.ahl-keyword.ahl-directive { color: #86e1fc; }
.ahl-diagnostic.ahl-info { color: #0db9d7; }
.ahl-constant.ahl-character.ahl-escape { color: #c099ff; }
.ahl-keyword.ahl-control { color: #c099ff; }
.ahl-markup.ahl-link.ahl-url { text-decoration: underline; }
.ahl-variable.ahl-builtin { color: #ff757f; }
.ahl-variable.ahl-parameter { font-style: italic; color: #ffc777; }
.ahl-string { color: #c3e88d; }
.ahl-diff.ahl-delta { color: #7ca1f2; }
.ahl-function.ahl-special { color: #86e1fc; }
.ahl-keyword.ahl-control.ahl-import { color: #86e1fc; }
.ahl-keyword { font-style: italic; color: #fca7ea; }
.ahl-markup.ahl-normal.ahl-completion { color: #636da6; }
.ahl-function.ahl-builtin { color: #65bcff; }
.ahl-markup.ahl-link.ahl-label { color: #4fd6be; }
.ahl-markup.ahl-list { font-weight: bold; color: #ff966c; }
.ahl-keyword.ahl-operator { color: #c099ff; }
.ahl-markup.ahl-heading.ahl-hover { background-color: #363c58; }
.ahl-diagnostic.ahl-hint { color: #4fd6be; }
.ahl-variable.ahl-other.ahl-member { color: #4fd6be; }
.ahl-keyword.ahl-function { color: #c099ff; }
.ahl-function { font-style: italic; color: #82aaff; }
.ahl-error { color: #c53b53; }
