/* xcode_light_hc
 * revision: c57b4df378952382eb0c8aa93614d1d70f35798a
 */

pre.athl {
  color: #000000;
  background-color: #ffffff;
}
.attribute {
  color: #78492a;
}
.attribute-builtin {
  color: #174145;
}
.boolean {
  color: #9c2191;
  font-weight: bold;
}
.character {
  color: #272ad8;
}
.character-special {
  color: #174145;
}
.comment {
  color: #8a99a6;
}
.comment-documentation {
  color: #8a99a6;
}
.comment-error {
  color: #590008;
}
.comment-hint {
  color: #8a99a6;
}
.comment-note {
  color: #007373;
}
.comment-todo {
  color: #5c6873;
  font-weight: bold;
}
.comment-warning {
  color: #6b5300;
}
.constant {
  color: #703daa;
}
.constant-builtin {
  color: #174145;
}
.constant-java {
  color: #703daa;
}
.constant-macro {
  color: #703daa;
}
.constructor {
  color: #174145;
}
.constructor-lua {
  color: #174145;
}
.constructor-python {
  color: #174145;
}
.diff-delta {
  color: #007373;
}
.diff-minus {
  color: #590008;
}
.diff-plus {
  color: #005523;
}
.function {
  color: #703daa;
}
.function-builtin {
  color: #174145;
}
.function-builtin-bash {
  color: #174145;
}
.function-call {
  color: #703daa;
}
.function-macro {
  color: #703daa;
}
.function-method {
  color: #703daa;
}
.function-method-call {
  color: #703daa;
}
.function-method-call-php {
  color: #703daa;
}
.function-method-php {
  color: #703daa;
}
.highlighted {
  background-color: #ecf5ff;
}
.keyword {
  color: #9c2191;
  font-weight: bold;
}
.keyword-conditional {
  color: #9c2191;
  font-weight: bold;
}
.keyword-conditional-ternary {
  color: #9c2191;
  font-weight: bold;
}
.keyword-coroutine {
  color: #9c2191;
  font-weight: bold;
}
.keyword-debug {
  color: #9c2191;
  font-weight: bold;
}
.keyword-directive {
  color: #9c2191;
  font-weight: bold;
}
.keyword-directive-css {
  color: #9c2191;
  font-weight: bold;
}
.keyword-directive-define {
  color: #9c2191;
  font-weight: bold;
}
.keyword-exception {
  color: #9c2191;
  font-weight: bold;
}
.keyword-export {
  color: #9c2191;
  font-weight: bold;
}
.keyword-function {
  color: #9c2191;
  font-weight: bold;
}
.keyword-import {
  color: #9c2191;
  font-weight: bold;
}
.keyword-import-c {
  color: #9c2191;
  font-weight: bold;
}
.keyword-import-cpp {
  color: #9c2191;
  font-weight: bold;
}
.keyword-modifier {
  color: #9c2191;
  font-weight: bold;
}
.keyword-operator {
  color: #9c2191;
  font-weight: bold;
}
.keyword-repeat {
  color: #9c2191;
  font-weight: bold;
}
.keyword-return {
  color: #9c2191;
  font-weight: bold;
}
.keyword-type {
  color: #9c2191;
  font-weight: bold;
}
.label {
  color: #9c2191;
  font-weight: bold;
}
.label-yaml {
  color: #9c2191;
  font-weight: bold;
}
.markup {
  color: #174145;
}
.markup-environment {
  color: #174145;
}
.markup-environment-name {
  color: #174145;
}
.markup-heading {
  color: #000000;
  font-weight: bold;
}
.markup-heading-1 {
  color: #000000;
  font-weight: bold;
}
.markup-heading-2 {
  color: #000000;
  font-weight: bold;
}
.markup-heading-3 {
  color: #000000;
  font-weight: bold;
}
.markup-heading-4 {
  color: #000000;
  font-weight: bold;
}
.markup-heading-5 {
  color: #000000;
  font-weight: bold;
}
.markup-heading-6 {
  color: #000000;
  font-weight: bold;
}
.markup-italic {
  font-style: italic;
}
.markup-link {
  color: #0058a1;
  text-decoration: underline;
}
.markup-link-label {
  color: #0058a1;
  text-decoration: underline;
}
.markup-link-label-html {
  color: #0058a1;
  text-decoration: underline;
}
.markup-link-url {
  color: #0058a1;
  text-decoration: underline;
}
.markup-list {
  color: #174145;
}
.markup-list-checked {
  color: #174145;
}
.markup-list-unchecked {
  color: #174145;
}
.markup-math {
  color: #174145;
}
.markup-quote {
  color: #174145;
}
.markup-raw {
  color: #174145;
}
.markup-raw-block {
  color: #174145;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #9c2191;
  font-weight: bold;
}
.module-builtin {
  color: #174145;
}
.normal {
  color: #000000;
  background-color: #ffffff;
}
.number {
  color: #272ad8;
}
.number-css {
  color: #272ad8;
}
.number-float {
  color: #272ad8;
}
.operator {
  color: #5c6873;
}
.property {
  color: #355d61;
}
.property-class-css {
  color: #355d61;
}
.property-css {
  color: #355d61;
}
.property-id-css {
  color: #355d61;
}
.property-json {
  color: #355d61;
}
.property-scss {
  color: #355d61;
}
.property-toml {
  color: #355d61;
}
.property-yaml {
  color: #355d61;
}
.punctuation-bracket {
  color: #5c6873;
}
.punctuation-delimiter {
  color: #5c6873;
}
.punctuation-delimiter-regex {
  color: #5c6873;
}
.punctuation-special {
  color: #174145;
}
.string {
  color: #ad1805;
}
.string-documentation {
  color: #ad1805;
}
.string-escape {
  color: #174145;
}
.string-plain-css {
  color: #ad1805;
}
.string-regexp {
  color: #174145;
}
.string-special {
  color: #174145;
}
.string-special-path {
  color: #174145;
}
.string-special-symbol {
  color: #174145;
}
.string-special-symbol-ruby {
  color: #174145;
}
.string-special-url {
  color: #0058a1;
  text-decoration: underline;
}
.string-special-url-html {
  color: #0058a1;
  text-decoration: underline;
}
.tag {
  color: #174145;
}
.tag-attribute {
  color: #174145;
}
.tag-builtin {
  color: #174145;
}
.tag-delimiter {
  color: #174145;
}
.type {
  color: #441ea1;
}
.type-builtin {
  color: #174145;
}
.type-css {
  color: #441ea1;
}
.type-definition {
  color: #441ea1;
}
.type-tag-css {
  color: #441ea1;
}
.variable {
  color: #14161b;
}
.variable-builtin {
  color: #174145;
}
.variable-member {
  color: #14161b;
}
.variable-parameter {
  color: #14161b;
}
.variable-parameter-bash {
  color: #14161b;
}
.variable-parameter-builtin {
  color: #174145;
}
