/* xcode_dark
 * revision: c57b4df378952382eb0c8aa93614d1d70f35798a
 */

pre.athl {
  color: #e0e2ea;
  background-color: #14161b;
}
.attribute {
  color: #e0e2ea;
}
.attribute-builtin {
  color: #8cf8f7;
}
.boolean {
  color: #e0e2ea;
  font-weight: bold;
}
.character-special {
  color: #8cf8f7;
}
.comment {
  color: #9b9ea4;
}
.comment-documentation {
  color: #9b9ea4;
}
.comment-error {
  color: #ffc0b9;
}
.comment-note {
  color: #8cf8f7;
}
.comment-todo {
  color: #e0e2ea;
  font-weight: bold;
}
.comment-warning {
  color: #fce094;
}
.constant-builtin {
  color: #8cf8f7;
}
.constructor {
  color: #8cf8f7;
}
.cursorline {
  background-color: #2c2e33;
}
.diff-delta {
  color: #8cf8f7;
}
.diff-minus {
  color: #ffc0b9;
}
.diff-plus {
  color: #b3f6c0;
}
.function-builtin {
  color: #8cf8f7;
}
.keyword {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-conditional {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-conditional-ternary {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-coroutine {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-debug {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-directive {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-directive-define {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-exception {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-function {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-import {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-modifier {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-operator {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-repeat {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-return {
  color: #e0e2ea;
  font-weight: bold;
}
.keyword-type {
  color: #e0e2ea;
  font-weight: bold;
}
.label {
  color: #e0e2ea;
  font-weight: bold;
}
.markup-heading {
  color: #e0e2ea;
  font-weight: bold;
}
.markup-heading-1 {
  color: #e0e2ea;
  font-weight: bold;
}
.markup-heading-2 {
  color: #e0e2ea;
  font-weight: bold;
}
.markup-heading-3 {
  color: #e0e2ea;
  font-weight: bold;
}
.markup-heading-4 {
  color: #e0e2ea;
  font-weight: bold;
}
.markup-heading-5 {
  color: #e0e2ea;
  font-weight: bold;
}
.markup-heading-6 {
  color: #e0e2ea;
  font-weight: bold;
}
.markup-italic {
  font-style: italic;
}
.markup-link {
  text-decoration: underline;
}
.markup-link-label {
  text-decoration: underline;
}
.markup-link-url {
  text-decoration: underline;
}
.markup-list {
  color: #8cf8f7;
}
.markup-list-checked {
  color: #8cf8f7;
}
.markup-list-unchecked {
  color: #8cf8f7;
}
.markup-math {
  color: #8cf8f7;
}
.markup-quote {
  color: #8cf8f7;
}
.markup-raw {
  color: #8cf8f7;
}
.markup-raw-block {
  color: #8cf8f7;
}
.markup-strikethrough {
  text-decoration: line-through;
}
.markup-strong {
  font-weight: bold;
}
.markup-underline {
  text-decoration: underline;
}
.module {
  color: #e0e2ea;
  font-weight: bold;
}
.module-builtin {
  color: #8cf8f7;
}
.normal {
  color: #e0e2ea;
  background-color: #14161b;
}
.operator {
  color: #e0e2ea;
}
.punctuation-bracket {
  color: #e0e2ea;
}
.punctuation-delimiter {
  color: #e0e2ea;
}
.punctuation-special {
  color: #8cf8f7;
}
.string {
  color: #b3f6c0;
}
.string-documentation {
  color: #b3f6c0;
}
.string-escape {
  color: #8cf8f7;
}
.string-regexp {
  color: #8cf8f7;
}
.string-special {
  color: #8cf8f7;
}
.string-special-path {
  color: #8cf8f7;
}
.string-special-symbol {
  color: #8cf8f7;
}
.string-special-url {
  text-decoration: underline;
}
.tag {
  color: #8cf8f7;
}
.tag-attribute {
  color: #8cf8f7;
}
.tag-builtin {
  color: #8cf8f7;
}
.tag-delimiter {
  color: #8cf8f7;
}
.type-builtin {
  color: #8cf8f7;
}
.variable {
  color: #e0e2ea;
}
.variable-builtin {
  color: #8cf8f7;
}
.variable-member {
  color: #e0e2ea;
}
.variable-parameter {
  color: #e0e2ea;
}
.variable-parameter-builtin {
  color: #8cf8f7;
}
