/* yellowed */
pre.autumn-hl { background-color: #242424; color: #FFFFFF; }
.ahl-info { color: #0092FF; }
.ahl-label { color: #FFFFFF; }
.ahl-markup.ahl-heading.ahl-marker { font-weight: bold; color: #ffd900; }
.ahl-keyword.ahl-control.ahl-return { font-weight: bold; color: #ffd900; }
.ahl-markup.ahl-bold { font-weight: bold; }
.ahl-namespace { color: #FFFFFF; }
.ahl-markup.ahl-heading.ahl-1 { font-weight: bold; color: #FFFFFF; }
.ahl-constant.ahl-builtin { font-weight: bold; color: #ff80f4; }
.ahl-markup.ahl-heading.ahl-6 { font-weight: bold; color: #FFFFFF; }
.ahl-attribute { color: #FFFFFF; }
.ahl-type { color: #FFFFFF; }
.ahl-diagnostic.ahl-warning { color: #FF9C00; }
.ahl-hint { color: #4DFF00; }
.ahl-constant { font-weight: bold; color: #FFFFFF; }
.ahl-punctuation.ahl-special { font-weight: bold; color: #ff80f4; }
.ahl-warning { color: #FF9C00; }
.ahl-string.ahl-regexp { color: #ff80f4; }
.ahl-variable { color: #FFFFFF; }
.ahl-constructor { font-weight: bold; color: #FFFFFF; }
.ahl-type.ahl-builtin { color: #ffd900; }
.ahl-markup.ahl-heading.ahl-2 { font-weight: bold; color: #FFFFFF; }
.ahl-diagnostic.ahl-error { color: #FF0000; }
.ahl-diff.ahl-minus { color: red; }
.ahl-constant.ahl-character { color: #378b1d; }
.ahl-markup.ahl-raw { color: #378b1d; }
.ahl-diff.ahl-delta.ahl-moved { color: #2a2a2a; }
.ahl-tag { font-weight: bold; color: #ffd900; }
.ahl-comment { color: #6b6b6b; }
.ahl-markup.ahl-link.ahl-text { color: #378b1d; }
.ahl-punctuation { color: #FFFFFF; }
.ahl-markup.ahl-italic { font-style: italic; }
.ahl-special { color: #ffd900; }
.ahl-diff.ahl-plus { color: green; }
.ahl-operator { color: #ffd900; }
.ahl-keyword.ahl-directive { color: #ffd900; }
.ahl-diagnostic.ahl-info { color: #0092FF; }
.ahl-constant.ahl-character.ahl-escape { font-weight: bold; color: #ff80f4; }
.ahl-keyword.ahl-control { color: #ffd900; }
.ahl-markup.ahl-link.ahl-url {  color: #FFFFFF; }
.ahl-variable.ahl-builtin { color: #ffd900; }
.ahl-variable.ahl-parameter { font-style: italic; color: #FFFFFF; }
.ahl-string { color: #378b1d; }
.ahl-diff.ahl-delta { color: #008DFF; }
.ahl-keyword { font-weight: bold; color: #ffd900; }
.ahl-markup.ahl-heading.ahl-3 { font-weight: bold; color: #FFFFFF; }
.ahl-markup.ahl-heading.ahl-5 { font-weight: bold; color: #FFFFFF; }
.ahl-markup.ahl-heading.ahl-4 { font-weight: bold; color: #FFFFFF; }
.ahl-markup.ahl-quote { color: #FFFFFF; }
.ahl-markup.ahl-list { font-weight: bold; color: #ffd900; }
.ahl-keyword.ahl-operator { color: #ffd900; }
.ahl-diagnostic.ahl-hint { color: #4DFF00; }
.ahl-type.ahl-enum { color: #ffd900; }
.ahl-function { font-weight: bold; color: #FFFFFF; }
.ahl-constant.ahl-numeric { color: #ffd900; }
.ahl-error { color: #FF0000; }
