/* zenburn */
pre.autumn-hl { background-color: #3f3f3f; color: #dcdccc; }
.ahl-comment { color: #7f9f7f; }
.ahl-comment.ahl-block.ahl-documentation { font-weight: bold; color: black; }
.ahl-constant { font-weight: bold; color: #dca3a3; }
.ahl-constant.ahl-character.ahl-escape { font-weight: bold; color: #dca3a3; }
.ahl-constant.ahl-numeric { color: #8cd0d3; }
.ahl-diagnostic { background-color: #313633; }
.ahl-diagnostic.ahl-error { color: #e37170; background-color: #3d3535; }
.ahl-diff.ahl-delta { color: #464646; }
.ahl-diff.ahl-minus { color: #cc9393; }
.ahl-diff.ahl-plus { color: #709080; }
.ahl-error { color: #e37170; }
.ahl-function { color: #efef8f; }
.ahl-function.ahl-macro { font-weight: bold; color: #ffcfaf; }
.ahl-hint { color: #8cd0d3; background-color: #313633; }
.ahl-keyword { font-weight: bold; color: #f0dfaf; }
.ahl-keyword.ahl-storage-class { font-weight: bold; color: #c3bf9f; }
.ahl-label {  color: #dfcfaf; }
.ahl-operator {  color: #f0efd0; }
.ahl-punctuation.ahl-delimiter { color: #8f8f8f; }
.ahl-special { color: #cfbfaf; }
.ahl-string { color: #cc9393; }
.ahl-type { font-weight: bold; color: #dfdfbf; }
.ahl-variable { color: #dcdccc; }
.ahl-variable.ahl-builtin { font-weight: bold; color: #dca3a3; }
.ahl-variable.ahl-other.ahl-member { color: #efef8f; }
.ahl-warning { color: #8cd0d3; }
